﻿@model ImagePainting.Site.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Password Reset";
    ViewBag.AccountActive = "active";
}

<div class="jumbotron child">
    <h1>@ViewBag.Title</h1>
</div>

<section class="container body-content">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12 form-group">
                        <h4>Enter your account email.</h4>
                        <hr />
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <br />
                            <input type="submit" class="btn btn-primary" value="Reset Password" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</section>
