﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.AccountActive = "active";
}



<div class="jumbotron child">
    <h1>@ViewBag.Title</h1>
</div>

<section class="container body-content">
 
    <div>
        <p class="text-center">
            Please check your email to reset your password.
        </p>
    </div>
    </section>
