﻿@using ImagePainting.Site.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    ViewBag.AccountActive = "active";
}

<div class="jumbotron child">
    <h1>Login</h1>
</div>

<section class="container body-content">
    <div id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12 form-group">
                            <h4>Enter your email and password.</h4>
    
                        </div>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2 col-xs-3" })
                            <div class="col-md-10 col-xs-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                                
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2 col-xs-3" })
                            <div class="col-md-10 col-xs-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 col-sm-offset-3 col-sm-9">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 col-sm-offset-3 col-sm-9">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 col-sm-offset-3 col-sm-9">
                                <p>
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>
                                <p>
                                    <br />
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


