﻿@model SiteViewModel<RegisterViewModel>

@{
    ViewBag.Title = "Register";
    ViewBag.AccountActive = "active";
    var model = Model.ViewModel;
}

<div class="jumbotron child">
    <h1>Register</h1>
</div>

<section class="container body-content">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary(true, "")
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.Title)
                @Html.For(model).TextBoxFor(m => m.Title, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.FirstName, new { @class = "required-field" })
                @Html.For(model).TextBoxFor(m => m.FirstName, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.LastName, new { @class = "required-field" })
                @Html.For(model).TextBoxFor(m => m.LastName, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.Email, new { @class = "required-field"})
                @Html.For(model).TextBoxFor(m => m.Email, new { @class = "form-control", @maxlength = 128 })
                @Html.For(model).ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.Password, new { @class = "required-field" })
                @Html.For(model).PasswordFor(m => m.Password, new { @class = "form-control", @maxlength = 100 })
                @Html.For(model).ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.ConfirmPassword, new { @class = "required-field" })
                @Html.For(model).PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.For(model).ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.CompanyName)
                @Html.For(model).TextBoxFor(m => m.CompanyName, new { @class = "form-control", @maxlength = 64 })
                @Html.For(model).ValidationMessageFor(m => m.CompanyName, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.FederalIdNo)
                @Html.For(model).TextBoxFor(m => m.FederalIdNo, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.FederalIdNo, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.Address)
                @Html.For(model).TextBoxFor(m => m.Address, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.Address, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.City, new { @class = "required-field" })
                @Html.For(model).TextBoxFor(m => m.City, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.State, new { @class = "required-field" })
                @Html.For(model).DropDownListFor(m => m.State, Model.ViewHelper.GetStateOptions(model?.State), new { @class = "form-control", @maxlength = 2 })
                @Html.For(model).ValidationMessageFor(m => m.State, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.ZipCode)
                @Html.For(model).TextBoxFor(m => m.ZipCode, new { @class = "form-control", @maxlength = 5 })
                @Html.For(model).ValidationMessageFor(m => m.ZipCode, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.HomePhone)
                @Html.For(model).TextBoxFor(m => m.HomePhone, new { @class = "form-control", @maxlength = 16, @data_mask = "(000) 000-0000" })
                @Html.For(model).ValidationMessageFor(m => m.HomePhone, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.WorkPhone)
                @Html.For(model).TextBoxFor(m => m.WorkPhone, new { @class = "form-control", @maxlength = 16, @data_mask = "(000) 000-0000" })
                @Html.For(model).ValidationMessageFor(m => m.WorkPhone, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.CellPhone, new { @class = "required-field" })
                @Html.For(model).TextBoxFor(m => m.CellPhone, new { @class = "form-control", @maxlength = 16, @data_mask = "(000) 000-0000" })
                @Html.For(model).ValidationMessageFor(m => m.CellPhone, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-6 form-group">
                @Html.For(model).LabelFor(m => m.BirthDate, new { @class = "required-field"})
                @Html.For(model).EditorFor(m => m.BirthDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.For(model).ValidationMessageFor(m => m.BirthDate, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                @Html.For(model).LabelFor(m => m.Note)
                @Html.For(model).TextAreaFor(m => m.Note, new { @class = "form-control", @rows = "4" })
                @Html.For(model).ValidationMessageFor(m => m.Note, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default" })
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    }
</section>
<br />
