﻿@{
    ViewBag.Title = "Reset password confirmation";
}


<div class="jumbotron child">
    <h1>@ViewBag.Title</h1>
</div>

<section class="container body-content">

    <div>
        <p class="text-center">
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>

</section>