﻿@{
    ViewBag.Title = "About";
}

<div class="jumbotron child">
    <h1>About Image Painting of Florida Inc.</h1>
</div>

<section class="container body-content text-center">
    <h3>
        Image Painting of Florida Inc. has the finest painters in the industry with decades of experiece. We work with the nation's largest builders like Beazer Homes, M/I Homes, David Weekly etc.
        Please, reach out to us for any of your painting jobs.
    </h3>
</section>