﻿@using Microsoft.AspNet.Identity
@using ImagePainting.Site.Common.Models.Enums
@model SiteViewModel<IUserHelper>

@{
    ViewBag.Title = "Home";
    var isStaff = Model.UserHelper.IsStaff();
}

<div class="jumbotron">
    <h1>Image Painting of Florida Inc.</h1>
    @Html.ActionLink("Learn More", "About", "Home", null, new { @class = "primary-button" })
</div>

<section class="container home">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/intelligence.svg" title="Work Orders" />
            <h2>Work Orders</h2>
            <ul>
                <li><a href="@Url.Action("Index", "WorkOrders")">Existing Work Orders</a></li>
                <li><a href="@Url.Action("WorkOrder", "WorkOrders")">Create New Work Orders</a></li>
                <li><a href="@Url.Action("Index", "WorkOrders")">Process Work Orders</a></li>
            </ul>
        </div>
        @if (isStaff)
        {
            <div class="col-md-4">
                <img src="~/Images/development.svg" title="Calendar" />
                <h2>Tasks</h2>
                <ul>
                    <li><a href="@Url.Action("UpcomingTasks", "Tasks")">View Upcoming Tasks</a></li>
                    <li><a href="@Url.Action("CompletedTasks","Tasks")">View Completed Tasks</a></li>
                    <li><a href="@Url.Action("OverdueTasks", "Tasks")">View Overdue Tasks</a></li>
                </ul>
            </div>
        }
        <div class="col-md-4">
            <img src="~/Images/solutions.svg" title="About Us" />
            <h2>About Us</h2>
            <ul>
                <li><a href="@Url.Action("About", "Home")">Learn More About Us</a></li>
                <li><a href="@Url.Action("Builders","Communities")">See Our Builders</a></li>
                <li><a href="@Url.Action("Index","Communities")">See Our Communities</a></li>
            </ul>
        </div>
    </div>
</section>