﻿@model NavBarViewModel
    

<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Images/site-logo.jpg" />
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="nav-holder">
                <a class="phone" title="Call Us: 813-388-3157" href="tel:8133883157">Call Us: 813-388-3157</a>
                @Html.Partial("_LoginPartial", new ViewDataDictionary { { "FirstName", Model.UserFirstName } })
                <ul class="nav navbar-nav nav-bar-left">
                    @if (Model.IsAdmin)
                    {
                        <li class="dropdown @ViewBag.DashboardActive">@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    }
                    @if (Model.IsAdminOrEmployee)
                    {
                        <li class="dropdown @ViewBag.CommunitiesActive">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Builders</a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">

                                <li>@Html.ActionLink("Builders", "Builders", "Communities")</li>

                                <li>@Html.ActionLink("Communities", "Index", "Communities")</li>
                                <li>@Html.ActionLink("Plans", "Plans", "Communities")</li>
                                <li>@Html.ActionLink("Interior Color Schemes", "InteriorColorSchemes", "Communities")</li>
                                <li>@Html.ActionLink("Exterior Color Schemes", "ExteriorColorSchemes", "Communities")</li>
                            </ul>
                        </li>
                    }
                    @if (Model.IsStaff)
                    {
                        <li class="dropdown @ViewBag.WorkOrdersActive">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Work Orders</a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                @if (Model.IsAdmin)
                                {
                                    <li>@Html.ActionLink("Work Orders", "Index", "WorkOrders")</li>
                                }
                                <li>@Html.ActionLink("Upcoming Tasks", "UpcomingTasks", "Tasks")</li>
                                <li>@Html.ActionLink("Completed Tasks", "CompletedTasks", "Tasks")</li>
                                <li>@Html.ActionLink("Overdue Tasks", "OverdueTasks", "Tasks")</li>
                                <li>@Html.ActionLink("All Tasks", "AllTasks", "Tasks")</li>
                            </ul>
                        </li>
                    }
                    @if (Model.IsAdmin)
                    {
                        <li class="dropdown @ViewBag.SetupActive">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Setup</a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                @if (Model.IsAdmin)
                                {
                                    <li>@Html.ActionLink("Tasks", "Index", "Tasks")</li>
                                        <li>@Html.ActionLink("Labor Costs", "LaborCosts", "Communities")</li>
                                }
                                <li>@Html.ActionLink("Paint Stores", "Index", "PaintStores")</li>
                            </ul>
                        </li>
                    }
                    @if (Model.IsAdmin)
                    {
                        <li class="dropdown @ViewBag.ReportActive">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Reports</a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                <li>@Html.ActionLink("Tasks Report", "Tasks", "Reports")</li>
                                <li>@Html.ActionLink("Revenue Projection Report", "ProjectedRevenue", "Reports")</li>
                                <li>@Html.ActionLink("Labor Projection Report", "ProjectedLabor", "Reports")</li>
                                <li>@Html.ActionLink("Purchase Order Report", "PurchaseOrder", "Reports")</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>

