﻿@model IEnumerable<ImagePainting.Site.Common.Models.UserInfo>
@{
    ViewBag.Title = "Index";
    ViewBag.AccountActive = "active";
}

<div class="jumbotron child">
    <h1>Users</h1>
</div>

<section class="container body-content table-responsive">
    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Active</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Email</th>
                <th>Phone Numbers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@(user.Active ? "Yes" : "No")</td>
                    <td>@Html.ActionLink($"{user.FirstName} {user.LastName}", "UserProfile", new { id = user.Id })</td>
                    <td>
                        @if (user.Roles.IsNullOrEmpty())
                        {
                            @Html.ActionLink("Assign Role", "UserRoles", new { id = user.Id })
                        }

                        else
                        {
                            @Html.ActionLink(string.Join(", ", user.Roles.Select(x => x.Name)), "UserRoles", new { id = user.Id })
                        }
                    </td>
                    <td>@user.Email</td>
                    <td>@($"{user.WorkPhone} {user.CellPhone} {user.HomePhone}")</td>
                </tr>
            }
        </tbody>
    </table>
</section>
