﻿@model UserInfo

@{
    ViewBag.Title = "User Roles";
    ViewBag.AccountActive = "active";

    var roles = Enum.GetValues(typeof(UserRole));
}

<div class="jumbotron child">
    <h1>User Roles </h1>
</div>

<section class="container body-content">
    @using (Html.BeginForm("UserRoles", "Users", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.Id)

        <h2>
            @Model.FullName
        </h2>

        for(var i = 0; i < roles.Length; i++)
        {
            var role = roles.GetValue(i);
            var isInRole = Model.Roles.Any(x => x.Name == role.ToString());
                <div class="checkbox">
                    <label class="check">
                        @Html.Hidden($"Roles[{i}].Role", role)
                        @Html.CheckBox($"Roles[{i}].Selected", isInRole) @role
                        <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>

                    </label>
                </div>
        }

        <div class="form-group">
            @Html.ActionLink("Cancel", "Index", "Users", null, new { @class = "btn btn-default" })
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    }
            </section>