﻿@model SiteViewModel<UserInfo>

@{
    ViewBag.Title = "Profile";
    ViewBag.AccountActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
    var model = Model.ViewModel;
}

<div class="jumbotron child">
    <h1>User Profile - @(model.FullName)</h1>
</div>

<section class="container body-content">
    <div class="col-md-12">
        @if (model.Id == ViewBag.UserId)
        {
            @Html.ActionLink("Update Password", "ChangePassword", "Manage", null, new { @class = "pull-right"})
        }
    </div>

    @using (Html.BeginForm("UserProfile", "Users", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.For(model).HiddenFor(x => x.Id)

        <div class="checkbox">
            <label class="check">
                @(Html.For(model).CheckBoxFor(x => x.Active, new { htmlAttributes = new { @formControl = false } }))
                <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                Active
            </label>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.Title))
                @Html.For(model).TextBoxFor(m => m.Title, new { @class = "form-control", @maxlength = 32})
                @Html.For(model).ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.FirstName, new { @class = "required-field"}))
                @Html.For(model).TextBoxFor(m => m.FirstName, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.LastName, new { @class = "required-field" }))
                @Html.For(model).TextBoxFor(m => m.LastName, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.Email))
                @Html.For(model).TextBoxFor(m => m.Email, new { @class = "form-control", @disabled = true, @maxlength = 16 })
                @Html.For(model).ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.CompanyName))
                @Html.For(model).TextBoxFor(m => m.CompanyName, new { @class = "form-control", @maxlength = 64})
                @Html.For(model).ValidationMessageFor(m => m.CompanyName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.FederalIdNo))
                @Html.For(model).TextBoxFor(m => m.FederalIdNo, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.FederalIdNo, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.Address))
                @Html.For(model).TextBoxFor(m => m.Address, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.Address, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.City, new { @class = "required-field" }))
                @Html.For(model).TextBoxFor(m => m.City, new { @class = "form-control", @maxlength = 32 })
                @Html.For(model).ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.State, new { @class = "required-field" }))
                @Html.For(model).DropDownListFor(m => m.State, Model.ViewHelper.GetStateOptions(model?.State), new { @class = "form-control", @maxlength = 2 })
                @Html.For(model).ValidationMessageFor(m => m.State, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.ZipCode))
                @Html.For(model).TextBoxFor(m => m.ZipCode, new { @class = "form-control", @maxlength = 5 })
                @Html.For(model).ValidationMessageFor(m => m.ZipCode, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.HomePhone))
                @Html.For(model).TextBoxFor(m => m.HomePhone, new { @class = "form-control", @maxlength = 16, @data_mask = "(000) 000-0000" })
                @Html.For(model).ValidationMessageFor(m => m.HomePhone, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
               @(Html.For<UserInfo>().LabelFor(m => m.WorkPhone))
               @Html.For(model).TextBoxFor(m => m.WorkPhone, new { @class = "form-control", @maxlength = 16, @data_mask = "(000) 000-0000" })
               @Html.For(model).ValidationMessageFor(m => m.WorkPhone, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.CellPhone, new { @class = "required-field" }))
                @Html.For(model).TextBoxFor(m => m.CellPhone, new { @class = "form-control", @maxlength = 16, @data_mask = "(000) 000-0000" })
                @Html.For(model).ValidationMessageFor(m => m.CellPhone, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @(Html.For<UserInfo>().LabelFor(m => m.BirthDate))
                @Html.For(model).TextBoxFor(m => m.BirthDate, new { @class = "form-control", @Value = model.BirthDate.ToString("yyyy-MM-dd"), @type = "date" })
                @Html.For(model).ValidationMessageFor(m => m.BirthDate, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                @(Html.For<UserInfo>().LabelFor(m => m.Note))
                @Html.For(model).TextAreaFor(m => m.Note, new { @class = "form-control", @rows = "2" })
                @Html.For(model).ValidationMessageFor(m => m.Note, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <a href="@Url.Action("Index", $"{(isAdmin ? "Users" : "Home")}")" class="btn btn-default">Cancel</a>
            @if (isAdmin)
            {
                <button class="btn btn-danger"
                        data-execute="true"
                        data-url="@Url.Action("DeleteUser", "Users")"
                        data-data="@((new {id = model.Id}).ToJson())"
                        data-confirmmessage='Do you want to delete "@(model.FullName)"?'
                        data-confirmtitle="Delete User?"
                        data-redirect="@Url.Action("Index", "Users")"> Delete
                </button>
            }
            <input type="submit" class="btn btn-primary" value="Update" />
        </div>
    }
</section>
<br />
