﻿@*@model ImagePainting.Site.Common.Models.UserInfo
@using ImagePainting.Site.Common.Models.Enums

@{
    ViewBag.Title = "User";
    ViewBag.AccountActive = "active";
}

<div class="jumbotron child">
    <h1>User Profile</h1>
</div>

<section class="container body-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.Id)

        <div class="col-md-12 form-group">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.Active) Active
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.CompanyName)
                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.CompanyName)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.FederalIdNo)
                @Html.TextBoxFor(m => m.FederalIdNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FederalIdNo)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.City)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.State)
                @Html.DropDownListFor(m => m.State, ViewHelper.GetStateOptions(Model?.State), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.State)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.ZipCode)
                @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.ZipCode)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.HomePhone)
                @Html.TextBoxFor(m => m.HomePhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.HomePhone)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.WorkPhone)
                @Html.TextBoxFor(m => m.WorkPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.WorkPhone)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.CellPhone)
                @Html.TextBoxFor(m => m.CellPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CellPhone)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.BirthDate)
                @Html.EditorFor(m => m.BirthDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(m => m.BirthDate)
            </div>
        </div>

        
        @if(!User.IsInRole(UserRole.Administrator.ToString()) || (User.Identity.Name == Model.Id))
        {
            <h1>I was here</h1>
        }

        <div>
            @if (!User.IsInRole(UserRole.Administrator.ToString()) || (User.Identity.Name == Model.Id))
            {
                <h1>I was here</h1>
            }
            @Html.ActionLink("Update Password", "ResetPassword", "Account", new { id = Model.Id})
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.Note)
                @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @rows = "2" })
                @Html.ValidationMessageFor(m => m.Note)
            </div>
        </div>

        <div>
            <input type="submit" class="btn btn-primary pull-left" value="Update" />
        </div>
    }
</section>
<br />*@
