﻿@using System.Web.Mvc.Html

@helper CancelButton(string action, string controller, object routeValues = null) {
    var currentUrl = Request.RawUrl;
    var targeUrl = Request.UrlReferrer?.AbsolutePath;

    if (string.IsNullOrWhiteSpace(targeUrl) || currentUrl.Equals(targeUrl, StringComparison.InvariantCultureIgnoreCase))
    {
        var urlHelper = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Url;
        targeUrl = urlHelper.Action(action, controller, routeValues);
    }

    <a class="btn btn-default" href="@targeUrl" id="btn-cancel">Cancel</a>
}

@helper ActionLink(System.Web.Mvc.HtmlHelper<dynamic> htmlHelper, string text, string actionName, string controllerName, object routeValues = null, object htmlAttributes = null) { 
    if (!string.IsNullOrWhiteSpace(text))
    {
        @htmlHelper.ActionLink(text, actionName, controllerName, routeValues, htmlAttributes)
    }
}