﻿
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Image Painting of Florida</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="language" content="english">
    <meta name="rating" content="global">
    <meta name="distribution" content="global">
    <meta name="robots" content="index,follow">
    <meta name="description" content="House Painting, Contractor, Construction, New Homes, Painting">
    <meta name="keywords" content="Painting, Contractor, Construction, New Homes, House Painting">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,800" rel="stylesheet">
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'bf20a1f9-10a2-49c7-91a7-7e7273547bf5'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
@{
    Html.RenderAction("NavBar", "Home");
}

<main class="body-content">
    <div class="main-content">
        @RenderBody()
    </div>
    <section class="partial-content" style="display: none;"></section>
    <div id="loading-spinner">
        <div id="spinner-container">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <footer>
        <p>23110 SR 54, Suite 307, Lutz, FL</p>
        <p>&copy; @DateTime.Now.Year - Image Painting of Florida Inc. </p>
    </footer>
</main>

@Html.Partial("_ModalDialog")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/rivets")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/typeahead")
@Scripts.Render("~/bundles/bootstrapcombobox")
@Scripts.Render("~/bundles/jqueryMask")
@Scripts.Render("~/bundles/app")
@Scripts.Render("/bundles/jsignature")
<script>
    app.common.setAppRoot("@Request.ApplicationPath");
</script>
@RenderSection("scripts", required: false)
<script>
    app.common.initPage();
</script>
</body>
</html>
