﻿@using Microsoft.AspNet.Identity
@using System.Security.Claims
@using ImagePainting.Site.Common.Models.Enums

@{
    var firstName = (string) ViewData["FirstName"];
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (!firstName.IsNullOrEmpty())
        {
        <li>
            <a>Hello @firstName!</a>
        </li>
        }
        <li class="dropdown @ViewBag.AccountActive">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Account</a>
            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                <li>@Html.ActionLink("My Profile", "UserProfile", "Users", new { id = User.Identity.GetUserId() }, new { })</li>
                @if (User.IsInRole(UserRole.Administrator.ToString()))
                {
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                }
                <li><a href="javascript:document.getElementById('logoutForm').submit()")>Log Out</a></li>
            </ul>
        </li>

    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
