﻿<div class="modal fade" tabindex="-1" id="app-modal-dialog" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close x-cancel-btn" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <p><!--Content--></p>
            </div>
            <div class="modal-footer">
                <!--Buttons Here-->
            </div>
        </div>
    </div>
</div>
