﻿@model SiteViewModel<SuppliesViewModel>

@{
    var model = Model.ViewModel;
    var InteriorSupplies = model.Supplies?
        .Where(x => x.SupplyType?.SupplyCategory == SupplyCategory.Interior);
    var ExteriorSupplies = model.Supplies?
        .Where(x => x.SupplyType?.SupplyCategory == SupplyCategory.Exterior);
    var supplyTypeExteriorList = Model.ViewHelper.GetSupplyTypeOptions(SupplyCategory.Exterior);
    var supplyTypeInteriorList = Model.ViewHelper.GetSupplyTypeOptions(SupplyCategory.Interior);

    var index = 0;
    var paintStoreId = model.PaintStoreId.IsNull() ? 0 : model.PaintStoreId;

    var builderId = model.BuilderId;
}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" data-url="/Communities/UpdateSuppliesPage?builderId=@builderId&paintStoreId=">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#exterior">Exterior</a>
                </h4>
            </div>
            <div id="exterior" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">
                        @Html.DropDownList("supply-type", Model.ViewHelper.GetSupplyTypeOptions(SupplyCategory.Exterior),ViewHelper.GetHtmlAttributes(@class: "hidden"))
                        <table class="table striped">
                            <thead>
                                <tr>
                                    <th class="required-field">Supply Type</th>
                                    <th class="required-field">Name/Description at Paint Store</th>
                                    <th class="required-field fixed-width">Cost</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="@(SupplyCategory.Exterior)"  data-builderid="@builderId">
                                @Html.DropDownList("SupplyTypeExteriorList", supplyTypeExteriorList, new { @class = "form-control supply-type-list" })

                                @for (int i = 0, len = ExteriorSupplies.Count(); i < len; i++)
                                {
                                    var item = ExteriorSupplies.ElementAt(i);

                                <tr>
                                    @Html.Hidden($"Supplies[{i}].SupplyType.SupplyCategory", SupplyCategory.Exterior, new { @class = "supply-category" })
                                    @Html.Hidden($"Supplies[{i}].PaintStoreId", paintStoreId, new { @class = "paintStoreId" })
                                    @Html.Hidden($"Supplies[{i}].BuilderId", builderId, new { @class = "supply-builderId" })
                                    @Html.Hidden($"Supplies[{i}].Id", item.Id, new { @class = "supply-id" })
                                    <td>
                                        @Html.Hidden($"Supplies[{i}].SupplyType.Name", item.SupplyType.Name, new { @class = "supply-type-name" })

                                            @Html.DropDownList($"Supplies[{i}].SupplyTypeId", Model.ViewHelper.GetSupplyTypeOptions(SupplyCategory.Exterior, item.SupplyTypeId),ViewHelper.GetHtmlAttributes(@class: "supply-type supply-type-list"))
                                            @Html.ValidationMessage($"Supplies[{i}].SupplyTypeId")
                                        </td>
                                        <td>
                                            @Html.TextBox($"Supplies[{i}].Name", item.Name, new { @class = "form-control supply-description", @maxLength = 50 })
                                            @Html.ValidationMessage($"Supplies[{i}].Description")
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-addon">$</div>
                                                @Html.TextBox($"Supplies[{i}].Cost", item.Cost, new { @class = "form-control supply-cost", @type = "number" })
                                            </div>
                                            @Html.ValidationMessage($"Supplies[{i}].Cost")
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-default pull-right addSupply-btn">New Supply Item</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#interior">Interior</a>
                </h4>
            </div>
            <div id="interior" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.DropDownList("supply-type", Model.ViewHelper.GetSupplyTypeOptions(SupplyCategory.Interior),ViewHelper.GetHtmlAttributes(@class: "hidden"))
                    <table class="table striped">
                        <thead>
                            <tr>
                                <th class="required-field">Supply Type</th>
                                <th class="required-field">Name/Description at Paint Store</th>
                                <th class="required-field">Cost</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="@(SupplyCategory.Interior)" data-builderid="@builderId">
                            @Html.DropDownList("SupplyTypeInteriorList", supplyTypeInteriorList, new { @class = "form-control supply-type-list" })
                            @{
                                for (int i = 0, len = InteriorSupplies.Count(); i < len; i++)
                                {
                                    var item = InteriorSupplies.ElementAt(i);
                                    index = i + ExteriorSupplies.Count();
                                    <tr>
                                        @Html.Hidden($"Supplies[{index}].SupplyType.SupplyCategory", SupplyCategory.Interior, new { @class = "supply-category" })
                                        @Html.Hidden($"Supplies[{index}].PaintStoreId", paintStoreId, new { @class = "paintStoreId" })
                                        @Html.Hidden($"Supplies[{index}].BuilderId", builderId, new { @class = "supply-builderId" })
                                        @Html.Hidden($"Supplies[{index}].Id", item.Id, new { @class = "supply-id" })
                                        <td>
                                            @Html.Hidden($"Supplies[{index}].SupplyType.Name", item.SupplyType.Name, new { @class = "supply-type-name" })
                                            @Html.DropDownList($"Supplies[{index}].SupplyTypeId", Model.ViewHelper.GetSupplyTypeOptions(SupplyCategory.Interior, item.SupplyTypeId),ViewHelper.GetHtmlAttributes(@class: "supply-type supply-type-list"))
                                            @Html.ValidationMessage($"Supplies[{index}].SupplyTypeId")
                                        </td>
                                        <td>
                                            @Html.TextBox($"Supplies[{index}].Name", item.Name, new { @class = "form-control supply-description", @maxLength = 50 })
                                            @Html.ValidationMessage($"Supplies[{index}].Description")
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-addon">$</div>
                                                @Html.TextBox($"Supplies[{index}].Cost", item.Cost, new { @class = "form-control supply-cost", @type = "number" })
                                            </div>
                                            @Html.ValidationMessage($"Supplies[{index}].Cost")
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div>
                        <button class="btn btn-default pull-right addSupply-btn">New Supply Item</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

