﻿@model SiteViewModel<Builder>

@{
    ViewBag.Title = "Builder";
    ViewBag.CommunitiesActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
    var model = Model.ViewModel;
}

@if (!ViewBag.IsPartial)
{
    <div class="jumbotron child">
        <h1>@(string.IsNullOrEmpty(model.Name) ? "New Builder" : $"Builder - {model.Name}")</h1>
    </div>
}

<section class="container body-content">
    @if (TempData["Notification"] != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> &nbsp;@TempData["Notification"]
        </div>
    }

    @if (ViewBag.IsPartial)
    {
        <div class="form-group">
            <h2>@(string.IsNullOrEmpty(model.Name) ? "New Builder" : $"Builder - {model.Name}")</h2>
        </div>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @(Html.For(model).HiddenFor(x => x.Id))

        <div class="form-group">
            <div class="checkbox">
                <label class="check">
                    @(Html.For(model).CheckBoxFor(x => x.Active,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, formControl: false))) Active
                    <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.Name, new { @class = "required-field" }))
                @(Html.For(model).TextBoxFor(x => x.Name,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 64)))
                @(Html.For(model).ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" }))
            </div>

            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.Address))
                @(Html.For(model).TextBoxFor(x => x.Address,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 128)))
                @(Html.For(model).ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" }))
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.City, htmlAttributes: new { @class = "control-label" }))
                @(Html.For(model).TextBoxFor(x => x.City,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.City, "", new { @class = "text-danger" }))
            </div>

            <div class="col-md-6 col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.State, htmlAttributes: new { @class = "control-label required-field" }))
                @(Html.For(model).DropDownListFor(x => x.State, Model.ViewHelper.GetStateOptions(model?.State),ViewHelper.GetHtmlAttributes(disabled: !isAdmin)))
                @(Html.For(model).ValidationMessageFor(x => x.State))
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.ZipCode, htmlAttributes: new { @class = "control-label" }))
                @(Html.For(model).TextBoxFor(x => x.ZipCode,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.ZipCode, "", new { @class = "text-danger" }))
            </div>

            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.Abbreviation, htmlAttributes: new { @class = "control-label required-field" }))
                @(Html.For(model).TextBoxFor(x => x.Abbreviation,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 3)))
                @(Html.For(model).ValidationMessageFor(x => x.Abbreviation, "", new { @class = "text-danger" }))
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.Phone, htmlAttributes: new { @class = "control-label" }))
                @(Html.For(model).TextBoxFor(x => x.Phone,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50, dataMask: "(000) 000-0000")))
                @(Html.For(model).ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" }))
            </div>
            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.Fax, htmlAttributes: new { @class = "control-label" }))
                @(Html.For(model).TextBoxFor(x => x.Fax,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50, dataMask: "(000) 000-0000")))
                @(Html.For(model).ValidationMessageFor(x => x.Fax, "", new { @class = "text-danger" }))
            </div>
        </div>
        if (model.Id == default(int))
        {
            <div class="form-group">
                <label>Copy Costs From</label>
                @Html.DropDownList("builderCopiedCostId", Model.ViewHelper.GetSingleBuilderOptions(),ViewHelper.GetHtmlAttributes(disabled: !isAdmin))
            </div>
        }

        <div class="form-group">
            @(Html.For(model).LabelFor(x => x.Notes, htmlAttributes: new { @class = "control-label" }))
            @(Html.For(model).TextAreaFor(x => x.Notes,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, rows: 4)))
            @(Html.For(model).ValidationMessageFor(x => x.Notes, "", new { @class = "text-danger" }))
        </div>

        <div class="form-group">
            @PageHelpers.CancelButton("Builders", "Communities")

            @if (model.Id != default(int) && isAdmin)
            {
                <button class="btn btn-danger"
                        data-execute="true"
                        data-url="@Url.Action("DeleteBuilder", "Communities")"
                        data-data="@((new {id = model.Id}).ToJson())"
                        data-confirmmessage='Do you want to delete "@Model.ViewModel.Name" and all the associated communities?'
                        data-confirmtitle="Delete Builder?"
                        data-redirect="@Url.Action("Builders", "Communities")">
                    Delete
                </button>
            }

            @if (isAdmin)
            {
                <input type="submit" value="Save" class="btn btn-primary" />
            }
        </div>
    }

    @if (model.Id > 0)
    {
        var plans = (model.Plans ?? new List<Plan>()).OrderBy(x => x.Name);
        <div class="form-group">
            <a data-toggle="collapse" href="#builder-plans" aria-expanded="true" aria-controls="builder-plans">
                <strong>Plans</strong>
            </a>
            <div class="panel panel-default collapse" id="builder-plans">
                <div class="panel-body">
                    @if (isAdmin)
                    {
                        <a class="btn btn-primary" href="@Url.Action("Plan", "Communities", new { id = 0, builderId = model.Id})">Add Plan</a>
                    }
                    <br />
                    <br />
                    <ul class="list-group">
                        @foreach (var plan in plans)
                        {
                            <li class="list-group-item">@Html.ActionLink(plan.Name, "Plan", "Communities", new { id = plan.Id }, null)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (model.Id > 0 && isAdmin)
    {
        <div class="form-group">
            @{ Html.RenderAction("Files", "FileUploads", new { ownerId = model.Id, ownerType = FileOwnerType.Builder }); }
        </div>
    }
</section>