﻿@model SiteViewModel<List<Builder>>

@{
    ViewBag.Title = "Builders";
    ViewBag.CommunitiesActive = "active";

    var isAdmin = Model.UserHelper.IsUserAdmin();
    var model = Model.ViewModel;
}

<div class="jumbotron child">
    <h1>Builders</h1>
</div>

<section class="container body-content">
    @if (isAdmin)
    {
    <div class="row add-container">
        <div class="col-md-12">
            @Html.ActionLink("Add", "Builder", null, new { @class = "btn btn-primary pull-right" })

        </div>
    </div>
    }

    <table class="table data-table">
        <thead>
            <tr>
                <th>Active</th>
                <th>Name</th>
                <th>Address</th>
                @if (isAdmin)
                {
                    <th>Supplies</th>
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var builder in model)
            {
                <tr>
                    <td>@(builder.Active ? "Yes" : "No")</td>
                    <td>@Html.ActionLink(builder.Name, "builder", new { id = builder.Id }, new { @title = "click to edit" })</td>
                    <td>@builder.Address, @builder.City @builder.State</td>

                    @if (isAdmin)
                    {
                        <td>@Html.ActionLink("Supplies", "Supplies", "Communities", new { builderId = builder.Id }, null)</td>
                        <td>@Html.ActionLink("Pricing", "Costs", new { id = builder.Id })</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</section>