﻿@model SiteViewModel<ImagePainting.Site.Domain.Models.CommunityViewModel>

@{
    ViewBag.Title = "Community";
    ViewBag.CommunitiesActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
    var model = Model.ViewModel;
}

@if (!ViewBag.IsPartial)
{
    <div class="jumbotron child">
        <h1>@(string.IsNullOrEmpty(model.Name) ? "New Community" : $"Community - {model.Name}")</h1>
    </div>
}

<section class="container body-content">
    @if (ViewBag.IsPartial)
    {
        <h2>@(string.IsNullOrEmpty(model.Name) ? "New Community" : $"Community - {model.Name}")</h2>
    }

    @using (Html.BeginForm("Community", "Communities", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @(Html.For(model).HiddenFor(x => x.Id))

        <div class="checkbox">
            <label class="check">
                @(Html.For(model).CheckBoxFor(x => x.Active,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, formControl: false))) Active
                <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
            </label>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="Name">Community Name</label>
                @(Html.For(model).TextBoxFor(x => x.Name,ViewHelper.GetHtmlAttributes(maxLength: 64, disabled: !isAdmin)))
                @(Html.For(model).ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" }))
            </div>

            <div class="form-group col-md-6">
                <label class="required-field" for="Name">Abbreviation</label>
                @(Html.For(model).TextBoxFor(x => x.Abbreviation,ViewHelper.GetHtmlAttributes(maxLength: 3, disabled: !isAdmin)))
                @(Html.For(model).ValidationMessageFor(x => x.Abbreviation, "", new { @class = "text-danger" }))
            </div>
        </div>

        <div class="form-group">
            <label class="required-field" for="Name">Builder</label>

            @(Html.For(model).ListBoxFor(x => x.BuilderIds, Model.ViewHelper.GetBuilderOptions(model.Builders.Select(x => x.Id).ToList()),ViewHelper.GetHtmlAttributes(multiple: true, disabled: !isAdmin)))
            @(Html.For(model).ValidationMessageFor(x => x.BuilderIds, null, new { @class = "text-danger" }))
        </div>
        <div class="form-group">
            <label for="Notes">Notes</label>
            @(Html.For(model).TextAreaFor(x => x.Notes,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, rows: 4)))
        </div>

        <div class="form-group">
            @PageHelpers.CancelButton("Index", "Communities")
            @if (model.Id > 0 && isAdmin)
            {
                <button class="btn btn-danger"
                        data-execute="true"
                        data-url="@Url.Action("DeleteCommunity", "Communities")"
                        data-data="@((new {id = model.Id}).ToJson())"
                        data-confirmmessage='Do you want to delete "@Model.ViewModel.Name" and all the associated plans?'
                        data-confirmtitle="Delete Community?"
                        data-redirect="@Url.Action("Index", "Communities")">
                    Delete
                </button>
            }

            @if (isAdmin)
            {
                <input type="submit" value="Save" class="btn btn-primary" />
            }
        </div>
    }

    @if (model.Id > 0 && isAdmin)
    {
        Html.RenderAction("Files", "FileUploads", new { ownerId = model.Id, ownerType = FileOwnerType.Community });
    }
</section>