﻿@model SiteViewModel<ImagePainting.Site.Common.Models.Builder>

@{
    ViewBag.Title = "Pricing";
    var model = Model.ViewModel;

    if (model.Id == default(int))
    {
        ViewBag.SetupActive = "active";
    }
    else
    {
        ViewBag.CommunitiesActive = "active";
    };

    var isAdmin = Model.UserHelper.IsUserAdmin();
}

<div class="jumbotron child">
    <h1>@($"Pricing - {model.Name}")</h1>
</div>

<section class="container body-content">
    <div class="row">
        @if (model.Id != default(int) && isAdmin)
        {
            @Html.ActionLink("New Cost", "Cost", new { id = model.Id }, new { @class = "btn btn-primary pull-right" })
        }
    </div>
    @using (Html.BeginForm("Costs", "Communities", FormMethod.Post, new { novalidate = true }))
    {
        @Html.AntiForgeryToken()

        @(Html.For(model).HiddenFor(x => x.Id))

        <div class="row">
            @for (var i = 0; i < model.Costs.Count(); i++)
            {
                var cost = model.Costs.ElementAt(i);
                <div class="col-md-3 form-group">
                    @Html.Hidden($"Builder.Costs[{i}].BuilderId", model.Id)
                    @Html.Hidden($"Builder.Costs[{i}].Id", @cost.Id)
                    @Html.Hidden($"Builder.Costs[{i}].CostItemId", @cost.CostItemId)
                    @(cost.CostItem.Name == SiteContants.BASE_PRICE ? Html.Label(cost.CostItem.Name, new { @class = "base-price no-margin" }) : Html.ActionLink(cost.CostItem.Name, "Cost", new { id = model.Id, costId = cost.Id}))
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBox($"Builder.Costs[{i}].Amount", @cost.Amount, ViewHelper.GetHtmlAttributes(type:"number", disabled:!isAdmin))
                    </div>
                </div>
            }
        </div>

        <div class="form-group">
            @Html.ActionLink("Cancel", "Builders", null, new { @class = "btn btn-default", id = "btn-cancel" })


            @if (isAdmin)
            {
                <input type="submit" value="Save" class="btn btn-primary" />
            }
        </div>
    }
</section>