﻿@model SiteViewModel<ImagePainting.Site.Common.Models.Cost>

@{
    var model = Model.ViewModel;
    ViewBag.Title = string.IsNullOrEmpty(model.CostItem.Name) ? "New Cost" : $"Cost - {model.CostItem.Name}";
    var isAdmin = Model.UserHelper.IsUserAdmin();
    var noBuilder = model.BuilderId == default(int) ? true : false;
    var isBasePrice = model.CostItemId == 1 ? true : false;
    var notEditable = noBuilder || isBasePrice || !isAdmin;
    if (noBuilder)
    {
        ViewBag.SetupActive = "active";
    }
    else
    {
        ViewBag.CommunitiesActive = "active";
    };

}

<div class="jumbotron child">
    <h1>@ViewBag.Title</h1>
</div>

<section class="container body-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row form-group">
            @(Html.For(model).LabelFor(x => x.BuilderId, "Builder",ViewHelper.GetHtmlAttributes(@class: "control-label col-md-2", formControl: false)))
            <div class="col-md-10">
                @(Html.For(model).HiddenFor(x => x.BuilderId))
                <input type="number" name="Id" value="@Model.ViewModel.Id" hidden />

                @(Html.For(model).TextBoxFor(x => x.Builder.Name, model.Builder.Name,ViewHelper.GetHtmlAttributes(@class: "form-control", @disabled: true)))
            </div>
        </div>

        <div class="row form-group">
            @(Html.For(model).LabelFor(x => x.CostItem.Name, "Name",ViewHelper.GetHtmlAttributes(@class: "control-label col-md-2 required-field", formControl: false)))

            @if (model.CostItemId == default(int))
            {
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            @(Html.For(model).DropDownListFor(x => x.CostItemId, Model.ViewHelper.GetCostItemOptions(model.BuilderId, model.CostItemId, true),ViewHelper.GetHtmlAttributes()))
                            @(Html.For(model).ValidationMessageFor(x => x.CostItemId, string.Empty, new { @class = "text-danger" }))
                        </div>
                        <div class="col-md-6">
                            @(Html.For(model).TextBoxFor(x => x.CostItem.Name,ViewHelper.GetHtmlAttributes(@class: "form-control", placeholder: "Enter Name of Cost Item")))
                            @(Html.For(model).ValidationMessageFor(x => x.CostItem.Name, string.Empty, new { @class = "text-danger name-validate" }))
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-10">
                    @(Html.For(model).TextBoxFor(x => x.CostItem.Name,ViewHelper.GetHtmlAttributes(disabled: notEditable)))
                    @(Html.For(model).HiddenFor(x => x.CostItemId))
                    @(Html.For(model).ValidationMessageFor(x => x.CostItem.Name))
                </div>
            }
        </div>

        <div class="row form-group">
            @(Html.For(model).LabelFor(x => x.CostItem.TaskType, "Task Type",ViewHelper.GetHtmlAttributes(@class: "control-label col-md-2", id: "taskTypeLabel", formControl: false)))
            <div class="col-md-10">
                @(Html.For(model).DropDownListFor(x => x.CostItem.TaskType, ViewHelper.GetTaskTypeOptions(model.CostItem.TaskType),ViewHelper.GetHtmlAttributes(disabled: notEditable)))
                @(Html.For(model).ValidationMessageFor(x => x.CostItem.TaskType))
            </div>
        </div>

        <div class="row form-group">
            @(Html.For(model).LabelFor(x => x.Amount,ViewHelper.GetHtmlAttributes(@class: "control-label col-md-2 required-field", formControl: false)))
            <div class="col-md-10">
                @(Html.For(model).TextBoxFor(x => x.Amount,ViewHelper.GetHtmlAttributes(disabled: notEditable, type: "number")))
                @(Html.For(model).ValidationMessageFor(x => x.Amount, "", new { @class = "text-danger" }))
            </div>
        </div>

        <div class="row form-group">
            @(Html.For(model).LabelFor(x => x.CostItem.PercentLivingSqft, "% of Living SQFT",ViewHelper.GetHtmlAttributes(@class: "control-label col-md-2", formControl: false)))
            <div class="col-md-10">
                @(Html.For(model).TextBoxFor(x => x.CostItem.PercentLivingSqft,ViewHelper.GetHtmlAttributes(type: "number", @class: "percentage-sqft")))
                @(Html.For(model).ValidationMessageFor(x => x.CostItem.PercentLivingSqft, string.Empty, new { @class = "text-danger" }))
            </div>
        </div>

        <div class="row form-group">
            @(Html.For(model).LabelFor(x => x.CostItem.PercentGarageSqft, "% of Garage SQFT",ViewHelper.GetHtmlAttributes(@class: "control-label col-md-2", formControl: false)))
            <div class="col-md-10">
                @(Html.For(model).TextBoxFor(x => x.CostItem.PercentGarageSqft,ViewHelper.GetHtmlAttributes(type: "number", @class: "percentage-sqft")))
                @(Html.For(model).ValidationMessageFor(x => x.CostItem.PercentGarageSqft, "", new { @class = "text-danger" }))
            </div>
        </div>

        <div class="row form-group">
            @(Html.For(model).LabelFor(x => x.CostItem.PercentOfTotalSize, "% of Total SQFT",ViewHelper.GetHtmlAttributes(@class: "control-label col-md-2", formControl: false)))
            <div class="col-md-10">
                @(Html.For(model).TextBoxFor(x => x.CostItem.PercentOfTotalSize,ViewHelper.GetHtmlAttributes(disabled: notEditable, type: "number", @class: "percentage-sqft")))
                @(Html.For(model).ValidationMessageFor(x => x.CostItem.PercentOfTotalSize, "", new { @class = "text-danger" }))
            </div>
        </div>

        <div class="row form-group">
            @(Html.For(model).LabelFor(x => x.CostItem.IsLumpSum, "Lump Sum",ViewHelper.GetHtmlAttributes(@class: "control-label col-md-2", formControl: false)))
            <div class="col-md-10">
                <label class="check">
                    @(Html.For(model).CheckBoxFor(x => x.CostItem.IsLumpSum,ViewHelper.GetHtmlAttributes(disabled: notEditable, formControl: false)))
                    <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                </label>
                @(Html.For(model).ValidationMessageFor(x => x.CostItem.IsLumpSum, "", new { @class = "text-danger" }))
            </div>
        </div>

        <div class="row form-group">
            @(Html.For(model).LabelFor(x => x.CostItem.IsExtra, "Extra",ViewHelper.GetHtmlAttributes(@class: "control-label col-md-2", formControl: false)))
            <div class="col-md-10">
                <label class="check">
                    @(Html.For(model).CheckBoxFor(x => x.CostItem.IsExtra,ViewHelper.GetHtmlAttributes(disabled: notEditable, id: "isExtra", formControl: false)))
                    <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                </label>
                @(Html.For(model).ValidationMessageFor(x => x.CostItem.IsExtra, "", new { @class = "text-danger" }))
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  form-group">
                @PageHelpers.CancelButton("Costs", "Communities", new { id = model.BuilderId})
                @if (model.Id != default(int) && !notEditable)
                {
                    <button class="btn btn-danger"
                            data-execute="true"
                            data-url="@Url.Action("DeleteCost", "Communities", new { Id = model.Id, BuilderId = model.BuilderId})"
                            data-data="@((new {id = model.Id}).ToJson())"
                            data-confirmmessage="Are you sure you want to permanently delete this Cost?"
                            data-confirmtitle="Delete Cost?"
                            data-redirect="@Url.Action("Costs", "Communities", new { Id = model.BuilderId })">
                        Delete
                    </button>
                }

            @Html.TextBox("Save", "Save",ViewHelper.GetHtmlAttributes(@class: "btn btn-primary", type:"submit", disabled:notEditable, formControl:false))
        </div>
            </div>
    }
    @section scripts {
        @Scripts.Render("~/bundles/communities")
        <script>
            $(function () {
                $(app.costs.initCost);
            });
        </script>
    }
</section>