﻿@model SiteViewModel<ImagePainting.Site.Common.Models.Elevation>
@using ImagePainting.Site.Common.Models.Enums;

@{
    var model = Model.ViewModel;
    ViewBag.Title = "Elevation";
    var planId = Request.QueryString["planId"].IsNullOrEmpty() ? "0" : Request.QueryString["planId"];
    ViewBag.CommunitiesActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
}

@if (!ViewBag.IsPartial)
{
    <div class="jumbotron child">
        <h1>@(model.Id > 0 ? $"Elevation - {model.Name}" : "New Elevation")</h1>
    </div>
}

<section class="container body-content">
    @if (ViewBag.IsPartial)
    {
        <h3>@(model.Id > 0 ? $"Elevation - {model.Name}" : "New Elevation")</h3>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @(Html.For(model).HiddenFor(x => x.Id))

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="required-field" for="name">Name</label>
                @(Html.For(model).TextBoxFor(x => x.Name,ViewHelper.GetHtmlAttributes(disabled: !isAdmin)))
                @(Html.For(model).ValidationMessageFor(x => x.Name, string.Empty, new { @class = "text-danger" }))
            </div>
            <div class="form-group col-md-6">
                <label class="required-field" for="Plan">Plan</label>
                @(Html.For(model).DropDownListFor(x => x.PlanId, Model.ViewHelper.GetPlansOptions(Convert.ToInt32(planId)),ViewHelper.GetHtmlAttributes(disabled: !isAdmin)))
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-xs-6">
                <label for="first-floor">1st Floor Sq. Ft</label>
                @(Html.For(model).TextBoxFor(x => x.FirstFloorSqft,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, type: "number")))
                @(Html.For(model).ValidationMessageFor(x => x.FirstFloorSqft, string.Empty, new { @class = "text-danger" }))
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label for="second-floor">2nd Floor Sq. Ft.</label>
                @(Html.For(model).TextBoxFor(x => x.SecondFloorSqft,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, type: "number")))
                @(Html.For(model).ValidationMessageFor(x => x.SecondFloorSqft, string.Empty, new { @class = "text-danger" }))
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 form-group">
                <label for="garage">Garage</label>
                @(Html.For(model).TextBoxFor(x => x.GarageSqft,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, type: "number")))
                @(Html.For(model).ValidationMessageFor(x => x.GarageSqft, string.Empty, new { @class = "text-danger" }))
            </div>

            <div class="col-md-6 col-xs-6 form-group">
                <label for="lanai-sqrft">Lanai/Porch</label>
                @(Html.For(model).TextBoxFor(x => x.LanaiSqft,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, type: "number")))
                @(Html.For(model).ValidationMessageFor(x => x.LanaiSqft, string.Empty, new { @class = "text-danger" }))
            </div>
        </div>

        <div>
            @PageHelpers.CancelButton("Plan", "Communities", new { id = planId })
            @if (model.Id > 0 && isAdmin)
            {
                <button class="btn btn-danger"
                        data-execute="true"
                        data-url="@Url.Action("DeleteElevation", "Communities")"
                        data-data="@((new {id = model.Id}).ToJson())"
                        data-confirmmessage='Are you sure you want to delete "@Model.ViewModel.Name"?'
                        data-confirmtitle="Delete Elevation?"
                        data-redirect="@Url.Action("Plan", "Communities", new { Id = planId })">
                    Delete
                </button>
            }

            @if (isAdmin)
            {
                <input value="save" type="submit" class="btn btn-primary" />
            }
        </div>
    }

    @if (model.Id > 0 && isAdmin)
    {
        Html.RenderAction("Files", "FileUploads", new { ownerId = model.Id, ownerType = FileOwnerType.Elevation });
    }
</section>
<br />