﻿@model SiteViewModel<List<ImagePainting.Site.Common.Models.ExteriorColorScheme>>

@{
    ViewBag.Title = "Exterior Color Schemes";
    ViewBag.CommunitiesActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
}

<div class="jumbotron child">
    <h1>Exterior Color Schemes</h1>
</div>

<section class="container body-content">
    @if (isAdmin)
    {
    <div class="row add-container">
        <div class="col-md-12">
            @Html.ActionLink("New", "ExteriorColorScheme", "Communities", null, new { @class = "btn btn-primary pull-right" })

        </div>
    </div>
    }
    <table class="table data-table">
        <thead>
            <tr>
                <th>Color Code</th>
                <th>Exterior Base</th>
                <th>Exterior Trim</th>
                <th>Front Door</th>
                <th>Stain</th>
                <th>Garage Doors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colorScheme in Model.ViewModel)
            {
                <tr>
                    <td>@Html.ActionLink(colorScheme.ColorCode, "ExteriorColorScheme", "Communities", new { Id = colorScheme.Id }, null)</td>
                    <td>@colorScheme.ExteriorBase</td>
                    <td>@colorScheme.ExteriorTrim</td>
                    <td>@colorScheme.FrontDoor</td>
                    <td>@colorScheme.Stain</td>
                    <td>@colorScheme.GarageDoor</td>
                </tr>
            }
        </tbody>
    </table>
</section>

