﻿@model SiteViewModel<ImagePainting.Site.Common.Models.ExteriorColorScheme>

@{
    var model = Model.ViewModel;
    ViewBag.Title = "Exterior Color Scheme";
    ViewBag.CommunitiesActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
}

@if (!ViewBag.IsPartial)
{
    <div class="jumbotron child">
        <h1>@(Model.ViewModel.Id == 0 ? "New Exterior Color Scheme" : $"Exterior Color Scheme - {model.ExteriorBase}")</h1>
    </div>
}

<section class="container body-content">
    @if (ViewBag.IsPartial)
    {
        <div class="form-group">
            <h2>@(Model.ViewModel.Id == 0 ? "New Exterior Color Scheme" : $"Exterior Color Scheme - {model.ExteriorBase}")</h2>
        </div>
    }

    @using (Html.BeginForm("ExteriorColorScheme", "Communities", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @(Html.For(model).HiddenFor(x => x.Id))

            <div class="row">

                <div class="form-group col-md-12">
                    <label for="colorcode" class="required-field">Color code</label>
                    @(Html.For(model).TextBoxFor(x => x.ColorCode,ViewHelper.GetHtmlAttributes(disabled: !isAdmin)))
                    @(Html.For(model).ValidationMessageFor(x => x.ColorCode, null, new { @class = "text-danger" }))
                </div>
            </div>
           
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="exteriorbody" class="required-field">Exterior Base</label>
                    @(Html.For(model).TextBoxFor(x => x.ExteriorBase,ViewHelper.GetHtmlAttributes(disabled: !isAdmin)))
                    @(Html.For(model).ValidationMessageFor(x => x.ExteriorBase, null, new { @class = "text-danger" }))
                </div>
                <div class="form-group col-md-4">
                    <label for="shakesiding">Shake Siding</label>
                    @(Html.For(model).TextBoxFor(x => x.ShakeSiding,ViewHelper.GetHtmlAttributes(disabled: !isAdmin)))
                    @(Html.For(model).ValidationMessageFor(x => x.ShakeSiding, null, new { @class = "text-danger" }))
                </div>

                <div class="form-group col-md-4">
                    <label for="exteriortrim"> Exterior Trim</label>
                    @(Html.For(model).TextBoxFor(x => x.ExteriorTrim,ViewHelper.GetHtmlAttributes(disabled: !isAdmin)))
                    @(Html.For(model).ValidationMessageFor(x => x.ExteriorTrim, null, new { @class = "text-danger" }))
                </div>
            </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="frontDoor">Front Door</label>
                @(Html.For(model).TextBoxFor(x => x.FrontDoor,ViewHelper.GetHtmlAttributes(disabled: !isAdmin)))
                @(Html.For(model).ValidationMessageFor(x => x.FrontDoor, null, new { @class = "text-danger" }))
            </div>
            <div class="form-group col-md-4">
                <label for="garageDoor">Garage Door</label>
                @(Html.For(model).TextBoxFor(x => x.GarageDoor,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.GarageDoor, null, new { @class = "text-danger" }))
            </div>

            <div class="form-group col-md-4">
                <label for="stain">Stain</label>
                @(Html.For(model).TextBoxFor(x => x.Stain,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.Stain, null, new { @class = "text-danger" }))
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-4">
                <label for="shutters">Shutters</label>
                @(Html.For(model).TextBoxFor(x => x.Shutters,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.Shutters, null, new { @class = "text-danger" }))
            </div>

            <div class="form-group col-md-4">
                <label for="corbels">Corbels</label>
                @(Html.For(model).TextBoxFor(x => x.Corbels,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.Corbels, null, new { @class = "text-danger" }))
            </div>

            <div class="form-group col-md-4">
                <label for="brackets">Brackets</label>
                @(Html.For(model).TextBoxFor(x => x.Brackets,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.Brackets, null, new { @class = "text-danger" }))
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="handisiding">Hardi Siding</label>
                @(Html.For(model).TextBoxFor(x => x.HardiSiding,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.HardiSiding, null, new { @class = "text-danger" }))
            </div>

            <div class="form-group col-md-4">
                <label for="boardandbatton">Board And Batton</label>
                @(Html.For(model).TextBoxFor(x => x.BoardAndBatton,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.BoardAndBatton, null, new { @class = "text-danger" }))
            </div>

            <div class="form-group col-md-4">
                <label for="louvre">Louvre</label>
                @(Html.For(model).TextBoxFor(x => x.Louvre,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.Louvre, null, new { @class = "text-danger" }))
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="accentstucco">Accent Base</label>
                @(Html.For(model).TextBoxFor(x => x.AccentBase,ViewHelper.GetHtmlAttributes(disabled: !isAdmin)))
                @(Html.For(model).ValidationMessageFor(x => x.AccentBase, null, new { @class = "text-danger" }))
            </div>

            <div class="form-group col-md-4">
                <label for="facia">Facia</label>
                @(Html.For(model).TextBoxFor(x => x.Facia,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.Facia, null, new { @class = "text-danger" }))
            </div>
            <div class="form-group col-md-4">
                <label for="soffit">Soffit</label>
                @(Html.For(model).TextBoxFor(x => x.Soffit,ViewHelper.GetHtmlAttributes(disabled: !isAdmin)))
                @(Html.For(model).ValidationMessageFor(x => x.Soffit, null, new { @class = "text-danger" }))
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="Note">Note</label>
                @(Html.For(model).TextAreaFor(x => x.Note,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, rows: 4)))
                @(Html.For(model).ValidationMessageFor(x => x.Note, null, new { @class = "text-danger" }))
            </div>
        </div>

        <div>
            <div class="form-group">
                @PageHelpers.CancelButton("ExteriorColorSchemes", "Communities")
                @if (model.Id > 0 && isAdmin)
                {
                    <button class="btn btn-danger"
                            data-execute="true"
                            data-url="@Url.Action("DeleteExteriorColorScheme", "Communities")"
                            data-data="@((new {id = model.Id}).ToJson())"
                            data-confirmmessage="Are you sure you want to permanently delete @Model.ViewModel.ExteriorBase?"
                            data-confirmtitle="Delete Color Scheme?"
                            data-redirect="@Url.Action("ExteriorColorSchemes", "Communities")">
                        Delete
                    </button>
                }

                @if (isAdmin)
                {
                    <input value="Save" type="submit" class="btn btn-primary" />
                }
            </div>
        </div>
    }
</section>

