﻿@model SiteViewModel<List<ImagePainting.Site.Common.Models.Community>>
@{
    ViewBag.Title = "Index";
    ViewBag.CommunitiesActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();

}

<div class="jumbotron child">
    <h1>Communities</h1>
</div>

<section class="container body-content">
    @if (isAdmin)
    {
    <div class="row add-container">
        <div class="col-md-12">
            @Html.ActionLink("Add", "Community", null, new { @class = "btn btn-primary pull-right" })

        </div>
     </div>
    }

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>Active</th>
                <th>Community</th>
                <th>Builder(s)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var community in Model.ViewModel)
            {
                foreach (var builder in community.Builders)
                {
                <tr>
                    <td>@(community.Active ? "Yes" : "No")</td>
                    <td>@Html.ActionLink(community.Name, "Community", new { id = community.Id })</td>
                    <td>
                        <span>@Html.ActionLink(builder.Name, "Builder", "Communities", new { id = builder.Id }, null)</span>
                    </td>
                </tr>
                }

                if (community.Builders.IsNullOrEmpty())
                {
                    <tr>
                        <td>@(community.Active ? "Yes" : "No")</td>
                        <td>@Html.ActionLink(community.Name, "Community", new { id = community.Id })</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>