﻿@model SiteViewModel<List<ImagePainting.Site.Common.Models.InteriorColorScheme>>

@{
    ViewBag.Title = "InteriorColorSchemes";
    ViewBag.CommunitiesActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
}

<div class="jumbotron child">
    <h1>Interior Color Schemes</h1>
</div>

<section class="container body-content">
    @if (isAdmin)
    {
    <div class="row add-container">
        <div class="col-md-12">
           @Html.ActionLink("New", "InteriorColorScheme", "Communities", null, new { @class = "btn btn-primary pull-right" })

        </div>
    </div>
    }
    <table class="table data-table">
        <thead>
            <tr>
                <th>Color Code</th>
                <th>Interior Base</th>
                <th>Front Door</th>
                <th>Stain</th>
                <th>Interior Ceiling</th>
                <th>Interior Wood Trim Base/Casing</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var colorScheme in Model.ViewModel)
            {
                <tr>
                    <td>@Html.ActionLink(colorScheme.ColorCode, "InteriorColorScheme", "Communities", new { Id = colorScheme.Id }, null)</td>
                    <td>@colorScheme.InteriorBase</td>
                    <td>@colorScheme.FrontDoor</td>
                    <td>@colorScheme.Stain</td>
                    <td>@colorScheme.InteriorCeiling</td>
                    <td>@colorScheme.InteriorWoodTrimBaseCasing</td>
                </tr>
            }
        </tbody>
    </table>
</section>

