﻿@model SiteViewModel<List<CostItem>>

@{
    ViewBag.Title = "Labor Costs";
    ViewBag.SetupActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
    var model = Model.ViewModel;
}

<div class="jumbotron child">
    <h1>Labor Costs</h1>
</div>

<section class="container body-content">
    @using (Html.BeginForm("LaborCosts", "Communities", FormMethod.Post, new { novalidate = true }))
    {
        @Html.AntiForgeryToken()
        
        <div class="row">
            @for (var i = 0; i < model.Count(); i++)
            {
                var cost = model.ElementAt(i);

                if (cost.Name == SiteContants.BASE_PRICE)
                {
                    <div class="col-md-3 form-group place-draggable" id="@($"cost_{i}")">
                        <div class="draggable" draggable=@($"{isAdmin}")>
                            @Html.Hidden($"costItems[{i}].Id", @cost.Id)
                            @Html.Hidden($"costItems[{i}].Order", @cost.Order, ViewHelper.GetHtmlAttributes(@class: "order"))
                            @Html.Label(cost.Name, new { @class = "base-price no-margin" })
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                @Html.TextBox($"costItems[{i}].LaborCost", @cost.LaborCost, new { @class = "form-control", @type = "number" })
                            </div>
                        </div>
                    </div>
                }
                else
                {
                <div class="col-md-3 form-group place-draggable" id="@($"cost_{i}")">
                    <div class="draggable" draggable=@($"{isAdmin}")>
                        @Html.Hidden($"costItems[{i}].Id", @cost.Id)
                        @Html.Hidden($"costItems[{i}].Order", @cost.Order, ViewHelper.GetHtmlAttributes(@class: "order"))
                        <div class="hideable-container">
                            @Html.Label(cost.Name, new { @class = "base-price no-margin pull-left" })
                            <button class="btn btn-xs btn-danger hideable"
                                    data-execute="true"
                                    data-url="@Url.Action("DeleteCostItem", "Communities", new { id = cost.Id })"
                                    data-data="@((new { id = cost.Id }).ToJson())"
                                    data-confirmmessage='You are about to permaently delete "@cost.Name" from every builder. Click OK to continue'
                                    data-confirmtitle="Delete Cost?"
                                    data-redirect="@Url.Action("LaborCosts", "Communities")?@cost.Id">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            @Html.TextBox($"costItems[{i}].LaborCost", @cost.LaborCost, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                </div>
                }
            }
        </div>

        <div class="form-group">
            @PageHelpers.CancelButton("Index", "Home")
            <input type="submit" value="Save" class="btn btn-primary" id="saveBtn" />
        </div>
    }

    @section scripts {
        @Scripts.Render("~/bundles/communities")
        <script>
            $(app.costs.initLaborcost);
        </script>
    }
</section>