﻿@model SiteViewModel<List<PlanSummary>>

@{
    ViewBag.Title = "Plans";
    ViewBag.CommunitiesActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
}

<div class="jumbotron child">
    <h1>Plans</h1>
</div>

<section class="container body-content">
    @if (isAdmin)
    {
    <div class="row add-container">
        <div class="col-md-12">
            @Html.ActionLink("Add", "Plan", null, new { @class = "btn btn-primary pull-right" })

        </div>
    </div>
    }

    <table class="table data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Builder</th>
                <th>Stories</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in Model.ViewModel)
            {
                <tr>
                    <td>@Html.ActionLink(plan.Name, "Plan", new { id = plan.Id })</td>
                    <td>@Html.ActionLink(plan.Builder.Name, "Builder", "Communities", new { id = plan.Builder.Id}, null)</td>
                    <td>@plan.Stories</td>
                </tr>
            }
        </tbody>
    </table>

</section>