﻿@model SiteViewModel<Plan>

@{
    ViewBag.Title = "Plan";
    ViewBag.CommunitiesActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
    var model = Model.ViewModel;
}

@if (!ViewBag.IsPartial)
{
    <div class="jumbotron child">
        <h1>@((model.Id > 0) ? $"Plan - {model.Name}" : "New Plan")</h1>
    </div>
}

<section class="container body-content">

    @if (ViewBag.IsPartial)
    {
        <h3>@((model.Id > 0) ? $"Plan - {model.Name}" : "New Plan")</h3>
    }

    @using (Html.BeginForm("Plan", "Communities", null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @(Html.For(model).HiddenFor(x => x.Id))

        <div class="row">
            <div class="form-group">
                <label class="required-field" for="name">Name</label>
                @(Html.For(model).TextBoxFor(x => x.Name,ViewHelper.GetHtmlAttributes(disabled:!isAdmin, maxLength:50)))
                @(Html.For(model).ValidationMessageFor(x => x.Name, string.Empty, new { @class = "text-danger" }))
            </div>

            <div class="form-group">
                <label class="required-field" for="stories">Stories</label>
                @(Html.For(model).TextBoxFor(x => x.Stories,ViewHelper.GetHtmlAttributes(type: "number", disabled:!isAdmin)))
                @(Html.For(model).ValidationMessageFor(x => x.Stories, string.Empty, new { @class = "text-danger" }))
            </div>

            <div class="form-group">
                <label class="required-field" for="builder">Builder</label>
                @(Html.For(model).DropDownListFor(x => x.BuilderId, Model.ViewHelper.GetSingleBuilderOptions(model.BuilderId),ViewHelper.GetHtmlAttributes(disabled:!isAdmin)))
                @(Html.For(model).ValidationMessageFor(x => x.BuilderId, string.Empty, new { @class = "text-danger" }))
            </div>
      </div>

        if (model.Id > 0)
        {
            var communities = (model.Communities ?? new List<Community>()).OrderBy(x => x.Name);
            <div class="row form-group community-group">
                    <p> <strong>Communities</strong></p>
                    <div class="communities">
                        @foreach (var community in communities)
                    {
                            <p class="hideable-container">
                                <span class="community" id="@community.Id">@community.Name</span>
                                <span class="hideable">
                                    <button class="btn btn-danger btn-xs"
                                            data-execute="true"
                                            data-url="@Url.Action("DeletePlanCommunity", "Communities")"
                                            data-data="@((new {planId = model.Id, communityId = community.Id}).ToJson())"
                                            data-confirmmessage='Do you want to delete "@community.Name" from "@Model.ViewModel.Name"?'
                                            data-confirmtitle="Delete Community?"
                                            data-redirect="@Url.Action("Plan", "Communities", new { id = model.Id})">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </p>
                        }
                    </div>

                <a href="javascript:void(0)" id="add-community">Add community</a>
            </div>
            <br/>
        }

        <div class="row">

            <div class="form-group plans-button-group">
                @Html.ActionLink("Cancel", "Plans", null, new { @class = "btn btn-default", id = "btn-cancel" })
                @if (model.Id > 0 && isAdmin)
                {
                    <button class="btn btn-danger"
                            data-execute="true"
                            data-url="@Url.Action("DeletePlan", "Communities")"
                            data-data="@((new {id = model.Id}).ToJson())"
                            data-confirmmessage='Do you want to delete "@Model.ViewModel.Name" and all the associated elevations?'
                            data-confirmtitle="Delete Plan?"
                            data-redirect="@Url.Action("Plans", "Communities")">
                        Delete
                    </button>
                }

                @if (isAdmin)
                {
                    <input type="submit" value="Save" class="btn btn-primary" />
                }
            </div>
        </div>
    }

    @if (model.Id > 0)
    {
        <div class="row">
            <a data-toggle="collapse" href="#plan-elevations" aria-expanded="true" aria-controls="plan-elevations">
                <strong>Elevations</strong>
            </a>
            <div class="panel panel-default collapse" id="plan-elevations">
                <div class="panel-body">
                    @if (isAdmin)
                    {
                        <a class="btn btn-primary" href="@Url.Action("Elevation", "Communities", new { id = 0, planId = model.Id})">Add Elevation</a>
                    }
                    <br /><br />
                    <ul class="list-group">
                        @foreach (var elevation in model.Elevations)
                {
                            <li class="list-group-item">@Html.ActionLink(elevation.Name, "Elevation", "Communities", new { id = elevation.Id, planId = elevation.PlanId }, null)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (model.Id > 0 && isAdmin) 
    {
        <div class="row">
            @{ Html.RenderAction("Files", "FileUploads", new { ownerId = model.Id, ownerType = FileOwnerType.Plan });}
        </div>
    }
</section>
@section scripts {
    @Scripts.Render("~/bundles/plans")
    <script>
        $(app.plans.initPlans);
    </script>
}