﻿@model SiteViewModel<SuppliesViewModel>

@{
    var model = Model.ViewModel;
    ViewBag.Title = "Supplies";
    ViewBag.CommunitiesActive = "active";

    var paintStoreId = model.PaintStoreId.IsNull() ? 0 : model.PaintStoreId;

    var builderId = model.BuilderId;
 }

<div class="jumbotron child">
    <h1> Supplies - @Model.ViewModel.BuilderName</h1>
</div>
<section class="container body-content">
    @using (Html.BeginForm("Supplies","Communities"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("BuilderId", model.BuilderId)
        
        <div class="row">
            <div class="form-group">
                <label class="required-field">Paint Store</label>
                @Html.DropDownList("PaintStoreId", Model.ViewHelper.GetStoreOptions(paintStoreId),ViewHelper.GetHtmlAttributes())
                @Html.ValidationMessage("PaintStoreId")
            </div>
        </div>

        <div class="row" id="suppliesByPaintStore">
            @Html.Partial("_Supplies", Model)
        </div>
        <br />

        <div class="row">
            @PageHelpers.CancelButton("Builders", "Communities")
            <input type="submit" id="submitBtn" value="Save" class="btn btn-primary" />
        </div>
        <br />

        @section scripts {
            @Scripts.Render("~/bundles/supplies")
            <script>
                    $(app.supplies.initSupplies)
            </script>
        }
}
</section>

