﻿@using System.Globalization;
@model LaborProjection

@{ 
    var numberFormat = (NumberFormatInfo)CultureInfo.CurrentCulture.NumberFormat.Clone();
    numberFormat.CurrencyNegativePattern = 1;
}
<div class="wo-step-screen" data-node="laborProjection">
    <h3>Labor Projection</h3>
    <br/>
    <p><strong>Total Labor Projection: @Model.GrandTotal.ToString("C")</strong></p>

    <div class="panel panel-default">
        <div class="panel-heading">Base House</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Per SQFT</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BasePricings)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Cost.ToString("C", numberFormat)</td>
                            <td>@item.Quantity.ToString("#,###", numberFormat)</td>
                            <td>@item.Total.ToString("C", numberFormat)</td>
                        </tr>
                    }
                    <tr>
                        <th colspan="3">Total</th>
                        <th>@Model.BaseTotal.ToString("C", numberFormat)</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @if (!Model.ExtraPricings.IsNullOrEmpty())
    {
        <div class="panel panel-default">
            <div class="panel-heading">Extras</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Extra</th>
                            <th>Unit Cost</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ExtraPricings)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Cost.ToString("C", numberFormat)</td>
                                <td>@item.Quantity.ToString("#,###", numberFormat)</td>
                                <td>@item.Total.ToString("C", numberFormat)</td>
                            </tr>
                        }
                        <tr>
                            <th colspan="3">Total</th>
                            <th>@Model.ExtraTotal.ToString("C", numberFormat)</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    }

    <button class="btn btn-primary" id="btn-continue">Continue</button>
</div>