﻿@model IEnumerable<MaterialProjection>

@{ 
    var totalPaintQuantity = default(decimal);
    var totalMiscCost = default(double);
    var totalPaintCost = default(decimal);
    var totalTax = default(double);
    var totalCost = default(double);
}
<div class="wo-step-screen" data-node="materialProjection">
    <h3>Material Projection</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Material Projection</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Crew</th>
                        <th>Task</th>
                        <th>Paint Qty</th>
                        <th>Misc Cost</th>
                        <th>Paint Cost</th>
                        <th>Tax</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        totalPaintQuantity += item.PaintQuantity;
                        totalMiscCost += item.MiscCost;
                        totalPaintCost += item.PaintCost;
                        totalTax += item.Tax;
                        totalCost += item.TotalCost;

                        <tr>
                            <td>@(item.Crew.IsNull() ? "No Crew Scheduled" : item.Crew)</td>
                            <td>@item.Task</td>
                            <td>@item.PaintQuantity</td>
                            <td>@item.MiscCost.ToString("C")</td>
                            <td>@item.PaintCost.ToString("C")</td>
                            <td>@item.Tax.ToString("C")</td>
                            <td>@item.TotalCost.ToString("C")</td>
                        </tr>
                    }
                    <tr>
                        <th></th>
                        <th>Totals</th>
                        <th>@totalPaintQuantity.ToString("#,###")</th>
                        <th>@totalMiscCost.ToString("C")</th>
                        <th>@totalPaintCost.ToString("C")</th>
                        <th>@totalTax.ToString("C")</th>
                        <th>@totalCost.ToString("C")</th>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-primary" id="btn-continue">Continue</button>

</div>
