﻿@using System.Globalization;
@model ProfitProjection

@{
    var numberFormat = (NumberFormatInfo)CultureInfo.CurrentCulture.NumberFormat.Clone();
    numberFormat.CurrencyNegativePattern = 0;
}


<div class="wo-step-screen" data-node="profitProjection">
    <h3> Profit Projection</h3>
    <table class="table table-striped">
        <tr>
            <td><strong>Total Revenue Projection</strong></td>
            <td>@Model.TotalRevenueProjection.ToString("C", numberFormat)</td>
        </tr>

        <tr>
            <td><strong>Total Labor Projection</strong></td>
            <td>@Model.TotalLaborProjection.ToString("C", numberFormat)</td>
        </tr>

        <tr>
            <td><strong>Total Purchase Orders</strong></td>
            <td>@Model.TotalPurchaseOrders.ToString("C", numberFormat)</td>
        </tr>

        <tr>
            <td><strong>Gross Profit Projection</strong></td>
            <td>@Model.GrossProfitProjection.ToString("C", numberFormat)</td>
        </tr>
    </table>

    <script>
        $(app.workorders.completeWorkOrder);
    </script>
</div> 

