﻿@using System.Globalization;
@model RevenueProjection

@{ 
    var numberFormat = (NumberFormatInfo)CultureInfo.CurrentCulture.NumberFormat.Clone();
    numberFormat.CurrencyNegativePattern = 1;
}

<div class="wo-step-screen" data-node="revenueProjection">
    <h3>Revenue Projection</h3>
    <br/>
    <p><strong>Total Revenue Projection: @Model.GrandTotal.ToString("C")</strong></p>
    
    @* Base *@
    <div class="panel panel-default">
        <div class="panel-heading">Base House</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Per SQFT</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CostItems)
                    {
                        <tr>
                            <th>@item.Name</th>
                            <td>@item.BuilderCost.ToString("C", numberFormat)</td>
                            <td>@Model.TotalHouseSqft.ToString("#,###", numberFormat)</td>
                            <td>@item.CalculateTotalRevenue(Model.TotalHouseSqft).ToString("C", numberFormat)</td>
                        </tr>
                    }
                    <tr>
                        <th colspan="3">Base SubTotal</th>
                        <th>@Model.BaseTotal.ToString("C", numberFormat)</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @* Extras *@
    @if (!Model.ExtraItems.IsNullOrEmpty())
    {
        <div class="panel panel-default">
            <div class="panel-heading">Job Extras</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ExtraItems)
                        {
                            <tr>
                                <th>@item.Name</th>
                                <td>@item.BuilderCost.ToString("C", numberFormat)</td>
                                <td>@item.Quantity.ToString("#,###", numberFormat)</td>
                                <td>@item.TotalRevenue.ToString("C", numberFormat)</td>
                            </tr>
                        }
                        <tr>
                            <th colspan="3">Extra Total</th>
                            <th>@Model.ExtrasTotal.ToString("C", numberFormat)</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }

    <button class="btn btn-primary" id="btn-continue">Continue</button>
</div>