﻿@model SiteViewModel<IEnumerable<FileUpload>>
@{
    var containerId = $"{ViewBag.OwnerId}-{ViewBag.OwnerType}";
    var fileUploadId = $"file-uploads-{containerId}";
    var addSecured = string.Empty;
}


<div class="upload-container" id="@containerId">
    <a data-toggle="collapse" href="#@fileUploadId" aria-expanded="false" aria-controls="@fileUploadId" class="upload-container-link">
        @{
            
            if ((int)FileOwnerType.SecuredWorkOrder == ViewBag.OwnerType)
            {
                addSecured = "secured";
            }
        }
        <strong>Uploaded @addSecured files</strong>

    </a>
    <div class="panel panel-default collapse" id="@fileUploadId">
        <div class="panel-body">
            <form id="frm-upload" action="@Url.Action("Upload", "FileUploads", new { ownerId = ViewBag.OwnerId, ownerType = ViewBag.OwnerType })" method="POST" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div>
                    @*<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />*@
                    <div>
                        <label for="fileselect">Select file to upload:</label>
                        <input type="file" name="file-upload-select" multiple="multiple" class="btn btn-default" @(!Model.UserHelper.IsStaff() ? "disabled" : string.Empty) />
                        @*<div id="filedrag">or drop files here</div>*@
                    </div>
                </div>

            </form>
            @if (!Model.ViewModel.IsNullOrEmpty())
            {
            <hr />
            }
            <div>
                @Html.Hidden("files-list-url", Url.Action("Files", "FileUploads", new { ownerId = ViewBag.OwnerId, ownerType = ViewBag.OwnerType }))
                <ul class="list-group">
                    @foreach(var fileUpload in Model.ViewModel)
                    {
                        <li class="list-group-item">
                            <a href="#deleteFile" class="pull-right text-danger"
                                    data-execute="true"
                                    data-url="@Url.Action("Delete", "FileUploads")"
                                    data-data="@((new {id = fileUpload.Id}).ToJson())"
                                    data-confirmmessage='Are you sure you want to delete "@fileUpload.Name"?'
                                    data-confirmtitle="Delete File?"
                                    data-onExecute="app.common.reloadFileslist('@containerId')">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            @Html.ActionLink(fileUpload.Name, "File", "FileUploads", new { id = fileUpload.Id }, new { @target = "_blank" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>