﻿@model ImagePainting.Site.Common.Models.Reports.ProjectedRevenueReport

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>WorkOrder</th>
            <th>Lot</th>
            <th>Block</th>
            <th>Community</th>
            <th>Builder</th>
            <th>Revenue Total</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.RevenueReportItems)
        {
            <tr>
                <td>@Html.ActionLink(@report.WorkOrder, "WorkOrder", "WorkOrders", new { id = report.WorkOrderId}, null)</td>
                <td>@report.Lot</td>
                <td>@report.Block</td>
                <td>@report.Community</td>
                <td>@report.Builder</td>
                <td>@report.TotalRevenue.ToString("C")</td>
                <td>@(report.Completed.HasValue ? report.Completed.Value.ToLocalShortDate() : string.Empty)</td>
            </tr>
        }
    </tbody>
    @if (Model.RevenueReportItems.Count() > 0)
    {
        <tfoot>
            <tr>
                <th colspan="5">Total</th>
                <th>@Model.TotalRevenue.ToString("C")</th>
                <th></th>
            </tr>
        </tfoot>
    }
</table>