﻿@using System.Globalization;
@model ImagePainting.Site.Common.Models.Reports.ProjectedLaborReport

@{
    var numberFormat = (NumberFormatInfo)CultureInfo.CurrentCulture.NumberFormat.Clone();
    numberFormat.CurrencyNegativePattern = 1;
}
<table id="tasks" class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Task</th>
            <th>Work Order</th>
            <th>Lot & Block</th>
            <th>Crew</th>
            <th>Builder</th>
            <th>Community</th>
            <th>Amount</th>
            <th>Completed</th>
            <th>Prewalk</th>
            <th>Completion Walk</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var laborReportItem in Model.LaborReportItems)
        {
            if (laborReportItem.Amount != 0)
            {
            <tr>
                <td>@Html.ActionLink(laborReportItem.Task, "ViewTask", "Tasks", new { id = laborReportItem.TaskId }, new { @class = "task-name" })</td>
                <td>@Html.ActionLink(laborReportItem.WorkOrder, "WorkOrder", "WorkOrders", new { id = laborReportItem.WorkOrderId }, string.Empty)</td>
                <td>@("Lot# " + laborReportItem.Lot + " Block " + laborReportItem.Block)</td>
                <td>@laborReportItem.Crew</td>
                <td>@Html.ActionLink(laborReportItem.Builder, "Builder", "Communities", new { id = laborReportItem.BuilderId }, string.Empty)</td>
                <td>@Html.ActionLink(laborReportItem.Community, "Community", "Communities", new { id = laborReportItem.CommunityId }, string.Empty)</td>
                <td>@laborReportItem.Amount.ToString("C", numberFormat)</td>
                <td>@(laborReportItem.Completed.HasValue ? laborReportItem.Completed.Value.ToLocalShortDate() : string.Empty)</td>
                <td>@(laborReportItem.PreWalk.HasValue ? laborReportItem.PreWalk.Value.ToLocalShortDate() : string.Empty)</td>
                <td>@(laborReportItem.CompletionWalk.HasValue ? laborReportItem.CompletionWalk.Value.ToLocalShortDate() : string.Empty)</td>
            </tr>
            }
        }
    </tbody>
    @if (Model.LaborReportItems.Count() > 0)
    {
        <tfoot>
            <tr>
                <th colspan="6">Total</th>
                <th>@Model.TotalAmount.ToString("C", numberFormat)</th>
                <th colspan="3"></th>
            </tr>
        </tfoot>
    }
</table>