﻿@model IEnumerable<ImagePainting.Site.Common.Models.Reports.PurchaseOrderReportItem>

<table class="table table-condensed table-striped ">
    <thead>
        <tr>
            <th>Purchase Order</th>
            <th>Work Order</th>
            <th>Task</th>
            <th>Task Type</th>
            <th>Lot & Block</th>
            <th>Crew</th>
            <th>Store</th>
            <th>Builder</th>
            <th>Community</th>
            <th>Total</th>
            <th>Emailed</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.PurchaseOrder.PoNumber</td>
                @*<td>@(Html.ActionLink(report.PurchaseOrder.PoNumber, "PurchaseOrder", "PurchaseOrders", new { id = report.PurchaseOrder.Id, taskId = report.Task.Key }, null))</td>*@
                <td>@(Html.ActionLink(report.WorkOrder.Value, "WorkOrder", "WorkOrders", new { id = report.WorkOrder.Key }, null))</td>
                <td>@(Html.ActionLink(report.Task.Value, "ViewTask", "Tasks", new { id = report.Task.Key }, null))</td>
                <td>@report.TaskType</td>
                <td>@($"Lot #{report.Lot} Block {report.Block}")</td>
                <td>@report.Crew</td>
                <td>@(Html.ActionLink(report.Store.Value, "Store", "PaintStores", new { id = report.Store.Key }, null))</td>
                <td>@(Html.ActionLink(report.Builder.Value, "Builder", "Communities", new { id = report.Builder.Key }, null))</td>
                <td>@(Html.ActionLink(report.Community.Value, "Community", "Communities", new { id = report.Community.Key }, null))</td>
                <td>@report.Total</td>
                <td>@(report.EmailSent.HasValue ? report.EmailSent.Value.ToLocalShortDate() : string.Empty) </td>
            </tr>
        }
       
    </tbody>
</table>
