﻿@model ImagePainting.Site.Common.Models.Reports.TasksReport

<table id="tasks" class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Task</th>
            <th>Work Order</th>
            <th>Lot</th>
            <th>Block</th>
            <th>Crew</th>
            <th>Builder</th>
            <th>Community</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var taskRecord in Model.TaskReportItems)
        {
            <tr>
                <td>@Html.ActionLink(taskRecord.Task, "ViewTask", "Tasks", new { id = taskRecord.TaskId }, new { @class = "task-name" })</td>
                <td>@Html.ActionLink(taskRecord.WorkOrder, "WorkOrder", "WorkOrders", new { id = taskRecord.WorkOrderId }, string.Empty)</td>
                <td>@taskRecord.Lot</td>
                <td>@taskRecord.Block</td>
                <td>@taskRecord.Crew</td>
                <td>@Html.ActionLink(taskRecord.Builder, "Builder", "Communities", new { id = taskRecord.BuilderId }, string.Empty)</td>
                <td>@Html.ActionLink(taskRecord.Community, "Community", "Communities", new { id = taskRecord.CommunityId }, string.Empty)</td>
                <td>@(taskRecord.Completed.HasValue ? taskRecord.Completed.Value.ToLocalShortDate() : string.Empty)</td>
            </tr>
        }
    </tbody>
</table>