﻿@model SiteViewModel<ImagePainting.Site.Common.Models.Reports.ProjectedRevenueReport>

@{
    ViewBag.Title = "Projected Revenue Report";
    ViewBag.ReportActive = "active";
}

<div class="jumbotron child">
    <h1>Projected Revenue Report</h1>
</div>

<section class="container body-content">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#searchCollapse" aria-expanded="true" aria-controls="collapseOne">
                        Search
                    </a>
                </h4>
            </div>
            <form id="searchCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="required-field">Date From</label>
                            @Html.TextBox("DateRange.BeginDateTime", null, ViewHelper.GetHtmlAttributes(type: "date", @class: "required"))
                            @Html.ValidationMessage("DateRange.BeginDateTime")
                        </div>
                        <div class="form-group col-md-4">
                            <label class="required-field">Date To</label>
                            @Html.TextBox("DateRange.EndDateTime", null, ViewHelper.GetHtmlAttributes(type: "date", @class: "required"))
                            @Html.ValidationMessage("DateRange.EndDateTime")
                        </div>
                        <div class="form-group col-md-4">
                            <label>Builder</label>
                            @Html.DropDownList("BuilderId", Model.ViewHelper.GetSingleBuilderOptions(), ViewHelper.GetHtmlAttributes(@class: "form-control"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4" id="communities">
                            @{ Html.RenderAction("Communities", "WorkOrders", new { showCreateOption = false, showBlankOption = true }); }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel-footer">
                        <button class="btn btn-default" id="searchBtn" type="button">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div id="tableDiv" class="table-responsive">
        @Html.Partial("_ProjectedRevenueTableList", Model.ViewModel)
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/reports")

    <script>
        $(app.reports.initRevenueReport)
    </script>
}