﻿@model SiteViewModel<List<ImagePainting.Site.Common.Models.Reports.PurchaseOrderReportItem>>

@{
    ViewBag.Title = "Purchases Report";
    ViewBag.ReportActive = "active";
}

<div class="jumbotron child">
    <h1>Purchases Report</h1>
</div>

<section class="container body-content">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" style="overflow:visible">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#searchCollapse" aria-expanded="true" aria-controls="collapseOne">
                            Search
                        </a>
                    </h4>

                </div>
                <form id="searchCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="required-field">Date From</label>
                                @Html.TextBox("DateRange.BeginDateTime", null,ViewHelper.GetHtmlAttributes(type: "date", @class: "required"))
                                @Html.ValidationMessage("DateRange.BeginDateTime")
                            </div>
                            <div class="form-group col-md-4">
                                <label class="required-field">Date To</label>
                                @Html.TextBox("DateRange.EndDateTime", null,ViewHelper.GetHtmlAttributes(type: "date", @class: "required"))
                                @Html.ValidationMessage("DateRange.EndDateTime")
                            </div>
                            <div class="form-group col-md-4">
                                <label>Builder</label>
                                @Html.DropDownList("BuilderId", Model.ViewHelper.GetSingleBuilderOptions(),ViewHelper.GetHtmlAttributes(@class: "form-control"))
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4" id="communities">
                                @{ Html.RenderAction("Communities", "WorkOrders", new { showCreateOption = false, showBlankOption = true }); }
                            </div>
                            <div class="form-group col-md-4" id="plans">
                                @{ Html.RenderAction("Plans", "WorkOrders", new { id = 0, showCreateOption = false }); }
                            </div>
                            <div class="form-group col-md-4">
                                <label>Crew</label>
                                @Html.DropDownList("CrewIds",
                                      Model.ViewHelper.GetUsersOptions(includeBlankOption: false, includeUnassigned: false),
                                     ViewHelper.GetHtmlAttributes(multiple: true, id: "CrewIds"))
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Store</label>
                                @Html.DropDownList("StoreId", Model.ViewHelper.GetStoreOptions(),ViewHelper.GetHtmlAttributes(@class: "form-control"))
                            </div>
                            <div class="form-group col-md-4">
                                <label>Task Type</label>
                                @Html.DropDownList("MainTaskType", ViewHelper.GetTaskTypeOptions(),ViewHelper.GetHtmlAttributes(@class: "form-control"))
                            </div>
                            <div class="form-group col-md-4">
                                <label>PO Number</label>
                                @Html.TextBox("PONumber", null,ViewHelper.GetHtmlAttributes())
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Work Order Name</label>
                                @Html.TextBox("WorkOrder", null,ViewHelper.GetHtmlAttributes())
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="panel-footer">
                            <button class="btn btn-default" id="searchBtn" type="button">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <br />
    <div id="tableDiv" class="table-responsive">
        @Html.Partial("_PurchaseOrdersTable", Model.ViewModel)
    </div>
</section>
@section scripts {
    @Scripts.Render("~/bundles/bootstrapmultiselect");
    @Scripts.Render("~/bundles/reports")
    <script>
        $(app.reports.initMultiSelect)
        $(app.reports.initPurchaseOrderReport)
    </script>
}