﻿@model SiteViewModel<ImagePainting.Site.Common.Models.Reports.TasksReport>

@{
    ViewBag.Title = "Tasks Report";
    ViewBag.ReportActive = "active";
}

<div class="jumbotron child">
    <h1>Tasks Report</h1>
</div>

<section class="container body-content">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" style="overflow:visible">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#searchCollapse" aria-expanded="true" aria-controls="collapseOne">
                        Search
                    </a>
                </h4>
            </div>
            <form id="searchCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Builder</label>
                            @Html.DropDownList("BuilderId", Model.ViewHelper.GetSingleBuilderOptions(),ViewHelper.GetHtmlAttributes())
                        </div>
                        <div class="form-group col-md-4" id="communities">
                            @{ Html.RenderAction("Communities", "WorkOrders", new { showCreateOption = false, showBlankOption = true }); }
                        </div>

                        <div class="form-group col-md-4" id="plans">
                            @{ Html.RenderAction("Plans", "WorkOrders", new { id = 0, showCreateOption = false }); }
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Crew</label>
                            @Html.DropDownList("CrewIds",
                                      Model.ViewHelper.GetUsersOptions(includeBlankOption: false, includeUnassigned: false),
                                     ViewHelper.GetHtmlAttributes(multiple: true, id: "CrewIds"))
                        </div>
                        <div class="form-group col-md-4">
                            <label class="required-field">Date From</label>
                            @Html.TextBox("DateRange.BeginDateTime", null,ViewHelper.GetHtmlAttributes(type: "date", @class: "required"))
                            @Html.ValidationMessage("DateRange.BeginDateTime")
                        </div>
                        <div class="form-group col-md-4">
                            <label class="required-field">Date To</label>
                            @Html.TextBox("DateRange.EndDateTime", null,ViewHelper.GetHtmlAttributes(type: "date", @class: "required"))
                            @Html.ValidationMessage("DateRange.EndDateTime")
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Superintendent</label>
                            @Html.DropDownList("Superintendent", Model.ViewHelper.GetSuperintendentOptions(),ViewHelper.GetHtmlAttributes())
                        </div>
                        <div class="form-group col-md-4">
                            <label>Work Order Name</label>
                            @Html.TextBox("WorkOrder", null,ViewHelper.GetHtmlAttributes())
                        </div>
                        <div class="form-group col-md-4" id="tasks">
                            <label>Task Name</label>
                            @Html.DropDownList("TaskSchemaIds",
                 Model.ViewHelper.GetTaskSchemasOptions(0, includeBlankOption: false,
                                         includeAllTasksOption: false, excludeMainTask: false,
                                         includeMainTaskOption: true),
                ViewHelper.GetHtmlAttributes(multiple: true, id: "TaskSchemaIds", @class: "form-control"))
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="panel-footer">
                        <button class="btn btn-default" id="searchBtn" type="button">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" id="tableDiv">
        @Html.Partial("_TasksTable", Model.ViewModel)
    </div>


    @section scripts {
    @Scripts.Render("~/bundles/bootstrapmultiselect");
    @Scripts.Render("~/bundles/reports")
    <script>
        $(app.reports.initTaskReport)
        $(app.reports.initMultiSelect)
    </script>
    }
</section>