﻿//Theme Colors
$ci_red: #D1202B;
$ci_grey: #57585A;
$ci_accent1: #148579;

.brand-accent {
    color: $ci_accent1;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;

    &::selection {
        background: $ci_red;
    }

    margin-bottom: 85px;
}

h1, h2, h3, h4, h5, h6, {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

//Mixins
@mixin simple-transition() {
    transition: .3s all ease-in-out;
}

.container-full {
    padding-right: 15px;
    padding-left: 15px;
}

.primary-button {
    background: $ci_red;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    font-weight: 700;
    padding: 12px 15px 11px;
    border-radius: 4px;
    border: 2px solid #fff;
    line-height: normal;
    margin-top: 20px;
    @include simple-transition();

    &:hover {
        text-decoration: none;
        background: darken($ci_red, 10%);
    }

    @media screen and (max-width: 768px) {
        width: 80%;
    }

    @media screen and (min-width: 1700px) {
        font-size: 16px;
    }
}

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0 !important;
}
//Begin: Styling for typeahead
.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 100%;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 100%;
    min-width: 150px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
.supply-type-list,
.colors-list{
    display:none;
}
.new-note {
    margin-bottom: 5px;
}

.new-purchase-order-btn{
    margin:5px;
    }
.tt-dropdown-menu {
     display: none !important;
}

//End: Styling for typeahead
.item-row-cloneable{
    display:none;
}
.add-container{
    margin-bottom:15px;
}

.secondary-button {
    background: #fff;
    color: $ci_red;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    font-weight: 700;
    padding: 12px 15px 11px;
    border-radius: 4px;
    border: 2px solid $ci_red;
    line-height: normal;
    margin-top: 20px;
    min-width: 100px;
    @include simple-transition();
    text-align: center;

    &:hover, &:active {
        text-decoration: none;
        border-color: darken($ci_red, 10%);
        background: darken($ci_red, 10%);
        color: #fff;
    }

    &.accent {
        color: #fff;
        border-color: #fff;
        background: transparent;
        margin: 0;

        &:hover {
            background: #fff;
            color: $ci_accent1 !important;
        }
    }

    @media screen and (max-width: 768px) {
        min-width: 200px;
    }

    @media screen and (min-width: 1700px) {
        font-size: 16px;
    }
}


div.jumbotron {
    background: url(/Images/main-bg-red.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 30em;
    border-bottom: 6px solid rgba($ci_red, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    &.child {
        height: auto !important;
        /*align-items: flex-start;*/
        padding: 20px;
    }

    h1 {
        font-size: 30px;
        color: #fff;
        line-height: 40px;
    }

    @media screen and (min-width: 1700px) {

        h1 {
            font-size: 40px;
        }

        a {
            margin-top: 30px;
        }
    }

    @media screen and (max-width: 1366px) {
        height: 24em;
    }

    @media screen and (max-width: 768px) {
        height: 18em;
    }
}

#loading-spinner {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    background-color: black;
    background: rgba(255, 255, 255, .6);
}

#spinner-container {
    position: relative;
    top: 50%;
    text-align: center;
}
//Navigation
nav {
    .navbar-toggle {
        outline: none;

        .icon-bar {
            background: $ci_grey;
        }
    }

    &.navbar {
        margin-top: 30px;

        @media screen and (max-width: 768px) {
            margin-top: 10px;
            margin-bottom: 0px;
        }

        .navbar-nav > li {
            > a {
                text-transform: uppercase;
                color: $ci_grey;
                font-weight: 700;
                @include simple-transition;
                background: transparent;


                &:before, &:after {
                    content: '';
                    height: 2px;
                    width: 0;
                    background: $ci_red;
                    position: absolute;
                    bottom: 10px;
                    left: 15px;
                    @include simple-transition;
                }

                &:after {
                    left: unset;
                    right: 15px;
                }
            }

            &:hover, &.active {
                > a {
                    background: transparent;

                    &:before, &:after {
                        width: 50%;
                    }
                }
            }

            @media screen and (max-width: 768px) {
                &:hover, &.active {
                    > a {
                        color: $ci_red;
                    }
                }

                > a {


                    &:before, &:after {
                        display: none;
                    }
                }
            }
        }

        .nav {
            margin-top: 1.3em;
        }

        .nav-holder {
            position: relative;
            width: 100%;

            .phone {
                position: absolute;
                right: 0;
                top: -.2em;
                font-size: 16px;
                text-transform: uppercase;
                color: $ci_red;
                font-weight: 800;

                @media screen and (max-width: 768px) {
                    position: relative;
                    display: block;
                    margin-top: 20px;
                    margin-bottom: 5px;

                    + ul {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    a.navbar-brand {
        display: inline-block;
        width: 280px;

        img {
            width: 100%;
            height: 7rem;
            border: 2px solid #d1202b; 
            padding: 5px;
        }

        @media screen and (max-width: 768px) {
            width: 240px;
        }
    }
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

//Home
section.home {
    padding: 2em 0;

    img {
        text-align: center;
        margin: 0 auto;
        display: block;
        /*margin-top: -100px;*/
        @media screen and (max-width: 1000px) {
            margin: 0 auto;
        }
    }

    h2 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
        margin-bottom: 2em;
        position: relative;

        &:after {
            content: "";
            width: 90px;
            background: $ci_accent1;
            height: 1px;
            position: absolute;
            bottom: -.7em;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    ul {
        text-align: center;
        padding: 0;

        li {
            list-style-type: none;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 15px;
        }
    }

    .col-md-4 {
        @media screen and (max-width: 1000px) {
            margin: 0 auto 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

//About
section.learn-more {
    p {
        font-size: 16px;
    }

    .container-full {
        .row {
            display: flex;
            align-items: center;

            @media screen and (max-width: 960px) {
                flex-direction: column;
                display: block;
            }
        }

        .col-md-6 {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (max-width: 990px) {
                display: block;
            }

            > div {
                padding: 0 4em;

                @media screen and (max-width: 990px) {
                    padding: 0;
                }
            }

            &.image {
                &.software {
                    background: url(/Images/software.jpg) no-repeat center center;
                    background-size: cover;
                    padding: 15em 0;
                    margin-left: 15px;
                }

                &.business {
                    background: url(/Images/meeting.jpg) no-repeat center center;
                    background-size: cover;
                    padding: 15em 0;
                    margin-right: 15px;
                    margin-bottom: 15px;
                }

                @media screen and (max-width: 990px) {
                    height: 300px;
                    width: 100%;
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }
        }

        img {
            width: 100%;
            max-width: 1000px;

            @media screen and (max-width: 768px) {
                margin-bottom: 1em;
            }
        }
    }

    ul {
        margin-top: 2em;
    }

    @media screen and (max-width: 768px) {
        ul {
            padding: 0;
            margin: 0;
        }
    }

    li {
        list-style-type: none;
        font-size: 18px;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        i {
            font-size: 18px;
            margin-right: 5px;
            margin-top: -5px;
        }
    }

    .row {
        &.accent {
            background: $ci_accent1;
            padding: 4em;
            margin: 15px 0;

            > div {
                max-width: 800px;
                display: flex;
                margin: 0 auto;
                justify-content: space-between;
                align-items: center;

                @media screen and (max-width: 768px) {
                    flex-direction: column;

                    a {
                        margin-top: 2em;
                    }
                }
            }

            h3 {
                margin: 0;
                color: #fff;
                font-weight: 300;

                span {
                    border-bottom: 1px solid #fff;
                    font-weight: 700;

                    @media screen and (max-width: 768px) {
                        border: 0;
                    }
                }
            }

            a {
                color: #fff;
            }
        }
    }
}

//Software
section.software {
    ul {
        padding: 0 0 0 25px;
    }

    li {
        list-style-type: none;
        font-size: 18px;
        margin-bottom: 8px;
    }

    h2 {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 25px;
    }

    .row .row {
        padding: 0 20px;
    }
}
//Footer
footer {
    background: #333;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 85px;
    width: 100%;

    p {
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.progress-menu {
    background-color: #f9f9f9;
    margin-bottom: 40px;

    h3 {
        font-size: 1.2em;
        color: #fff;
        background-color: $ci_red;
        padding: 10px 10px;
        border-left: solid 3px $ci_red;
        //margin: 0;
        font-weight: 400;

        i {
            font-size: .85em;
            margin-bottom: 0;
            margin-right: 5px;
            float: left;
        }
    }
}

.progress-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    box-sizing: border-box;

    li div {
        padding: 7px 10px;
        border-left: solid 3px #ddd;
        display: block;
        margin: 0;
        text-decoration: none;
        color: #333;
        clear: both;
        //cursor: pointer;
        a {
            color: #333;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                color: $ci_red;
            }
        }

        &:hover, &.active, &.active:hover {
            //color: #000;
            border-color: $ci_red;
            color: $ci_red;
        }

        &.active a, &:hover a {
            color: $ci_red;
        }

        i {
            float: left;
            margin-right: 10px;
            padding-bottom: 7px;
        }
    }
}

@media (min-width: 319px) {
    .timeline-2 {
        border-left: solid 5px #eee;
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        margin-left: 110px;
    }

    .timeline-2 {
        li {
            position: relative;

            &:hover {
                .timeline-2-point {
                    background-color: #444;
                }
            }

            .timeline-time {
                position: relative;
                top: 0px;
                left: -150px;
                z-index: 20;
                text-align: right;
                display: block;
                width: 100px;

                span {
                    display: block;
                    font-size: 1.6em;
                }
            }

            .panel, blockquote {
                margin-top: -45px;
                position: relative;
                top: 0;
            }
        }
    }

    .timeline-2-point {
        top: 20px;
        left: -10px;
        width: 10px;
        height: 10px;
        position: absolute;
        background: red;
        margin: 0 0 0 -17px;
        box-shadow: 0 0 0 4px #eee;
        -webkit-font-smoothing: antialiased;
        border-radius: 30px;
        z-index: 20;
    }
}

small.work-address {
    color: white;
}

label.required-field:after, div.panel-heading.required-field:after, th.required-field:after {
    content: " *";
    color: red;
}

i.btn-delete-sm {
    padding: 3px 8px;
}

.wo-step-screen {
    margin-bottom: 10px;
}

span.field-validation-error {
    color: #a94442;
}

.upload-container {
    margin: 10px auto 10px auto;
}

.checkbox {
    padding-left: 0;
    margin-bottom: 3rem
}

label.check {
    cursor:default;
    input[type="checkbox"] + input + .animated-checkbox {
        position: relative;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
        cursor: pointer;

        .animated-checkbox-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }
    }

    input[type="checkbox"] {
        display: none;

        &:checked + input + .animated-checkbox {
            .animated-checkbox-icon {
                transform: scale(1) rotateZ(0deg);
                opacity: 1;
            }
        }

        &:disabled + input + .animated-checkbox {
            opacity: .5;
            cursor: not-allowed;
        }
    }
}

.panel-heading {
    display: flex;
    align-items: center;
    button.pull-right {
        margin-left: auto;
    }

    label.check {
        .animated-checkbox {
            margin-bottom: 0;
        } 
    }
}

.navigator{
    position: fixed;
    top: 50%;
    color:#b94a48;
}
.navigator:hover{
    text-decoration:none !important;
}
.navigator-right{
    right: 0;
}

.navigator-left{
    left: 0;
}

.tasks-table {
    table-layout: fixed;
    
}

div.validation-summary-errors {
    ul {
        list-style-position: inside;
        padding-left: 15px !important;
        color: #b94a48;
    }
}

.panel {
    .panel-footer {
        button.btn.btn-default{
            margin-left: 1em;
        }
    }
}

tr td input.form-control.combo-box.typeahead.tt-hint {
    width: 0px !important;
}

th.fixed-width {
    min-width: 120px;
}

.pricing-container {
    margin: 10px auto;
}

.calendar-row.active {
    background-color: #ddd !important;
}

div.panel-body.no-bottom-padding {
    padding-bottom: 0px;

    div.task-hover {
        border-top: 1px solid #ddd;
        padding-top: 10px;
        &:nth-of-type(2n) {
            background-color: #eee;
        }
    }
}

.hideable-container {
    .hideable {
        visibility: hidden;
    }

    &:hover {
        .hideable {
            visibility: visible;
        }
    }
}

.highlighted {
    background-color: #d3d3d3;
}

.highlighted-text {
    color: #b94a48 !important;
    font-weight: bold !important;
}

div.item-container div {
    min-height: 59px;
}