﻿@using ImagePainting.Site.Common.Models.Entities
@model IEnumerable<WorkOrderTask>

@if (Model.IsNullOrEmpty())
{
    <h3 class="text-center">You currently have no deferred tasks</h3>
}
else
{
    <table class="table table-striped" data-confirmtitle="Deferred Tasks">
        <thead>
            <tr>
                <th>Tasks</th>
                <th>Workorder</th>
                <th>Deferred</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="hideable-container">
                    <td>@Html.ActionLink(item.Name, "ViewTask", "Tasks", new { id = item.Id }, null)</td>
                    <td>@Html.ActionLink(item.WorkOrder.Name, "WorkOrder", "WorkOrders", new { id = item.WorkOrderId }, null)</td>
                    <td>@Html.CheckBoxFor(m => item.Deferred, new { data_id = item.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
