﻿@using ImagePainting.Site.Common.Models.Entities
@model IEnumerable<SystemAlert>

@if (Model.IsNullOrEmpty())
{
    <h3 class="text-center">You currently have no alerts</h3>
}
else
{
    <table class="table table-striped" data-confirmtitle="Resolve Note">
        <thead>
            <tr>
                <th>Workorder</th>
                <th>Task</th>
                <th class="ellipsis">Note</th>
                <th>From</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="hideable-container">
                    <td>@Html.ActionLink(item.Note?.WorkOrder.Name, "WorkOrder", "WorkOrders", new { id = item.Note?.WorkOrder.Id }, null)</td>
                    <td>
                        @if (!item.Note.WorkOrderTask.IsNull())
                        {
                            @Html.ActionLink(item.Note?.WorkOrderTask?.Name, "ViewTask", "Tasks", new { id = item.Note?.WorkOrderTask.Id }, null)
                        }
                    </td>
                    <td class="ellipsis">
                        <a title="@item.Note.Note.Text" href=@($"{Url.Action("WorkOrder", "WorkOrders", new { id = item.Note?.WorkOrder.Id })}#{Url.Action("Notes", "WorkOrders", new { id = item.Note?.WorkOrder.Id })}|workorders")>
                            @item.Note.Note.Text
                        </a>
                    </td>
                    <td>@(item.CreatedBy?.FullName)</td>
                    <td>@item.Created.ToLocalShortDateTime()</td>
                    <td class="option-icons hideable-td">
                        <div class="hideable">
                            <button class="btn btn-xs btn-success resolve-btn" id="@item.Id" title="Resolve">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </div>
                    </td>  
                </tr>
            }
        </tbody>
    </table>
}
