﻿@using ImagePainting.Site.Common.Models.Entities
@model IEnumerable<SystemAlert>

@if (Model.IsNullOrEmpty())
{
    <h3 class="text-center">You currently have no alerts</h3>
}
else
{
    <table class="table table-striped" data-confirmtitle="Resolve Job Extra">
        <thead>
            <tr>
                <th>Workorder</th>
                <th>Extra Item</th>
                <th>Qty</th>
                <th>Walk Qty</th>
                <th>From</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="hideable-container">
                    <td>@Html.ActionLink(item.JobExtra.WorkOrder.Name, "WorkOrder", "WorkOrders", new { id = item.JobExtra.WorkOrder.Id }, null)</td>
                    <td>
                        <a href=@($"{Url.Action("WorkOrder", "WorkOrders", new { id = item.JobExtra?.WorkOrder.Id })}#{Url.Action("ExtraJob", "WorkOrders", new { id = item.JobExtra?.WorkOrder.Id })}|workorders")>
                            @item.JobExtra.ExtraItem.Name
                        </a>
                    </td>
                    <td>@item.JobExtra.ExtraItem.Quantity</td>
                    <td>@item.JobExtra.ExtraItem.WalkQuantity</td>
                    <td>@(item.CreatedBy?.FullName)</td>
                    <td>@item.Created.ToLocalShortDateTime()</td>
                    <td class="option-icons hideable-td">
                        <div class="hideable">
                            <button class="btn btn-xs btn-success resolve-btn" title="Resolve" id="@item.Id">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </div>
                    </td>  
                </tr>
            }
        </tbody>
    </table>
}
