﻿@using ImagePainting.Site.Common.Models.Entities
@model IEnumerable<SystemAlert>

@{
    ViewBag.DashboardActive = "active";
    var unresolvedNotesAlert = Model.Where(x => !x.Note.IsNull());
    var unresolvedJobExtrasAlert = Model.Where(x => !x.JobExtra.IsNull());
}

<div class="jumbotron child">
    <h1>Dashboard</h1>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Alerts</h2>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#notes" id="noteTitle">Unacknowledged Notes (@unresolvedNotesAlert.Count())</a></li>
                <li><a data-toggle="tab" href="#jobExtras" id="jobExtraTitle">Unresolved Job Extras Differences (@unresolvedJobExtrasAlert.Count())</a></li>
                <li><a data-toggle="tab" href="#deferredTasks" id="deferredTasksTitle"></a></li>
            </ul>

            <div class="tab-content">
                <div id="notes" class="table-responsive tab-pane fade in active">
                    @Html.Partial("_UnAcknowledgedNotesTable", unresolvedNotesAlert)
                </div>

                <div id="jobExtras" class="table-responsive tab-pane fade">
                    @Html.Partial("_UnResolvedJobExtrasTable", unresolvedJobExtrasAlert)
                </div>

                <div id="deferredTasks" class="table-responsive tab-pane fade"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/dashboard")
    <script>
        $(app.dashboard.initDataTable);
        $(app.dashboard.initEventBindings);
    </script>
}
