﻿@model ImagePainting.Site.Domain.Models.WorkOrderTaskPdfModel

<div style="margin-bottom: 20px" class="pdf-container">
    <table cellpadding="0" cellspacing="0" width="100%" >
        <tr>
            <td style="font-family: Verdana, 'Trebuchet MS', Aria; font-size: 14px; line-height: 25px;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="750" style="border-collapse: collapse;">
                    <tr>
                        <td bgcolor="#ffffff">
                            <table>
                                <tr>
                                    <td>
                                        <a href="@ViewBag.AppBaseUrl">
                                            <img src="@ViewBag.AppBaseUrl/images/site-logo.jpg" height="92" width="160" alt="Image Painting Logo" style="display: block; margin: 0 5px auto 0; float: left; text-decoration: none; padding: 5px 5px 5px 5px; border-radius: 5px" />
                                        </a>
                                    </td>
                                    <td style="font-family: verdana">
                                        <h4 style="line-height: 10px; font-size: 12px; padding: 5px 5px 5px 5px; margin-bottom: 0; margin-top: 0;">
                                            <b>
                                                <a href="@ViewBag.AppBaseUrl" style="text-decoration: none; color: black">
                                                    Image Painting of Florida Inc.
                                                </a>
                                            </b>
                                        </h4>
                                        <p style="line-height: 10px; font-size: 10px; padding:5px 5px 5px 5px;margin-bottom: 0; margin-top:0;">23110 SR 54, Suite 307</p>
                                        <p style="line-height: 10px; font-size: 10px; padding:5px 5px 5px 5px;margin-bottom: 0; margin-top:0;">Luts, FL 33549</p>

                                        <p style="line-height: 10px; font-size: 10px; padding:5px 5px 5px 5px;margin-bottom: 0; margin-top:0;">813-767-6325</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff">
                            
                            <div style="margin-top: 20px;">
                                <p style="font-size: 20px; line-height: 25px; text-decoration: underline">
                                    <b>@Model.TaskName</b>
                                </p>

                                <div style="width: 50%; float: left;"><b>Customer Name: </b> @Model.CustomerName</div>
                                <div style="width: 50%; float: left;"><b>Schedule Date: </b> @Model.ScheduleDate</div>
                                
                                <div style="width: 50%; float: left;"><b>Address: </b> @Model.WorkOrderAddress</div>
                                <div style="width: 50%; float: left;"><b>Work Order: </b> @Model.WorkOrderName</div>
                                
                                <div style="width: 50%; float: left;"><b>Phone: </b> @Model.CustomerPhoneNumber</div>
                                <div style="width: 50%; float: left;"><b>Builder: </b> @Model.BuilderName</div>

                                <div style="width: 50%; float: left;"><b>Email: </b> @Model.CustomerEmail</div>
                                <div style="width: 50%; float: left;"><b>Community: </b> @Model.CommunityName</div>

                                <div style="width: 50%; float: left;"><b>Customer Service Rep: </b> @Model.CustomerServiceRep</div>
                            </div>
                        </td>
                      </tr>

                      <tr>
                          <td bgcolor="#ffffff" style="padding: 10px 0 0 0;">
                            <div style="width: 100%;">
                                <div style="max-width: 100%; flex: 1;">
                                    <p style="font-size: 20px; line-height: 25px; margin-top: 10px; text-decoration: underline">
                                        <b>Task Items</b>
                                    </p>

                                    @foreach (var item in Model.OtherTaskItems)
                                    {
                                        <div style="width: 50%; float: left; margin-bottom: 15px;">
                                            <p style="line-height: 20px; padding: 5px 5px 5px 0px; margin-bottom: 0; margin-top: 0;"><b>@item.Key</b>
                                            </p>
                                            <p style="line-height: 10px; padding: 5px 5px 5px 0px; margin-bottom: 0; margin-top: 0; height: 10px;">@item.Value</p>
                                        </div>
                                    }
                                </div>
                            </div>
                          </td>
                     </tr>

                     <tr> 
                        <td bgcolor="#ffffff" style="padding: 10px 0 10px 0;">
                            <div style="max-width: 100%; flex: 1";>
                                    @foreach (var item in Model.NoteItems)
                                    {
                                        var notes = item.Value.OrderBy(x => x.Created);
                                
                                        <p>
                                            <b>@item.Key</b>
                                            
                                            @foreach (var note in notes)
                                            {
                                                if (note != null)
                                                {
                                                    <p style="padding: 0 0 0 5px; line-height: 20px; margin-bottom: 0; margin-top: 0;"><span>@note.Text</span> &nbsp; <small>- @note.Author @note.Created</small>
                                                    </p>
                                                }
                                            }
                                        </p>
                                
                                    }
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
@if (Model.CompleteCopy)
{   
    <div  style="padding-bottom:10px;">
        <p style="font-size: 20px; line-height: 25px; text-decoration: underline">
            <b>Billing</b>
        </p>
        <p>
            <b>@Model.TaskDescription - Labor @DateTime.UtcNow.ToShortDateString()</b>
            <span style="float: right">@Model.LaborCost.ToString("C")</span>
        </p>
        <p>
            <b>@Model.TaskDescription - Material @DateTime.UtcNow.ToShortDateString()</b>
            <span style="float: right; border-bottom: 2px solid black; width: 150px;">
                <span style="float: right">@Model.MaterialCost.ToString("C")</span>
            </span>
        </p>
        <p style="float: right">
            <span style="padding-right: 50px;">Total</span>
            <span> @Model.TotalCost.ToString("C")</span>
        </p>
                                    

    </div>
}
@if (Model.IncludeSignature)
{ <div style="padding: 20px 0 10px 0">
        <p style="text-decoration: underline"><b>Customer Sign Off</b></p>
        <p>@Model.SignOffDescription</p>
    
        <div style="width: 300px">
            <img style="height: 50px" src="@Model.Signature" />
            <hr style="height:2px;border:none;color:#333;background-color:black;" />
        </div>
        <p style="line-height: 10px; padding: 5px 5px 5px 0px; margin-bottom: 0; margin-top: 0;">@Model.Signatory</p>
        <p>@Model.SignedDate</p>
  </div>
}
else
{
    <p style="float: right"> <small>Customer Signature here</small></p>
    <div class="signature-container" style="border-top: 1px solid #e5e5e5;">
    </div>
}
