﻿@model IViewHelper
@{
    var dateTimeRange = (DateTimeRange)ViewData["dateTimeRange"];
    var minDate = ViewData.ContainsKey("minDate") ? ((DateTime)ViewData["minDate"]).ToString("yyyy-MM-dd") : null;
    var maxDate = ViewData.ContainsKey("maxDate") ? ((DateTime)ViewData["maxDate"]).ToString("yyyy-MM-dd") : null;
}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" style="overflow:visible">
        <div class="panel-heading col-md-12" role="tab" id="headingOne">
            <h4 class="panel-title col-md-12">
                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#searchCollapse" aria-expanded="true" aria-controls="collapseOne">
                    Search
                </a>
                <span class="pull-right" id="panelTimeSpanText">@dateTimeRange.BeginDateTime.ToString("MMM dd, yyyy") - @dateTimeRange.EndDateTime.ToString("MMM dd, yyyy")</span>
            </h4>
        </div>
        <form id="searchCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="form-group col-md-4" id="crews">
                    <label>Crew</label>
                    @Html.DropDownList("CrewIds[]",
                                      Model.GetUsersOptions(includeBlankOption: false, includeUnassigned: true),
                                      ViewHelper.GetHtmlAttributes(multiple: true, id: "CrewIds"))
                </div>

                <div class="form-group col-md-4" id="communities">
                    <label>Communities</label>
                    @Html.DropDownList("CommunityIds[]",
                                      Model.GetCommunityOptions(0, includeBlankOption: false),
                                      ViewHelper.GetHtmlAttributes(multiple: true, id: "CommunityIds"))
                </div>
                <div class="form-group col-md-4" id="tasks">
                    <label>Task Name</label>
                    @Html.DropDownList("TaskSchemaIds[]",
                                      Model.GetTaskSchemasOptions(0, includeBlankOption: false,
                                                              includeAllTasksOption: false, excludeMainTask: false,
                                                              includeMainTaskOption: true),
                                      ViewHelper.GetHtmlAttributes(multiple: true, id: "TaskSchemaIds"))
                </div>
                <div class="form-group col-md-4" id="grouping">
                    <label>Grouping</label>
                    @Html.DropDownList("TimePeriod", ViewHelper.GetGroupingOptions(), ViewHelper.GetHtmlAttributes())
                </div>
                <div class="form-group col-md-2" id="dateFrom">
                    <label>From Date</label>
                    @Html.TextBox("DateRange.BeginDateTime", null, ViewHelper.GetHtmlAttributes(type: "date", min: minDate, max: maxDate))
                </div>
                <div class="form-group col-md-2" id="dateTo">
                    <label>To Date</label>
                    @Html.TextBox("DateRange.EndDateTime", null, ViewHelper.GetHtmlAttributes(type: "date", min: minDate, max: maxDate))
                </div>
                <div class="form-group col-md-4" id="workOrder">
                    <label>Work Order Name</label>
                    @Html.TextBox("WorkOrder", null, ViewHelper.GetHtmlAttributes(id: "WorkOrder"))
                </div>
            </div>
            <div class="container-fluid">
                <div class="panel-footer">
                    <button class="btn btn-default" id="searchBtn" type="button">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />