﻿@model IOrderedEnumerable<IGrouping<DateTime, WorkOrderTask>>
@{
    var pageNumber = Request.QueryString["pageNumber"].AsInt();
    var taskName = "Task";
    var month = DateTime.Now.AddMonths(pageNumber).ToString("MMMM yyyy");
}
@Html.Partial("WorkOrderTasks", Model, new ViewDataDictionary { { "taskName", taskName }, { "month", month } })

<a class="fa fa-4x fa-chevron-circle-left navigator navigator-left" aria-hidden="true" href="@Url.Action("AllTasks", "Tasks", new { pageNumber = @ViewBag.PageNumber - 1 })">
</a>
<a class="fa fa-4x fa-chevron-circle-right navigator navigator-right" aria-hidden="true" href="@Url.Action("AllTasks", "Tasks",new { pageNumber = @ViewBag.PageNumber + 1 })">
</a>
