﻿@model SiteViewModel<WorkOrderTask>
@{ 
    var model = Model.ViewModel;
}
@if (model.Permission.CanSave || model.Permission.CanChangeSchedule || model.Permission.CanAddNote)
{
    <button class="btn btn-default btn-save">Save</button>
}

@if (model.Permission.CanSave)
{
    var allChecked = model.TaskItems.Count(x => x.DataType == TaskDataType.YesNo) == model.TaskItems.Count(x => x.DataType == TaskDataType.YesNo && x?.Value == "true");

    <button class="btn btn-default btn-complete" @(model.Permission.CanComplete ? string.Empty : "disabled")>Complete</button>
}

@if (model.Permission.CanUnlock)
{
    <button class="btn btn-default btn-unlock">Unlock</button>
}

@if (model.Permission.CanAddNewItem)
{
    <button class="btn btn-default pull-right btn-add-new">New Item</button>
}

@if (model.Permission.CanSignDocument)
{
    <button class="btn btn-default pull-right btn-sign-document">Sign Document</button>
}

@if (model.IsMainTask && model.Completed.HasValue && Model.UserHelper.IsUserAdmin())
{
    <a href="@Url.Action("DownloadTaskSignedPdf", "Tasks", new { taskId = model.Id} )" class="btn btn-primary pull-right download-document">Download Signed Doc</a>
}