﻿@model SiteViewModel<WorkOrderTask>
@{
    var model = Model.ViewModel;
    var inputs = model.TaskItems.Where(x => x.DataType.IsAnyOf(TaskDataType.YesNo, TaskDataType.Number, TaskDataType.Text));
    var notes = model.TaskItems.Where(x => x.DataType == TaskDataType.Note);
    var isCompleted = model.Completed.HasValue;

    var cantSave = !model.Permission.CanSave;
    var cantSchedule = !model.Permission.CanChangeSchedule;
    var startTime = model.ScheduleDateRange.BeginDate.TimeOfDay == TimeSpan.Zero ? string.Empty : ViewHelper.GetTime(model.ScheduleDateRange.BeginDate);
    var endTime = model.ScheduleDateRange.EndDate.HasValue && model.ScheduleDateRange.EndDate.Value.TimeOfDay != TimeSpan.Zero ? ViewHelper.GetTime(model.ScheduleDateRange.EndDate.Value) : string.Empty;
}

<div class="form">
    @Html.AntiForgeryToken()
    @if (model.IsMainTask)
    {
        var taskType = model.TaskType;
        var taskTypeEnum = (int)model.TaskType;
       <input id="taskType" hidden data-tasktype="@taskType" data-tasktypeenum="@taskTypeEnum" />
    }
    <input name="Id" id="Id" type="text" value="@(model.Id)" hidden />
    @Html.For(model).Hidden("is-main-task", model.IsMainTask)
    
    @Html.For(model).HiddenFor(x => x.SchemaId)
    @if (!model.CompletedById.IsNullOrEmpty() && model.CompletedBy != null)
    {
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p class="text-success">
                <strong>Completed:</strong>
                <em>@(model.Completed.Value.ToLocalShortDateTime()) by @(model.CompletedBy.FullName)</em>
            </p>
        </div>
        @if (model.IsMainTask && model.Completed.HasValue)
        {
            <div class="col-xs-12 col-sm-6">
                <p class="text-info pull-right">
                    <strong>Payment Date:</strong>
                    <em>@(model.Completed?.EstimatePaymentDate().ToString("MMM dd yyyy"))</em>
                </p>
            </div>
        }
    </div>
    }
    @if (!model.UnlockedById.IsNullOrEmpty() && model.Unlocked != null)
    {
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p class="text-warning">
                <strong>Unlocked:</strong>
                <em>@(model.Unlocked.Value.ToLocalShortDateTime()) by @(model.UnlockedBy.FullName)</em>
            </p>
        </div>
    </div>
    }
    <div class="row">
        <div class="col-xs-6 form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                @Html.For(model).DropDownListFor(x => x.CrewId, Model.ViewHelper.GetUsersOptions(model.CrewId, isCompleted, isCompleted),ViewHelper.GetHtmlAttributes(disabled: cantSchedule))
            </div>
        </div>
        <div class="col-xs-6 form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                @Html.For(model).TextBox("ScheduleDate", model.ScheduleDateRange.BeginDate.Date.ToString("yyyy-MM-dd"),ViewHelper.GetHtmlAttributes(type: "date", disabled: cantSchedule))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                @Html.TextBox("BeginDate", startTime,ViewHelper.GetHtmlAttributes(type: "time",  disabled: cantSchedule))
            </div>
        </div>
        <div class="col-xs-6 form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                @Html.TextBox("EndDate", endTime,ViewHelper.GetHtmlAttributes(type: "time", disabled: cantSchedule))
            </div>
        </div>
    </div>
    <div class="row draggable-container">
        @for (int i = 0, len = inputs.Count(); i < len; i++)
        {
            var item = inputs.ElementAt(i);

            <div class="col-md-6 form-group item-container draggable hideable-container" draggable="true" id="@($"taskitem_{i}_{model.Id}")">
                <div style="margin-bottom: -20px; display: inline;">
                    @Html.Hidden($"TaskItems[{i}].Name", item.Name, new { @class = "task-item" })
                    @Html.Hidden($"TaskItems[{i}].DataType", item.DataType, new { @class = "task-dataType" })
                    @if (item.DataType == TaskDataType.YesNo)
                    {
                        <label class="check">
                            @Html.CheckBox($"TaskItems[{i}].Value", item.Value.IsTrue(),ViewHelper.GetHtmlAttributes(formControl: false, disabled: cantSave, @class: "checkbox item-checkbox task-value"))
                            <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                            @item.Name
                        </label>

                        if (model.Permission.CanAddNewItem)
                        {
                            <i class="btn btn-danger btn-sm glyphicon glyphicon-remove pull-right btn-delete-sm hideable" title="click to remove item"></i>
                        }
                    }
                    else 
                    {
                        <label>@item.Name</label>
                        if (model.Permission.CanAddNewItem)
                        {
                            <i class="btn btn-danger btn-sm glyphicon glyphicon-remove hideable pull-right btn-delete-sm" title="click to remove item"></i>
                        }
                        @Html.TextBox($"TaskItems[{i}].Value", item.Value,ViewHelper.GetHtmlAttributes(type: item.DataType.ToString(), @class: "task-value", disabled: cantSave))
                    }

                </div>
            </div>
        }
    </div>

    <div class="row task-notes">
        @for (var i = 0; i < notes.Count(); i++)
        {
            var noteItem = notes.ElementAt(i);
            var index = i + inputs.Count();

            <div class="col-xs-12 note-container form-group item-container">
                <label class="note-item">
                    @noteItem.Name
                    @if (model.Permission.CanAddNote)
                    {
                        <span class="btn btn-default btn-sm glyphicon glyphicon-edit btn-edit-note" title="Click to add note"></span>
                    }
                </label>
                @if (model.Permission.CanAddNewItem)
                {
                    <i class="btn btn-danger btn-sm glyphicon glyphicon-remove hidden pull-right btn-delete-sm" title="click to remove item"></i>
                }
                <textarea name=@($"TaskItems[{index}].Value") rows="4" class="form-control new-note task-value hidden"></textarea>
                <textarea name="taskNote(@index)" rows="4" class="form-control" readonly>@(ViewHelper.ToNoteDisplay(noteItem.Value))</textarea>
                @Html.Hidden($"TaskItems[{index}].Name", noteItem.Name, new { @class = "task-item" })
                @Html.Hidden($"TaskItems[{index}].DataType", noteItem.DataType, new { @class = "task-dataType" })
            </div>
        }
    </div>
    <div class="container-fluid new-items">

    </div>
    <br />
</div>
@if (model.IsMainTask && Model.UserHelper.IsUserAdmin())
{
    Html.RenderAction("WorkItems", "WorkOrders", new { taskId = model.Id });
}

@if (model.IsMainTask)
{
    Html.RenderAction("TaskLaborPricing", "WorkOrders", new { taskId = model.Id});

    Html.RenderAction("PurchaseOrders", "PurchaseOrders", new { task = model });
}

@{
    Html.RenderAction("Files", "FileUploads", new { ownerId = model.Id, ownerType = FileOwnerType.Task, secondaryOwnerType = FileOwnerType.SignedDocument }); 
}