﻿@model IEnumerable<ImagePainting.Site.Common.Models.WorkOrderTaskSchema>
@{
    ViewBag.Title = "Tasks";
    ViewBag.SetupActive = "active";
}

<div class="jumbotron child">
    <h1>Tasks</h1>
</div>

<section class="container body-content">
    <div class="row add-container">
        <div class="col-md-12">
            @Html.ActionLink("Add", "Task", null, new { @class = "btn btn-primary pull-right" })

        </div>
    </div>
    <div class="row table-responsive">
        <table class="table table-striped" id="schemaTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(@task.Name, "Task", new { id = task.Id})</td>
                        <td>@task.TaskType.ToString().BreakupText()</td>
                        <td>@task.Modified.ToLocalShortDate()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @section scripts {
        @Scripts.Render("~/bundles/tasks")
        <script>
            $(app.task.initDataTable);
        </script>
    }
</section>
