﻿@model SiteViewModel<List<CalendarDayModel>>
@{
    ViewBag.Title = "Overdue Tasks";
    ViewBag.WorkOrdersActive = "active";
}
<div class="jumbotron child">
    <h1>Overdue Tasks</h1>
</div>

<div class="container body-content">
    @Html.Partial("_FilteredTasks", Model.ViewHelper)
    <div id="result" data-url="@Url.Action("LoadTasks", "Tasks")">
        @{
            var pageNumber = Request.QueryString["pageNumber"].AsInt();
            var dateTimeRange = ViewData["DateTimeRange"];
            var taskName = "Overdued Task";
        }
        @Html.Partial("WorkOrderTasks", Model.ViewModel, new ViewDataDictionary {
        { "taskName", taskName }, { "dateTimeRange", dateTimeRange },
        { "ShowPrevButton", ViewBag.ShowPrevButton }, { "ShowNextButton", ViewBag.ShowNextButton }})
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/bootstrapmultiselect")
    @Scripts.Render("~/bundles/tasks")
    <script>
        $(app.task.initMultiSelect);
        $(app.task.initTaskButtons);
        app.task.setDateRange(@Html.Raw(dateTimeRange.ToJson()));
    </script>
}