﻿@model SiteViewModel<WorkOrderTaskSchema>

@{
    var model = Model.ViewModel;
    ViewBag.Title = model.Id == default(int) ? "Create Task" : $"Edit {model.Name}";
    ViewBag.SetupActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
}

<div class="jumbotron child">
    <h1>@(string.IsNullOrEmpty(model.Name) ? "New Task" : $"Task - {model.Name}")</h1>
</div>

<section class="container body-content">
    @using (Html.BeginForm("Task", "Tasks", FormMethod.Post, new { novalidate = true}))
    {
        @Html.AntiForgeryToken()

        @Html.For(model).HiddenFor(x => x.Id);
        <div class="row">
            <div class="form-group col-md-4">
                <label for="name">Pre-Walk Task</label>
                @Html.For(model).DropDownListFor(x => x.PreWalkTaskId, Model.ViewHelper.GetTaskSchemasOptions(model.PreWalkTaskId),ViewHelper.GetHtmlAttributes())
            </div>
            <div class="form-group col-md-4">
                <label for="name">Completion Walk Task</label>
                @Html.For(model).DropDownListFor(x => x.CompletionWalkTaskId, Model.ViewHelper.GetTaskSchemasOptions(model.CompletionWalkTaskId),ViewHelper.GetHtmlAttributes())
            </div>
            <div class="form-group col-md-4">
                <label for="TaskType" class="required-field">Task Type</label>
                @Html.For(model).DropDownListFor(x => x.TaskType, ViewHelper.GetTaskTypeOptions(model.TaskType),ViewHelper.GetHtmlAttributes())
                @Html.For(model).ValidationMessageFor(x => x.TaskType)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="name" class="required-field">Task Name</label>
                @Html.For(model).TextBoxFor(x => x.Name,ViewHelper.GetHtmlAttributes(maxLength: 256))
                @Html.For(model).ValidationMessageFor(x => x.Name)
            </div>

            <div class="form-group col-md-4 col-xs-6">
                <label class="required-field" for="amount">Amount Paid</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    @Html.For(model).TextBoxFor(x => x.Amount,ViewHelper.GetHtmlAttributes(type: "number"))
                </div>
                @Html.For(model).ValidationMessageFor(x => x.Amount)
            </div>

            <div class="form-group col-md-4 col-xs-6">
                <label for="name">Amount Is Lump Sum</label>
                @Html.For(model).DropDownListFor(x => x.IsLumpSum, ViewHelper.GetYesNoOptions(model.IsLumpSum),ViewHelper.GetHtmlAttributes())
                @Html.For(model).ValidationMessageFor(x => x.IsLumpSum)
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading required-field">Task Items</div>
            <div class="panel-body">
                <div class="container form-group add-container">
                    @Html.For(model).ValidationMessageFor(x => x.TaskItemsJson)
                </div>
                <div id="task-item" class="draggable-container">
                    @for (var i = 0; i < model.TaskItems.Count(); i++)
                    {
                        var tasks = model.TaskItems;
                        var item = tasks.ElementAt(i);

                        <div class="row draggable" draggable="true" id=@($"taskItem_{i}")>
                            <div class="form-group col-md-5">
                                <div class="col-md-3"><label for="name" class="">Item Name</label></div>
                                <div class="col-md-9"> @Html.TextBox($"TaskItems[{i}].Name", item.Name,ViewHelper.GetHtmlAttributes(@class: "task-name")) </div>
                                @Html.ValidationMessage($"TaskItems[{i}].Name", "", new { @class = "col-md-9 col-md-offset-3 text-danger" })
                            </div>

                            <div class="form-group col-md-5">
                                <div class="col-md-3"><label for="name" class="">Data Type</label></div>
                                <div class="col-md-9">@Html.DropDownList($"TaskItems[{i}].DataType", ViewHelper.GetItemDataType(item.DataType),ViewHelper.GetHtmlAttributes(@class: "task-type"))</div>
                            </div>

                            <div class="form-group col-md-2">
                                <button class="btn btn-danger" id="delete-task"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                        </div>
                    }
                </div>

                <button type="button" class="btn btn-default pull-right" id="new-taskItem">New Item </button>

            </div>
        </div>

        <div class="form-group">
            @PageHelpers.CancelButton("Index", "Tasks")
            
            @if (model.Id != default(int) && isAdmin)
            {
                <button class="btn btn-danger"
                        data-execute="true"
                        data-url="@Url.Action("DeleteTaskSchema", "Tasks")"
                        data-data="@((new { id = model.Id }).ToJson())"
                        data-confirmmessage='Do you want to delete "@(model.Name)"?'
                        data-confirmtitle="Delete Task Schema?"
                        data-redirect="@Url.Action("Index", "Tasks")">
                    Delete
                </button>
            }

            <input id="submitBtn" type="submit" value="Save" class="btn btn-primary" />
        </div>
    }

    @section scripts {
        @Scripts.Render("~/bundles/tasks")
        <script>
            $(app.task.initTask);
        </script>
    }
</section>
