﻿@model SiteViewModel<List<ImagePainting.Site.Web.Models.CalendarDayModel>>

@{
    ViewBag.Title = "Upcoming Tasks";
    ViewBag.WorkOrdersActive = "active";
}
<div class="jumbotron child">
    <h1>Upcoming Tasks</h1>
</div>

<div class="container body-content">
    @Html.Partial("_FilteredTasks", Model.ViewHelper)
    <div id="result" data-url="@Url.Action("LoadTasks", "Tasks")">
        @{
            var pageNumber = Request.QueryString["pageNumber"].AsInt();
            var dateTimeRange = ViewData["DateTimeRange"];
            var taskName = "Upcoming Task";
        }
        @Html.Partial("WorkOrderTasks", Model.ViewModel, new ViewDataDictionary {
            { "taskName", taskName },
            { "dateTimeRange", dateTimeRange },
            { "ShowPrevButton", ViewBag.ShowPrevButton },
            { "ShowNextButton", ViewBag.ShowNextButton }
        })
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/bootstrapmultiselect")
    @Scripts.Render("~/bundles/tasks")
    <script>
        $(app.task.initTaskButtons);
        $(app.task.initMultiSelect);
        app.task.setDateRange(@Html.Raw(dateTimeRange.ToJson()));
    </script>
}