﻿@using ImagePainting.Site.Common.Models
@model SiteViewModel<WorkOrderTask>

@{
    ViewBag.Title = "Task";
    ViewBag.WorkOrdersActive = "active";
    var model = Model.ViewModel;
}

<div class="jumbotron child">
    <h1>Task - @(model.Name)</h1>
</div>

@if (model.IsMainTask)
{
    <input name="MainTask" id="mainTask" value="@(model.Id)" hidden />
}

<div class="container body-content">
    <div>
        <h3>
            <a href="@Url.Action("WorkOrder", "WorkOrders", new { id = model.WorkOrderId })#@Url.Action("Task", "WorkOrders", new { id = ViewBag.MainTaskId})|workorders">@(model.WorkOrder.Name)</a>
        </h3>
        <small><strong>@($"{model.WorkOrder.Address}")</strong> </small>
    </div>
    
    <div class="panel panel-@ViewHelper.GetTaskColorSurfix(model)">
        <div class="panel-heading">
            <div class="main-task-heading">
                <h4 class="panel-title pull-left">
                     @(model.Name)
                </h4>
                @if(model.Permission.CanDefer)
                {
                    <label class="check deferred-label pull-right dark-text" data-taskid="@(model.Id)">
                        @Html.CheckBox("deferred", model.Deferred, ViewHelper.GetHtmlAttributes(formControl: false, id: "deferred-checkbox", @class: "checkbox item-checkbox task-value"))
                        <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                        Deferred
                    </label>
                }
            </div>
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Tasks/_TaskPartial.cshtml", Model)
        </div>
        <div class="panel-footer">
            @PageHelpers.CancelButton("AllTasks", "Tasks")
            @Html.Partial("~/Views/Tasks/_TaskButtons.cshtml", Model)
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/tasks")
<script>
        $(app.task.initWorkOrderTask);
</script>
}