﻿@model List<ImagePainting.Site.Web.Models.CalendarDayModel>

@{
    ViewBag.WorkOrdersActive = "active";
    var taskName = ViewData.ContainsKey("taskName") ? ViewData["taskName"] : "task";
    var dateTimeRange = (DateTimeRange)ViewData["dateTimeRange"];
    var showNext = (bool)ViewData["ShowNextButton"];
    var showPrev = (bool)ViewData["ShowPrevButton"];
    var maxDate = DateTime.UtcNow;
}

<div class="col-md-10" id="contents" data-pagenumber="@(ViewBag.PageNumber ?? 0)">
    <input type="hidden" id="timeSpanText" value="@dateTimeRange.BeginDateTime.ToString("MMM dd, yyyy") - @dateTimeRange.EndDateTime.ToString("MMM dd, yyyy")" />
    <ul class="timeline-2">
        @foreach (var dayTasks in Model)
        {
            <li>
                <time class="timeline-time">@dayTasks.Date.ToString("MM/dd/yyyy dddd") <span>@dayTasks.Date.ToString("MMMM")</span></time>
                <i class="timeline-2-point"></i>
                <div class="panel panel-default @dayTasks.PanelClass">
                    @if (dayTasks.CanShowEmailButton)
                    {
                        <div class="panel-heading">
                            <label class="check all" title="check all">
                                @Html.CheckBox("check-all", false, new { @class = "check-all" })
                                <span class="animated-checkbox">
                                    <i class="animated-checkbox-icon glyphicon glyphicon-ok"></i>
                                </span>
                            </label>
                            <button class="btn btn-default mailer pull-right" disabled title="Click to Email task to crew"><i class="glyphicon glyphicon-envelope"></i></button>
                        </div>
                    }
                    <div class="panel-body @dayTasks.PanelBodyClass no-bottom-padding">
                        @foreach (var calendarItem in dayTasks.CalendarItems)
                        {
                            
                            <div class="row task-hover @(calendarItem.CrewId.IsNull() ? "unAssignedTask" : "assignedTask") @calendarItem.IsFreeCrew calendar-row" 
                                 data-workorder="@($"{{\"crew\":\"{calendarItem.CrewName}\", " +
                                  $"\"workOrderId\":\"{calendarItem.WorkOrderId}\", " +
                                  $"\"crewId\":\"{calendarItem.CrewId}\", " +
                                  $"\"date\":\"{dayTasks.Date.Date.ToString("yyyy-MM-dd")}\", " +
                                  $"\"startTime\":\"{calendarItem.StartTimeString}\", " +
                                  $"\"endTime\":\"{calendarItem.EndTimeString}\", " +
                                  $"\"taskId\":\"{calendarItem.TaskId}\", \"taskTitle\":\"{calendarItem.TaskName}\", \"maxDate\":\"{maxDate.ToString("yyyy-MM-dd")}\" }}"

                                                                                                    )">
                                @if (!string.IsNullOrWhiteSpace(calendarItem.TaskName))
                                {

                                    <div class="row font-1 margin-left-30">
                                        <div class="col-xs-12 col-sm-6"><span>@calendarItem.TaskTimeRange</span></div>

                                        <div class="col-xs-12 col-sm-6"><span class="pull-right remove-pull-md margin-right-10">@calendarItem.WorkOrderAddress</span></div>
                                    </div>
                                }

                                <p class="col-md-3 crew-name @calendarItem.IsFreeCrew" id="@calendarItem.TaskId">
                                    @if(calendarItem.CanChangeSchedule)
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="button" class="btn btn-xs btn-default schedule-popover-button" data-toggle="popover">
                                            <span class="fa fa-ellipsis-h"></span>
                                        </button>
                                    }
                                    else if(!calendarItem.IsFreeCrew.IsNullOrEmpty())
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="button" class="btn btn-xs btn-default busy-popover-button" data-toggle="popover"
                                              data-crewsetting="@($"{{\"crewId\": \"{calendarItem.CrewId}\", " +
                                                                  $"\"scheduledDate\": \"{dayTasks.Date.Date}\", " +
                                                                  $"\"busy\": \"{calendarItem.IsBusy}\"}}")">
                                            <span class="fa fa-ellipsis-h"></span>
                                        </button>
                                    }
                                    <span id="@calendarItem.WorkOrderId" class="@calendarItem.TextColor">@calendarItem.CrewName</span>
                                </p>

                                <p class="col-md-3 taskName" id="@calendarItem.TaskId"
                                   data-workordername="@calendarItem.WorkOrderName", 
                                   data-tasktime="@calendarItem.TaskTimeRange">
                                    @if (!string.IsNullOrWhiteSpace(calendarItem.TaskName))
                                    {
                                        @Html.ActionLink(calendarItem.TaskName, "ViewTask", new { id = calendarItem.TaskId }, new { @class = "task-name" })

                                    }
                                </p>
                                <p class="col-md-4">
                                    @if (!string.IsNullOrWhiteSpace(calendarItem.WorkOrderName))
                                    {
                                        @Html.ActionLink(calendarItem.WorkOrderName, "WorkOrder", "WorkOrders", new { id = calendarItem.WorkOrderId }, string.Empty)                                      
                                    }
                                </p>
                                <p class="col-md-2">
                                    @foreach (var icon in calendarItem.Icons)
                                    {
                                    <span>
                                        &nbsp;
                                            @if(icon.IsLink)
                                            {
                                                <a class="dark-text" href="@Url.Action("PurchaseOrder","PurchaseOrders", new { id = icon.LatestPOId, taskId = calendarItem.TaskId})">
                                                    <i title="@icon.ToolTip" class="@icon.Icon" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <i title="@icon.ToolTip" class="@icon.Icon" aria-hidden="true"></i>
                                            }
                                    </span>
                                        
                                    }
                                    
                                </p>
                            </div>
                        }
                    </div>
                 </div>
            </li>
        }
   </ul>
    
    @if (Model.IsNullOrEmpty())
    {
        <h4 class="text-center">No task exists from @dateTimeRange.BeginDateTime.ToString("MMM dd yyyy") to @dateTimeRange.EndDateTime.ToString("MMM dd yyyy")</h4>
    }
</div>

@if (showPrev)
{
<a class="fa fa-4x fa-chevron-circle-left navigator task-navigator navigator-left" aria-hidden="true" data-pagenumber="@((ViewBag.PageNumber ?? 0) - 1)"></a>
}

@if (showNext)
{
<a class="fa fa-4x fa-chevron-circle-right navigator task-navigator navigator-right" aria-hidden="true" data-pagenumber="@((ViewBag.PageNumber ?? 0) + 1)"></a>
}
