﻿<div id="extra-items-list-container" style="max-height: 370px; overflow-y: scroll; padding: 10px;">
    <div class="col-md-4 col-xs-6" rv-each-extraitem="allExtraItems">
        <div class="checkbox">
            <label><input type="checkbox" rv-checked="extraitem.checked" >{ extraitem.Name }</label>
        </div>
    </div>
</div>

<script>
    $(app.workorders.initJobExtraModalRivetBindings);
</script>