﻿<div rv-each-group="groupedModel">
    <div class="col-xs-12">
        <strong rv-groupclass="group.groupName"> { group.groupName } </strong>
    </div>
    <div class="row items" rv-each-extraitem="group.extraItems">
        <div class="col-xs-3">
            <div class="form-group">
                <button type="button" class="btn btn-xs btn-default popover-button" data-toggle="popover"
                        rv-disabled="disabled"
                        rv-data-group="%group%" rv-data-extraitemindex="%extraitem%"
                        rv-data-tasktype="extraitem.TaskType" rv-data-maintaskids="extraitem.TaskIds">
                    <span class="fa fa-ellipsis-h"></span>
                </button>

                <input type="text" class="form-control item-name" rv-input="extraitem.Name" rv-value="extraitem.Name" rv-disabled="extraitem.Id" />
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group input-group">
                <div class="input-group-addon">$</div>
                <input type="number"
                       class="form-control item-buildercost"
                       rv-input="extraitem.BuilderCost"
                       rv-data-id="extraitem.Id"
                       rv-value="extraitem.BuilderCost"
                       rv-disabled="disabled" step="0.01" />
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <input type="number" class="form-control item-quantity"
                       rv-data-id="extraitem.Id"
                       rv-input="extraitem.Quantity"
                       rv-value="extraitem.Quantity"
                       rv-disabled="disabled" step="0.01" />
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <input type="number" class="form-control item-walkqty"
                       rv-data-id="extraitem.Id"
                       rv-value="extraitem.WalkQuantity"
                       rv-walkqtycolor="extraitem"
                       rv-input="extraitem.WalkQuantity"
                       rv-disabled="disabled" step="0.01" />
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control item-laborCost"
                       rv-data-id="extraitem.Id"
                       rv-input="extraitem.LaborCost"
                       rv-value="extraitem.LaborCost" rv-disabled="disabled" step="0.01" />
            </div>
        </div>
        <div class="col-xs-1 last-child">
            <i rv-data-group="%group%" rv-data-extraitemindex="%extraitem%" rv-disable="disabled" class="btn btn-danger btn-sm extra-item glyphicon glyphicon-remove remove"></i>
            <span rv-if="extraitem.Alert" rv-show="extraitem.Alert.Resolved" 
                rv-disable="disabled"
                data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-ok-sign text-success resolved-jobextra"
                rv-title="extraitem.Alert | resolvedAlert"></span>
            <a rv-if="extraitem.Alert" rv-hide="extraitem.Alert.Resolved"
                rv-disable="disabled"
                rv-data-group="%group%" rv-data-extraitemindex="%extraitem%"
                class="unresolved-jobextras"><span class="glyphicon glyphicon-question-sign" rv-disable="disabled"></span></a>
        </div>
    </div>
</div>
