﻿@model SiteViewModel<PagedResult<WorkOrderView>>
@{
    var model = Model.ViewModel;
    var isAdminUser = Model.UserHelper.IsUserAdmin();
   
}
<thead class="record-holder" data-recordcount="@(model.TotalCount)">
    <tr>
        <th data-sorttype="name">Name</th>
        <th data-sorttype="builder">Builder</th>
        <th data-sorttype="community">Community</th>
        <th data-sorttype="address">Address</th>
        <th data-sorttype="status">Completed</th>
        <th data-sorttype="lastmodifieddate">Last Modified</th>
        <th data-sorttype="created">Created By</th>
        @if (isAdminUser)
        {
            <th></th>
        }
    </tr>
</thead>
<tbody id="workorder-table-body">
    @foreach (var workOrder in model.Items)
            {
        <tr class="hideable-container" id="@workOrder.Id">
            <td class="name">@Html.ActionLink(workOrder.Name.IsNull() ? "Name" : workOrder.Name, "WorkOrder", new { id = workOrder.Id })</td>
            <td class="builder" title="@workOrder.BuilderName">@Html.ActionLink(workOrder.BuilderAbbreviation, "Builder", "Communities", new { id = workOrder.BuilderId }, null )</td>
            <td class="community" title="@workOrder.CommunityName">@Html.ActionLink(workOrder.CommunityAbbreviation, "Community", "Communities", new { id = workOrder.CommunityId }, null)</td>
            <td class="address ellipsis" title="@workOrder.Address">@workOrder.Address</td>
            <td class="completed">@(workOrder.Completed.HasValue ? workOrder.Completed.Value.ToLocalShortDate() : string.Empty)</td>
            <td class="modified">@workOrder.Modified.ToLocalShortDate()</td>
            <td class="created" title="Created on @workOrder.Created.ToLocalShortDate()">@(workOrder.CreatedBy)</td>
            @if (isAdminUser)
            {
                <td class="option-icons hideable-td">
                    <div class="hideable">
                        <button class="btn btn-xs btn-primary clone-wo-btn">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                        <button class="btn btn-xs btn-danger delete-wo-btn">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </td>
            }
        </tr>
    }
</tbody>
