﻿@model SiteViewModel<WorkflowInitalSettingsViewModel>

@{
    var model = Model.ViewModel;
    var workOrderCompleted = ViewData.ContainsKey("workOrderCompleted") ? (bool)ViewData["workOrderCompleted"] : false;
    var showCreate = ViewData.ContainsKey("showCreateOption") ? (bool)ViewData["showCreateOption"] : true;
    var showNewOption = ViewData.ContainsKey("showBlankOption") ? (bool)ViewData["showBlankOption"] : true;
    var isDisabled = !Model.UserHelper.IsUserAdmin() || !Model.ViewModel.BuilderId.HasValue || workOrderCompleted;
}

<label class="required-field">Community</label>
@Html.For(model).DropDownListFor(x => x.CommunityId, Model.ViewHelper.GetCommunityOptions(model.CommunityId ?? 0, includeBlankOption: showNewOption, includeNewOption: showCreate, builderId: model.BuilderId), ViewHelper.GetHtmlAttributes(disabled: isDisabled))
@Html.For(model).ValidationMessageFor(x => x.CommunityId)
