﻿<h3> Completion</h3>
<section class="wo-step-screen" data-node="completion">
    <form action="@Url.Action("Complete", "WorkOrders", FormMethod.Post)" novalidate>
        @Html.AntiForgeryToken()
        @Html.Hidden("Id")
        <label class="check">
           @Html.CheckBox("Complete", new { id = "complete-checkbox" })
            <span class="animated-checkbox">
            <i class="animated-checkbox-icon glyphicon glyphicon-ok"></i>
            </span>
            Set Work Order Complete
        </label>
        <div class="form-group">
            <input type="submit" value="Save" id="btn-continue" class="btn btn-primary" />
        </div>
    </form>

    <script>
        $(app.workorders.completeWorkOrder);
    </script>
</section>
        
