﻿@model SiteViewModel<JobInfo>


@{ 
    var model = Model.ViewModel;
    var elevationId = model.ElevationId.HasValue ? model.ElevationId.Value : 0;
    var planId = model.PlanId.HasValue ? model.PlanId.Value : 0;
    var workOrderComplete = Convert.ToBoolean(ViewData["workOrderCompleted"]);
    var isDisabled = !Model.UserHelper.IsUserAdmin() || planId == default(int) || workOrderComplete;
}

<label>Elevation</label>
@Html.For(model).DropDownList("ElevationId", Model.ViewHelper.GetElevationOptions(elevationId, true, model.PlanId), ViewHelper.GetHtmlAttributes(disabled: isDisabled))
@Html.For(model).ValidationMessageFor(x => x.ElevationId)
