﻿@using ImagePainting.Site.Web.Models
@model JobExtraViewModel

@{
    var extraCostCount = -1;
}

<div class="wo-step-screen" data-node="extraJob" id="extraJobInfo">
    @using (Html.BeginForm("ExtraJob", "WorkOrders", new { id = ViewBag.WorkOrderId }))
    {
        @Html.AntiForgeryToken()
        <input type="number" name="Id" id="extraJobInfoId" value="@Model.Id" hidden />
        <input type="number" name="workOrderId" id="workOrderId" value="@Model.WorkOrderId" hidden />
        <h1>Extras</h1>
        <div class="row">
            <div class="col-xs-4">
                <h3>Extra Item</h3>
            </div>
            <div class="col-xs-4">
                <h3>Walk Qty</h3>
            </div>
        </div>
        <div id="extraItems">
            @foreach (var group in Model.GroupedExtraItems)
            {
                <div class="col-xs-12">
                    <strong>@group.Key.ToString()</strong>
                </div>
                foreach (var item in group.Value.ToList())
                {
                    var i = ++extraCostCount;
                    var itemId = item.Id == Guid.Empty ? Guid.NewGuid() : item.Id;
                    var walkQty = item.WalkQuantity > 0 ? item.WalkQuantity.ToString() : string.Empty;
                    var walkQtyColor = item.WalkQuantity > item.Quantity ? " highlighted-text" : string.Empty;
                    
                    <div class="row items">
                        <div class="col-xs-4">
                            <div class="form-group">
                                @Html.TextBox($"Item.ExtraItems[{i}].Name", item.Name, new { @class = "form-control item-name", @readonly = true })
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                @Html.TextBox($"Item.ExtraItems[{i}].WalkQuantity", walkQty, new { @class = $"form-control item-walkqty{walkQtyColor}", disabled = true, type = "number" })
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="form-group">
            <input type="button" value="Cancel" class="btn btn-default" />
            <input type="submit" value="Save & Continue" id="btn-continue" class="btn btn-primary" />
        </div>
    }
</div>
