﻿@model SiteViewModel<JobExtraViewModel>
@{ 
    var model = Model.ViewModel;
}

<div class="wo-step-screen" data-node="extraJob" id="extraJobInfo">
    @using (Html.BeginForm("ExtraJob", "WorkOrders", new { id = ViewBag.WorkOrderId }))
    {
        @Html.AntiForgeryToken()
        <h1>Extras</h1>
        <div class="row">
            <div class="col-xs-3">
                <h3>Extra Item</h3>
            </div>
            <div class="col-xs-2">
                <h3>Unit Price</h3>
            </div>
            <div class="col-xs-2">
                <h3>Qty</h3>
            </div>
            <div class="col-xs-2">
                <h3>Walk Qty</h3>
            </div>
            <div class="col-xs-3">
                <h3>Labor Cost</h3>
            </div>
        </div>
        <div id="extraItems">
            
        </div>
        <div class="form-group">
            <a id="@(model.WorkOrderCompleted ? "disabled" : "select-extras")" href="javascript:void(0)">Select Items</a>
            <button type="button" class="btn btn-default pull-right" id="newItem" @(model.WorkOrderCompleted ? "disabled" : string.Empty)>New Extra Item</button>
        </div>
        <div class="form-group note-container">
            <label>Note
            @if (!model.WorkOrderCompleted)
            {
                <span class="btn btn-default btn-sm glyphicon glyphicon-edit btn-edit-note" title="Click to add note"></span>
            }
            </label>
            
            <textarea name="Note" rows="4" class="form-control hidden"></textarea>
            @Html.For(model).TextArea("ReadOnlyNote", ViewHelper.ToNoteDisplay(model.Note), ViewHelper.GetHtmlAttributes(rows: 4, @readonly: true))
            @Html.For(model).ValidationMessageFor(x => x.Note)
        </div>
        <div class="form-group">
            <input type="button" value="Cancel" class="btn btn-default" />
            <input type="submit" value="Save & Continue" id="btn-continue" class="btn btn-primary" />
        </div>
    }

    <script>
        $(app.workorders.initJobExtras(@Html.Raw(model.ToJson())));
    </script>
</div>
