﻿@model Dictionary<string, IEnumerable<FileUpload>>
@{
    var redirectUrl = $"/WorkOrders/WorkOrder/{Request.Url.Segments.Last()}#{Request.Url.AbsolutePath}|workorders";
    redirectUrl = Request.Url.AbsolutePath;
}
<div class="wo-step-screen table-responsive" data-node="fileUploads">
    <h3>File Uploads</h3>

    @if (Model.Count == 0)
    {
        <p>There are no uploaded files for this work order.</p>
    }

    @foreach (var group in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@group.Key</div>
            <div class="panel-body">
                <div>
                    @Html.Hidden("files-list-url", Url.Action("Files", "FileUploads", new { ownerId = ViewBag.OwnerId, ownerType = ViewBag.OwnerType }))
                    <ul class="list-group">
                        @foreach (var fileUpload in group.Value)
                        {
                            <li class="list-group-item">
                                <a href="#deleteFile" class="pull-right text-danger"
                                   data-execute="true"
                                   data-url="@Url.Action("Delete", "FileUploads")"
                                   data-data="@((new {id = fileUpload.Id}).ToJson())"
                                   data-confirmmessage='Are you sure you want to delete "@fileUpload.Name"?'
                                   data-confirmtitle="Delete File?"
                                   data-onExecute="app.workorders.reloadWorkOrderFileslist('@redirectUrl')">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                @Html.ActionLink(fileUpload.Name, "File", "FileUploads", new { id = fileUpload.Id }, new { @target = "_blank" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    <button class="btn btn-primary" id="btn-continue">Continue</button>

    <script>
        $(app.workorders.initFileUploads);
    </script>
</div>