﻿@model SiteViewModel<PagedResult<WorkOrderView>>
@{
    ViewBag.Title = "Index";
    ViewBag.WorkOrdersActive = "active";

    var isAdminUser = Model.UserHelper.IsUserAdmin();
}

<div class="jumbotron child">
    <h1>Work Orders</h1>
</div>

<section class="container body-content">
    @if (isAdminUser)
    {
        <div class="row add-container">
            <div class="col-md-12">
                @Html.ActionLink("New Work Order", "WorkOrder", null, new { @class = "btn btn-primary pull-right" })
            </div>
        </div>
    }

    <table class="table table-responsive table-striped data-table workorders-list"
           data-url="/WorkOrders/WorkOrderList"
           data-recordcount="@Model.ViewModel.TotalCount"></table>
    @Html.DropDownList("SearchOptions", ViewHelper.GetWorkOrderSearchOptions(), ViewHelper.GetHtmlAttributes(@class: "input-sm hidden"))

    @section scripts {
        @Scripts.Render("~/bundles/workorders-list")
    }
</section>
