﻿@model SiteViewModel<WorkflowInitalSettingsViewModel>
@{
    var workOrderCompleted = ViewBag.workOrderCompleted ? true : false;
    var model = Model.ViewModel;
    var isAdmin = Model.UserHelper.IsUserAdmin(); var isDisabled = !isAdmin || workOrderCompleted;
    var showSecuredUpload = isAdmin && model.WorkOrderId > 0;
    var excludeNoSuperintendent = true;
}

<div class="wo-step-screen" id="initialSettings" data-node="settings">
    <form action="@Url.Action("SaveInitialSettings", "WorkOrders")">
        @Html.AntiForgeryToken()
        <h3>Select Builder &amp; Community</h3>

        @(Html.For(model).HiddenFor(x => x.WorkOrderId))

        <div class="form-group" id="wo-builder">
            <label class="required-field">Builder</label>
            @Html.For(model).DropDownListFor(x => x.BuilderId, Model.ViewHelper.GetBuilderOptions(new List<int> { model.BuilderId ?? 0 }, true), ViewHelper.GetHtmlAttributes(disabled: isDisabled, id: "BuilderId"))
            @Html.For(model).ValidationMessageFor(x => x.BuilderId)
        </div>
        <div class="form-group" id="wo-community">
            @Html.Partial("Communities", Model, new ViewDataDictionary { { "workOrderCompleted", workOrderCompleted }, { "showCreateOption", true } })
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="required-field">Lot</label>
                @Html.For(model).TextBoxFor(x => x.Lot,ViewHelper.GetHtmlAttributes(type: "number", maxLength: 20, disabled: isDisabled, id: "Lot"))
                @Html.For(model).ValidationMessageFor(x => x.Lot)
            </div>
            <div class="col-md-6 form-group">
                <label class="required-field">Block</label>
                @Html.For(model).TextBoxFor(x => x.Block,ViewHelper.GetHtmlAttributes(maxLength: 20, disabled: isDisabled, id: "Block"))
                @Html.For(model).ValidationMessageFor(x => x.Block)
            </div>
        </div>

        <div class="form-group">
            <label class="required-field">Work Order Name</label>
            @Html.For(model).TextBoxFor(x => x.Name,ViewHelper.GetHtmlAttributes(maxLength: 128, disabled: isDisabled, id: "Name"))
            @Html.For(model).ValidationMessageFor(x => x.Name)
        </div>

        <div class="form-group">
            <label>Address</label>
            @Html.For(model).TextBoxFor(x => x.Address,ViewHelper.GetHtmlAttributes(maxLength: 256, disabled: isDisabled))
            @Html.For(model).ValidationMessageFor(x => x.Address)
        </div>

        <div class="form-group">
            <label>Superintendent</label>
            @Html.For(model).DropDownList("SuperintendentList", Model.ViewHelper.GetSuperintendentOptions(excludeNoSuperintendent),ViewHelper.GetHtmlAttributes(maxLength: 256, formControl: true, disabled: isDisabled, @class: "superintendent-list"))
            @Html.For(model).TextBoxFor(x => x.SuperIntendent,ViewHelper.GetHtmlAttributes(maxLength: 256, formControl: true, disabled: isDisabled, @class: "item-superintendent"))
            @Html.For(model).ValidationMessageFor(x => x.SuperIntendent)
        </div>

        <div class="form-group">
            <label>Customer Rep</label>
            @Html.For(model).DropDownList("CustomerRepList", Model.ViewHelper.GetCustomerRepOptions(),ViewHelper.GetHtmlAttributes(maxLength: 256, formControl: true, disabled: isDisabled, @class: "customer-reps-list"))
            @Html.For(model).TextBoxFor(x => x.CustomerRep,ViewHelper.GetHtmlAttributes(maxLength: 256, formControl: true, disabled: isDisabled, @class: "item-customer-rep"))
            @Html.For(model).ValidationMessageFor(x => x.CustomerRep)
        </div>

        <div class="form-group">
            <label>Customer Name</label>
            @Html.For(model).TextBoxFor(x => x.CustomerName,ViewHelper.GetHtmlAttributes(maxLength: 50, disabled: isDisabled))
            @Html.For(model).ValidationMessageFor(x => x.CustomerName)
        </div>

        <div class="form-group">
            <label>Customer Phone #</label>
            @Html.For(model).TextBoxFor(x => x.CustomerPhoneNumber,ViewHelper.GetHtmlAttributes(maxLength: 16, disabled: isDisabled))
            @Html.For(model).ValidationMessageFor(x => x.CustomerPhoneNumber)
        </div>

        <div class="form-group">
            <label>Customer Email</label>
            @Html.For(model).TextBoxFor(x => x.CustomerEmail,ViewHelper.GetHtmlAttributes(maxLength: 128, disabled: isDisabled))
            @Html.For(model).ValidationMessageFor(x => x.CustomerEmail)
        </div>


        @if (isAdmin)
    {
        <div class="form-group note-container">
            <label>
                Notes
                <span class="btn btn-default btn-sm glyphicon glyphicon-edit btn-edit-note" title="Click to add note"></span>
            </label>

            <textarea name="Description" rows="4" class="form-control hidden"></textarea>
            @Html.For(model).TextArea("ReadOnlyDescription", ViewHelper.ToNoteDisplay(model.Description),ViewHelper.GetHtmlAttributes(rows: 4, @readonly: true))
            @Html.For(model).ValidationMessageFor(x => x.Description)
        </div>
}

        <div class="form-group">
            <input type="submit" value="Save & Continue" id="btn-continue" class="btn btn-primary" />
        </div>
    </form>
    @if (showSecuredUpload)
    {
        Html.RenderAction("Files", "FileUploads", new { ownerId = model.WorkOrderId, ownerType = FileOwnerType.SecuredWorkOrder });

    }

    <script>
        $(app.workorders.initWorkOrderSettings);
    </script>
</div>
