﻿@model SiteViewModel<JobInfo>

@{ 
    var model = Model.ViewModel;
    var isAdmin = Model.UserHelper.IsUserAdmin();
    var workOrderCompleted = ViewBag.workOrderCompleted ? true : false;
    var BuilderId = ViewBag.BuilderId;
    string ColorCodePrefix = ViewBag.ColorCodePrefix;
    var disable = !isAdmin || workOrderCompleted;
    var workOrderId = ViewBag.WorkOrderId;
}

<section class="wo-step-screen" data-node="jobInfo">
    <form action="@Url.Action("SaveJobInfo", "WorkOrders")" novalidate>
        @Html.AntiForgeryToken()

        <h2>Job Information</h2>
        <input type="number" name="workOrderId" id="workOrderId" hidden />
        <input type="number" id="jobInfoPlan" value="@(model.PlanId)" hidden />

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#plan-elevation" aria-expanded="false" aria-controls="plan-elevation">
                            Plan and Elevation
                        </a>
                    </h4>
                </div>
                <div id="plan-elevation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 form-group" id="wo-plans">
                                @Html.Partial("Plans", Model, new ViewDataDictionary { { "workOrderCompleted", workOrderCompleted }, { "BuilderId", BuilderId } })
                            </div>
                            <div class="col-md-6 form-group" id="wo-elevations">
                                @Html.Partial("Elevations", Model, new ViewDataDictionary { { "workOrderCompleted", workOrderCompleted } })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="required-field">1st Floor SQFT</label>
                                @Html.For(model).TextBoxFor(x => x.FirstFloorSqft,ViewHelper.GetHtmlAttributes(type: "number", disabled: disable, id: "FirstFloorSqft"))
                                @Html.For(model).ValidationMessageFor(x => x.FirstFloorSqft)
                            </div>
                            <div class="col-md-6 form-group">
                                <label>2nd Floor SQFT</label>
                                @Html.For(model).TextBoxFor(x => x.SecondFloorSqft,ViewHelper.GetHtmlAttributes(type: "number", disabled: disable, id: "SecondFloorSqft"))
                                @Html.For(model).ValidationMessageFor(x => x.SecondFloorSqft)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Total Living</label>
                                @Html.For(model).TextBox("totalLiving", 0, new { @class = "form-control", @disabled = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Garage</label>
                                @Html.For(model).TextBoxFor(x => x.GarageSqft,ViewHelper.GetHtmlAttributes(type: "number", disabled: disable, id: "GarageSqft"))
                                @Html.For(model).ValidationMessageFor(x => x.GarageSqft)
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Lanai/Porch</label>
                                @Html.For(model).TextBoxFor(x => x.LanaiSqft,ViewHelper.GetHtmlAttributes(type: "number", disabled: disable, id: "LanaiSqft"))
                                @Html.For(model).ValidationMessageFor(x => x.LanaiSqft)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Total SQFT</label>
                                @Html.For(model).TextBox("totalURSqft", 0, new { @class = "form-control", @disabled = true })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (isAdmin)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cost-price" aria-expanded="false" aria-controls="cost-price">
                                Costs &amp; Prices
                            </a>
                        </h4>
                    </div>
                    <div id="cost-price" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            @for (var i = 0; i < model.JobCostItems.Count(); i++)
                            {
                                var item = model.JobCostItems.ElementAt(i);
                                <div class="row">
                                    @Html.For(item).Hidden($"JobCostItems[{i}].Name", item.Name)
                                    @Html.For(item).Hidden($"JobCostItems[{i}].IsBase", item.IsBase)
                                    <div class="col-md-6 form-group">
                                        <label>Builder @item.Name</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            @Html.For(item).TextBox($"JobCostItems[{i}].BuilderCost", item.BuilderCost,ViewHelper.GetHtmlAttributes(type: "number", step: "0.01", disabled: disable))
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label>Labor @item.Name</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            @Html.For(item).TextBox($"JobCostItems[{i}].LaborCost", item.LaborCost,ViewHelper.GetHtmlAttributes(type: "number", step: "0.01", disabled: disable))
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Exterior Colors
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Exterior Color Scheme</label>
                                @Html.For(model).DropDownList("ExteriorColors.Id", Model.ViewHelper.GetExteriorColorScheme(model.ExteriorColors.Id, ColorCodePrefix, true),ViewHelper.GetHtmlAttributes(id: "exterior-color-select", disabled: disable))
                            </div>
                        </div>

                        @Html.For(model).HiddenFor(x => x.ExteriorColors.ColorCode)
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label class="required-field">Exterior Base</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.ExteriorBase,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.ExteriorBase)
                            </div>

                            <div class="form-group col-md-4">
                                <label for="accentstucco">Accent Base</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.AccentBase,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.AccentBase, null, new { @class = "text-danger" })
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Exterior Trim</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.ExteriorTrim,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.ExteriorTrim)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label>Front Door</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.FrontDoor,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.FrontDoor)
                            </div>

                            <div class="form-group col-md-4">
                                <label for="shutters">Shutters</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.Shutters,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.Shutters, null, new { @class = "text-danger" })
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Garage Door </label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.GarageDoor,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.GarageDoor)
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="handisiding">Hardi Siding</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.HardiSiding,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.HardiSiding, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="boardandbatton">Board And Batton</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.BoardAndBatton,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.BoardAndBatton, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="shakesiding">Shake Siding</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.ShakeSiding,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.ShakeSiding, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="corbels">Corbels</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.Corbels,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.Corbels, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="brackets">Brackets</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.Brackets,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.Brackets, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="louvre">Louvre</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.Louvre,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.Louvre, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label>Stain</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.Stain,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.Stain)
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Facia</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.Facia,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.Facia)
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Soffit</label>
                                @Html.For(model).TextBoxFor(x => x.ExteriorColors.Soffit,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.Soffit)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Note</label>
                                @Html.For(model).TextAreaFor(x => x.ExteriorColors.Note,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.ExteriorColors.Note)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Interior Colors
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Interior Color Scheme</label>
                                @Html.For(model).DropDownList("InteriorColors.Id", Model.ViewHelper.GetInteriorColorScheme(model.InteriorColors.Id, ColorCodePrefix, true),ViewHelper.GetHtmlAttributes(disabled: disable, id: "interior-color-select"))
                            </div>
                        </div>

                        @Html.For(model).HiddenFor(x => x.InteriorColors.ColorCode)

                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label class="required-field">Interior Base</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.InteriorBase,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.InteriorBase)
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Interior Wood Trim Base/Casing</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.InteriorWoodTrimBaseCasing,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.InteriorWoodTrimBaseCasing)
                            </div>

                            <div class="form-group col-md-4">
                                <label for="interiorDoors">Interior Doors</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.InteriorDoors,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.InteriorDoors, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label>Interior Ceiling </label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.InteriorCeiling,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.InteriorCeiling)
                            </div>

                            <div class="form-group col-md-4">
                                <label for="crown">Crown</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.Crown,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.Crown, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="accentroom1">Accent Room 1</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.AccentRoom1,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.AccentRoom1, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="accentroom">Accent Room 2</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.AccentRoom2,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.AccentRoom2, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="accentroom3">Accent Room 3</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.AccentRoom3,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.AccentRoom3, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="accentwall1">Accent Wall 1</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.AccentWall1,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.AccentWall1, null, new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="accentwall2">Accent Wall 2</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.AccentWall2,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.AccentWall2, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="accentwall3">Accent Wall 3</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.AccentWall3,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.AccentWall3, null, new { @class = "text-danger" })
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Stained Rail</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.Stain,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.Stain)
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="rail">Painted Rail</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.Rail,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.Rail, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="treads">Treads</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.Treads,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.Treads, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="risers">Risers</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.Risers,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.Risers, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="nowelposts">Newel Posts</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.NewelPosts,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.NewelPosts, null, new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="beams">Beams</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.Beams,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.Beams, null, new { @class = "text-danger" })
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Front Door</label>
                                @Html.For(model).TextBoxFor(x => x.InteriorColors.FrontDoor,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.FrontDoor)
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Note</label>
                                @Html.For(model).TextAreaFor(x => x.InteriorColors.Note,ViewHelper.GetHtmlAttributes(disabled: disable))
                                @Html.For(model).ValidationMessageFor(x => x.InteriorColors.Note)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> <!--panel-->

        <div class="row">
            <div class="form-group  col-md-12">
                <br/>
                <label>Paint Store</label>
                @Html.For(model).DropDownListFor(x => x.PaintStoreId, Model.ViewHelper.GetStoreOptions(model.PaintStoreId, false),ViewHelper.GetHtmlAttributes(disabled: disable))
            </div>
        </div>
        

        <div class="checkbox">
            <label class="check">
                @Html.For(model).CheckBoxFor(x => x.Confirmed,ViewHelper.GetHtmlAttributes(formControl: false, disabled: disable))
                <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                Information Confirmed
            </label>

        </div>

        <div class="form-group note-container">
            <label>
                Note
                @if (!disable)
                {
                    <span class="btn btn-default btn-sm glyphicon glyphicon-edit btn-edit-note" title="Click to add note"></span>
                }
            </label>

            <textarea name="Note" rows="4" class="form-control hidden"></textarea>
            @Html.For(model).TextArea("ReadOnlyNote", ViewHelper.ToNoteDisplay(model.Note),ViewHelper.GetHtmlAttributes(rows: 4, @readonly: true))
            @Html.For(model).ValidationMessageFor(x => x.Note)
        </div>

        <div class="form-group">
            <input type="button" value="Cancel" class="btn btn-default" />
            <input type="submit" value="Save & Continue" id="btn-continue" class="btn btn-primary" />
        </div>
    </form>

    @if (workOrderId > 0)
    {
        Html.RenderAction("Files", "FileUploads", new { ownerId = workOrderId, ownerType = FileOwnerType.WorkOrder });
    }

    <script>
        $(app.workorders.initWorkOrderJobInfo);
    </script>
</section>