﻿@model IDictionary<string, IList<Note>>
<div class="wo-step-screen" data-node="workOrderNotes">
    <h3>Notes</h3>

    @if (Model.Count == 0)
    {
        <p>There are no notes for this work order.</p>
    }
    @foreach (var item in Model)
    {
        var notes = item.Value.OrderBy(x => x.Created);

        <div class="note-block">
            <p class="note-block-heading">@item.Key</p>
            @foreach (var note in notes)
            {
                if (note != null)
                {
                    <div class="note-item">
                        <blockquote data-id="@note.Id">
                            @note.Text
                            <cite>
                                @note.Author &nbsp;&nbsp; @note.Created.ToLocalShortDateTime()
                            </cite>
                        </blockquote>
                    </div>
                }
            }
        </div>
    }
</div>
<script>
    $(app.workorders.initNotes);
</script>