﻿@model SiteViewModel<JobInfo>

@{
    var model = Model.ViewModel;
    var BuilderId = ViewData["BuilderId"].IsNull() ? 0 : (int)ViewData["BuilderId"];

    var workOrderComplete = Convert.ToBoolean(ViewData["workOrderCompleted"]);
    var isDisabled = !Model.UserHelper.IsUserAdmin() || workOrderComplete || BuilderId == 0;

    var showCreate = ViewData.ContainsKey("showCreateOption") ? (bool)ViewData["showCreateOption"] : true;

}

<label>Plan</label>
@{
    @Html.For(model).DropDownList("PlanId", Model.ViewHelper.GetPlansOptions(model.PlanId ?? 0, showCreate, builderId: BuilderId, includeBlankOption: true), ViewHelper.GetHtmlAttributes(disabled: isDisabled));
}

@Html.For(model).ValidationMessageFor(x => x.PlanId)
