﻿ @model SiteViewModel<List<ScheduleWorkOrderTask>>
@{ 
    var model = Model.ViewModel;
    var selectedTasks = model.Where(x => x.Selected);
    var completedTasks = model.Where(x => x.Completed);
}
<div class="wo-step-screen" data-node="scheduleTasks">
    <h3>Schedule Tasks</h3>

    @using (Html.BeginForm("ScheduleTasks", "WorkOrders", FormMethod.Post, new { novalidate = "true", id = "scheduleForm"}))
    {
        @Html.AntiForgeryToken()
        @Html.For(model).Hidden("Id")
        for (int i = 0; i < selectedTasks.Count(); i++)
        {
            var task = selectedTasks.ElementAt(i);
            var taskDate = task.Date.HasValue ? task.Date.Value.ToString("yyyy-MM-dd") : string.Empty;
            var cantChangeSchedule = !(task.Permission?.CanChangeSchedule ?? true);

            <div class="row task-rows">
                <div class="col-md-4 form-group">
                    @Html.For(model).Hidden($"[{i}].TaskId", task.TaskId,ViewHelper.GetHtmlAttributes(@class: "item-task-id"))
                    <label class="check">
                        @Html.For(model).CheckBox($"[{i}].Selected", task.Selected,ViewHelper.GetHtmlAttributes(formControl: false, disabled: task.CantUnselect, @class: "item-task-selected"))
                        <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                        @Html.For(model).Hidden($"[{i}].TaskName", task.TaskName,ViewHelper.GetHtmlAttributes(@class: "item-task-name"))
                        @task.TaskName
                    </label>
                    @Html.For(model).Hidden($"[{i}].SchemaId", task.SchemaId,ViewHelper.GetHtmlAttributes(@class: "item-task-schema-id"))
                </div>
                <div class="col-md-4 form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                        @Html.For(model).TextBox($"[{i}].Date", taskDate,ViewHelper.GetHtmlAttributes(type: "date", disabled: cantChangeSchedule, @class: "item-task-date", dataValue: taskDate))
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.For(model).DropDownList($"[{i}].UserId", Model.ViewHelper.GetUsersOptions(task.UserId, false, true),ViewHelper.GetHtmlAttributes(disabled: cantChangeSchedule, @class: "item-task-user-id", dataValue: task.UserId))
                    </div>
                </div>
            </div>
        }
        <div class="row form-group">
            <div class="col-md-5">
                <a id="scheduleTaskLink">Schedule New Task</a>
                @Html.For(model).DropDownList("ScheduleNewTask", 
               Model.ViewHelper.ScheduleTaskListToTaskOptions(model.Where(x => !x.Permission.IsNull() && !x.Permission.CanCreateDuplicateTask).Select(x => x.SchemaId)),
              ViewHelper.GetHtmlAttributes(@class: "hidden"))
            </div>
        </div>

        <div class="row form-group">
            <br />
            <input type="button" value="Cancel" class="btn btn-default" />
            <input type="submit" value="Save & Continue" id="btn-continue" class="btn btn-primary" />
        </div>
    }

    <div class="row task-rows hidden" id="cloneable">
        <div class="col-md-4 form-group">
            @Html.For(model).Hidden("[0].TaskId", 0,ViewHelper.GetHtmlAttributes(@class: "item-task-id"))
            <label class="check">
                @Html.For(model).CheckBox("[0].Selected", true,ViewHelper.GetHtmlAttributes(formControl: false, @class: "item-task-selected"))
                <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
            </label>
            @Html.For(model).Hidden("[0].SchemaId", 0,ViewHelper.GetHtmlAttributes(@class: "item-task-schema-id"))
        </div>
        <div class="col-md-4 form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                @Html.For(model).TextBox("[0].Date", null,ViewHelper.GetHtmlAttributes(type: "date", @class: "item-task-date", dataValue: null))
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                @Html.For(model).DropDownList("[0].UserId", Model.ViewHelper.GetUsersOptions(string.Empty, false, true),ViewHelper.GetHtmlAttributes(@class: "item-task-user-id", dataValue: string.Empty))
            </div>
        </div>
    </div>

    <script>
        $(app.workorders.initScheduleTasks(@Html.Raw(completedTasks.Select(x => x.TaskName).ToJson())));
    </script>
</div>
