﻿@model SiteViewModel<WorkOrderTask>
@{ 
    var model = Model.ViewModel;
}

<div class="wo-step-screen" data-node="viewTasks" data-subnode="@(model.Id)">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <input name="MainTask" id="mainTask" value="@(model.Id)" hidden />
        <input name="WorkOrder" id="workorder" value="@(model.WorkOrderId)" hidden />

        @if (!model.PreWalkTask.IsNull() && model.PreWalkTask.Permission.CanView)
        {
            var preWalk = new SiteViewModel<WorkOrderTask>(model.PreWalkTask, Model.ViewHelper, Model.UserHelper);

        <div class="panel panel-@ViewHelper.GetTaskColorSurfix(model.PreWalkTask)">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        @(model.PreWalkTask.Name)
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @Html.Partial("~/Views/Tasks/_TaskPartial.cshtml", preWalk)
                </div>
                <div class="panel-footer">
                    @Html.Partial("~/Views/Tasks/_TaskButtons.cshtml", preWalk)
                </div>
            </div>
        </div>
        }

        <div class="panel panel-@ViewHelper.GetTaskColorSurfix(model)">
            <div class="panel-heading" role="tab" id="headingTwo">
                <div class="main-task-heading">
                    <h4 class="panel-title pull-left">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            @(model.Name)
                        </a>
                    </h4>
                    @if(model.Permission.CanDefer)
                    {
                        <label class="check deferred-label pull-right dark-text" data-taskid="@(model.Id)">
                            @Html.CheckBox("deferred", model.Deferred, ViewHelper.GetHtmlAttributes(formControl: false, id: "deferred-checkbox", @class: "checkbox item-checkbox task-value"))
                            <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                            Deferred
                        </label>
                    }
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    @Html.Partial("~/Views/Tasks/_TaskPartial.cshtml", Model)                    
                </div>
                <div class="panel-footer">
                    @Html.Partial("~/Views/Tasks/_TaskButtons.cshtml", Model)
                </div>
            </div>
        </div>

        @if (!model.CompletionWalkTask.IsNull() && model.CompletionWalkTask.Permission.CanView)
        {
            var completionWalkTask = new SiteViewModel<WorkOrderTask>(model.CompletionWalkTask, Model.ViewHelper, Model.UserHelper);

        <div class="panel panel-@ViewHelper.GetTaskColorSurfix(model.CompletionWalkTask)">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        @(model.CompletionWalkTask.Name)
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    @Html.Partial("~/Views/Tasks/_TaskPartial.cshtml", completionWalkTask)
                </div>
                <div class="panel-footer">
                    @Html.Partial("~/Views/Tasks/_TaskButtons.cshtml", completionWalkTask)
                </div>
            </div>
        </div>
        }
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Continue" id="btn-continue" class="btn btn-primary" />
    </div>

    <script>
        $(app.workorders.initTaskButtons);
    </script>
</div>