﻿@using System.Globalization;
@model IEnumerable<TaskPricingViewModel>

@{
    var modelItem = Model.FirstOrDefault() ?? new TaskPricingViewModel();
    var numberFormat = (NumberFormatInfo)CultureInfo.CurrentCulture.NumberFormat.Clone();
    numberFormat.CurrencyNegativePattern = 1;
}

<div class="pricing-container">
    <a data-toggle="collapse" href="#pricing" aria-expanded="false">
        <strong>Labor Cost Information (@modelItem.WorkOrderName)</strong>
    </a>
    <div class="panel panel-default collapse" id="pricing">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit Cost</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.Total != 0)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Quantity</td>
                                <td>@item.Cost.ToString("C", numberFormat)</td>
                                <td>@item.Total.ToString("C", numberFormat)</td>
                            </tr>
                        }
                    }
                    <tr>
                        <th colspan="3">Total</th>
                        <th>@Model.Sum(x => x.Total).ToString("C", numberFormat)</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
