﻿@model SiteViewModel<long>
@{
    ViewBag.Title = "Work Orders";
    ViewBag.WorkOrdersActive = "active";
    var roles = Model.UserHelper.UserRoles.Select(x => x.ToString()).ToJson();
}

<div class="jumbotron child">
    <h1 class="wo-label" id="workorder-name">Work Order</h1>
</div>

<section class="container body-content">
    <div class="row">
        <div class="col-md-3 col-xs-2">
            <div class="progress-menu">
                <h3>
                    <i class="fa fa-desktop"></i>
                    <span class="hidden-sm hidden-xs">Work Order Progress</span>
                </h3>
                <ul class="progress-items">
                    <!--Links Here-->
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-9 col-xs-10" id="wo-container"></div>
        <div class="col-md-9 col-xs-10" style="display: none;" id="wo-partial-view"></div>
    </div>


    @section scripts {
        @Scripts.Render("~/bundles/workorders")
        <script>
            $(function () {
                app.workorders.initWorkOrders(@Model.ViewModel, @Html.Raw(@roles));
            });
        </script>
    }
</section>
