﻿@model SiteViewModel<List<WorkItem>>

@{ 
    var model = Model.ViewModel;
    var taskId = (long)ViewBag.taskId;
    var allSelected = model.All(x => x.Selected);
    var workorderCompleted = (bool)ViewBag.workOrderCompleted;
}

<div class="workitems-container">
    <a data-toggle="collapse" href="#workItems" aria-expanded="false">
        <strong>Work Items</strong>
    </a>
    <div class="panel panel-default collapse" id="workItems" data-taskid="@taskId">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label class="check">
                                @Html.For(model).CheckBox("SelectAll", allSelected, ViewHelper.GetHtmlAttributes(formControl: false, disabled: workorderCompleted))
                                <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                            </label>
                        </th>
                        <th>Item</th>
                        <th>Price ($)</th>
                        <th>Qty</th>
                        <th>Walk Qty</th>
                        <th>Cost ($)</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0, len = model.Count(); i < len; i++)
                    {
                        var item = model.ElementAt(i);
                        <tr>
                            <td>
                                <label class="check">
                                    @Html.For(model).CheckBox($"{i}.Selected", item.Selected, ViewHelper.GetHtmlAttributes(formControl: false, id: item.Id.ToString(), disabled: workorderCompleted))
                                    <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
                                </label>
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>@item.WalkQuantity</td>
                            <td>@item.Cost</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
