﻿@model SiteViewModel<PurchaseOrder>
@using Newtonsoft.Json;

@{
    var model = Model.ViewModel;
    var storeId = model.PaintStoreLocation.IsNull() ? default(long?) : model.PaintStoreLocation.StoreId;
    var supplies = Model.ViewHelper.GetSupplyTypes(model.Task.TaskType, model.WorkOrderId, model.WorkOrder?.BuilderId ?? 0, storeId ?? 0);
    var supplyTypeAsText = supplies.Select(x => new SelectListItem { Text = x.SupplyType, Value = x.SupplyType }).ToList();
    var colors = Model.ViewHelper.GetWorkOrderColorsAsText(model.WorkOrderId, model.Task.TaskType);
    var supplyNames = supplies.Select(x => new SelectListItem { Text =  x.Name, Value = x.Name }).ToList();
    var suppliesJSON = JsonConvert.SerializeObject(supplies);
    var isAdminOrEmployee = ViewData.ContainsKey("isAdminOrEmployee") ? (bool)ViewData["isAdminOrEmployee"] : Model.UserHelper.IsAdminOrEmployee();
    var wodone = (model.Task?.Completed.HasValue ?? false) || (model.WorkOrder?.Completed.HasValue ?? false) || !isAdminOrEmployee;
    var disable = wodone || model.EmailSent.HasValue;
}
<div id="purchaseOrderRows" data-url="/PurchaseOrders/UpdateViewWithRows?taskId=@(model.TaskId)&id=@(model.Id)&paintStoreId=">
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="fixed-width" style="width:15%">Item Type</th>
                    <th class="fixed-width" style="width:30%">Item Name</th>                
                    <th class="fixed-width" style="width:15%">Color</th>
                    <th class="fixed-width" style="width:15%">Price</th>
                    <th class="fixed-width" style="width:10%">Qty</th>
                    <th style="width:15%" class="text-center fixed-width">Total</th>
                    <th></th>
                </tr>
            </thead>
            @Html.Hidden("SuppliesJSON", suppliesJSON)
            @Html.DropDownList("SupplyTypeList", supplyTypeAsText, new { @class = "form-control supply-type-list" })
            @Html.DropDownList("ColorsList", colors, new { @class = "form-control colors-list" })
            @Html.DropDownList("SupplyNameList", supplyNames, new { @class = "form-control supply-name-list" })

            <tbody>
                <tr class="item-row-cloneable">
                    <td>
                        <input class="form-control item-supply-type can-be-disabled" />
                    </td>
                    <td><input class="item-po-id" value="@(model.Id)" type="hidden" />
                    <input class="form-control item-name can-be-disabled" /></td>
                    
                    <td>
                        <input class="form-control item-color can-be-disabled" />
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input class="form-control total-calculator item-unit-price can-be-disabled" value="0" type="number" step="0.01" />
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input class="form-control total-calculator item-quantity can-be-disabled" type="number" value="0" step="1" />
                        </div>
                    </td>
                    <td class="text-center total-value">
                    </td>
                    <td>
                        <button class="btn btn-xs btn-danger pull-right item-remove can-be-disabled">
                            <span class="glyphicon glyphicon-remove item-remove can-be-disabled"></span>
                        </button>
                    </td>
                </tr>
                @for (int i = 0; i < model.PurchaseOrderItems.Count; i++)
                {
                    var lastElementClass = i == model.PurchaseOrderItems.Count - 1 ? "last-element" : string.Empty;
                    <tr class="item-row @lastElementClass">
                        @Html.For(model).HiddenFor(x => x.PurchaseOrderItems[i].Id, new { @class = "item-id" })
                        @Html.For(model).HiddenFor(x => x.PurchaseOrderItems[i].PurchaseOrderId, new { @class = "item-po-id" })
                        <td>
                            @Html.For(model).TextBoxFor(x => x.PurchaseOrderItems[i].SupplyType,ViewHelper.GetHtmlAttributes(@class: "item-supply-type can-be-disabled", maxLength: 50, disabled: disable))
                        </td>

                        <td>
                            @Html.For(model).TextBoxFor(x => x.PurchaseOrderItems[i].Name,ViewHelper.GetHtmlAttributes(@class: "item-name can-be-disabled",maxLength:50, disabled: disable))
                        </td>
       
                        <td>
                            @Html.For(model).TextBoxFor(x => x.PurchaseOrderItems[i].Color,ViewHelper.GetHtmlAttributes(@class: "item-color can-be-disabled" , maxLength:50, disabled: disable))
                        </td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                @Html.For(model).TextBoxFor(x => x.PurchaseOrderItems[i].UnitPrice,ViewHelper.GetHtmlAttributes(@class: "total-calculator item-unit-price can-be-disabled", type:"number", step:"0.01", disabled: disable))
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                @Html.For(model).TextBoxFor(x => x.PurchaseOrderItems[i].Quantity,ViewHelper.GetHtmlAttributes(@class: "total-calculator item-quantity can-be-disabled", type:"number",step:"1", disabled: disable))
                            </div>
                        </td>
                        <td class="text-center total-value">
                            @(model.PurchaseOrderItems[i].Total.ToString("C"))
                        </td>
                        <td>
                            @if (!disable)
                            {

                                <button class="btn btn-xs btn-danger pull-right item-remove can-be-disabled">
                                    <span class="glyphicon glyphicon-remove item-remove can-be-disabled"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="total-row">
                    <th colspan="5">
                        <strong>Total</strong>
                    </th>
                    <th class="text-center grand-total">
                        <strong>@(model.Total.ToString("C"))</strong>
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="row">
        <div class="form-group col-xs-12">
            <label>Instructions</label>
            @Html.For(model).TextAreaFor(x => x.Instructions,ViewHelper.GetHtmlAttributes(rows:4,maxLength:5000, @readonly: wodone))
            @Html.For(model).ValidationMessageFor(x => x.Instructions, string.Empty, new { @class = "text-danger" })
        </div>
    </div>
</div>
