﻿@model SiteViewModel<PurchaseOrder>

@{
    var model = Model.ViewModel;
    var storeId = model.PaintStoreLocation.IsNull() ? default(long?) : model.PaintStoreLocation.StoreId;
    var supplyType = Model.ViewHelper.GetSupplyTypeOptions().ToList();
    var makeUneditable = (model.Task?.Completed.HasValue ?? false) || (model.WorkOrder?.Completed.HasValue ?? false);
    var mode = (model.EmailSent.HasValue) ? "view-only" : string.Empty;
    var isPartial = ViewBag.IsPartial;
    ViewBag.Title = "Purchase Order";
    ViewBag.WorkOrdersActive = "active";
    var isAdminOrEmployee = Model.UserHelper.IsAdminOrEmployee();
    var disable = makeUneditable || !isAdminOrEmployee || model.EmailSent.HasValue;
    var totalFootage = model.WorkOrder?.JobInfo?.TotalSize ?? 0;
}

@if (!isPartial)
{
    <div class="jumbotron child">
        <h1>@(model.Id == default(int) ? $"New Purchase Order - {totalFootage}sqft" : $"Purchase Order - {model.PoNumber} - {totalFootage}sqft")</h1>
    </div>
}

    <section id="purchaseOrder" class="@mode @(isPartial ? string.Empty : "container")">
        @if (isPartial)
        {
            <h3>@(model.Id == default(int) ? $"New Purchase Order - {totalFootage} sq ft" : $"Purchase Order - {model.PoNumber} - {totalFootage} sq ft")</h3>
        }

        <i class="fa fa-info-circle btn btn-primary" id="colorsPreview" aria-hidden="true"
           title="Click to view Exterior and Interior Colors for @(model.WorkOrder?.Name)"></i>
        <hr />

        @using (Html.BeginForm("PurchaseOrder", "PurchaseOrders", FormMethod.Post, new { id = "purchaseorderform", @class = "panel" }))
        {
            @Html.AntiForgeryToken()
            @Html.For(model).HiddenFor(x => x.Id, new { id = "purchase-order-id" })
            @Html.For(model).HiddenFor(x => x.TaskId)
            @Html.For(model).HiddenFor(x => x.WorkOrderId, new { id = "work-order-id" })
            @Html.For(model).HiddenFor(x => x.PaintStoreLocation.StoreId)
            @Html.For(model).HiddenFor(x => x.EmailSent)
            @Html.For(model).Hidden("sendEmail", false)
            <div class="row">
                <div class="col-md-6 form-group" id="store">
                    <label class="required-field">Paint Store</label>
                    @Html.DropDownList("StoreId", Model.ViewHelper.GetStoreOptions(storeId, model.EmailSent.HasValue),ViewHelper.GetHtmlAttributes(@class: "can-be-disabled", id: "storeId", disabled: !isAdminOrEmployee || makeUneditable))
                    @Html.For(model).ValidationMessage("StoreId", string.Empty, new { @class = "text-danger" })
                </div>
                <div class="col-md-6 form-group" id="location">
                    @Html.Partial("StoreLocation", Model, new ViewDataDictionary { { "isAdminOrEmployee", isAdminOrEmployee } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="required-field">Email</label>
                    @Html.For(model).TextBoxFor(x => x.Email,ViewHelper.GetHtmlAttributes(id: "emailTextBox", maxLength: 50))
                    @Html.For(model).ValidationMessageFor(x => x.Email, string.Empty, new { @class = "text-danger" })
                </div>
                <div class="col-md-6 form-group">
                    <label>Date</label>
                    @Html.For(model).TextBoxFor(x => x.Date, model.Date.ToString("yyyy-MM-dd"), ViewHelper.GetHtmlAttributes(@class: "can-be-disabled", type: "date", disabled: disable))
                    @Html.For(model).ValidationMessageFor(x => x.Date, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Address</label>
                    @Html.For(model).TextBoxFor(x => x.Address,ViewHelper.GetHtmlAttributes(@class: "can-be-disabled", disabled: disable, maxLength: 256))
                    @Html.For(model).ValidationMessageFor(x => x.Address, string.Empty, new { @class = "text-danger" })
                </div>
                <div class="col-md-6 form-group">
                    <label>Delivery</label>
                    @Html.For(model).DropDownListFor(x => x.DeliveryInstructions, ViewHelper.GetDeliveryInstructions(model.DeliveryInstructions),ViewHelper.GetHtmlAttributes(@class: "can-be-disabled", disabled: disable))
                    @Html.For(model).ValidationMessageFor(x => x.DeliveryInstructions, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div id="purchaseOrderItems">
                @Html.Partial("_PurchaseOrder", Model, new ViewDataDictionary { { "isAdminOrEmployee", isAdminOrEmployee } })
            </div>

            <div class="row">

                <div class="col-md-12">
                    <button type="button" class="btn btn-default" id="btn-cancel">Cancel</button>
                    @if (isAdminOrEmployee)
                    {
                        if (!disable)
                        {
                            <input type="submit" value="Save" data-taskid="@(model.TaskId)" data-url="/PurchaseOrders/PurchaseOrder/"
                                   class="btn btn-primary can-be-disabled" id="btn-submit" />
                            if (model.Id != default(long))
                            {
                                <input type="submit" value="Delete" data-url="/PurchaseOrders/Delete/@(model.Id)" data-id="@(model.Id)"
                                       class="btn btn-primary can-be-disabled btn-danger" id="btn-delete" />
                            }
                        }
                        <button type="button" data-taskid="@(model.TaskId)" data-url="/PurchaseOrders/PreviewPurchaseOrder/"
                                class="btn btn-primary" id="btn-preview">
                            Preview
                        </button>
                        if (mode == "view-only")
                        {
                            <button type="button" class="btn btn-primary" data-taskid="@(model.TaskId)" id="btn-email-again"
                                    data-url="/PurchaseOrders/EmailPurchaseOrder/">
                                Email Again
                            </button>

                            <button type="button" class="btn btn-primary" data-taskid="@(model.TaskId)" id="btn-unlock"
                                    data-url="/PurchaseOrders/UnlockPurchaseOrder/">
                                Unlock
                            </button>

                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" data-taskid="@(model.TaskId)" id="btn-email"
                                    data-url="/PurchaseOrders/PurchaseOrder/">
                                Email
                            </button>
                        }
                        if (!disable)
                        {
                            <button type="button" class="btn btn-default pull-right can-be-disabled" id="btn-new-item">New Item</button>
                        }
                    }

                </div>

            </div>
        }

        @section scripts {
            @if (!isPartial)
            {
                @Scripts.Render("~/bundles/workorders")
                <script>
                    $(app.workorders.initPurchaseOrder());
                </script>
            }
        }

        @if (isPartial)
        {
            <script>
                $(app.workorders.initPurchaseOrder());
            </script>
        }
    </section>