﻿@model IEnumerable<ImagePainting.Site.Common.Models.PurchaseOrder>
@{
    //TODO: fix task type now showing when there is no PO created
    //var taskType = Model.FirstOrDefault()?.Task.TaskType.ToString() ?? string.Empty;
    var panelHeading = "Purchase Orders"; // $"Purchase Orders - {taskType}";
    var workOrderTask = (WorkOrderTask)ViewBag.workOrderTask;
    var cantCreatePO = !workOrderTask.Permission.CanCreatePurchaseOrder;
    var taskId = Model.FirstOrDefault()?.TaskId ?? workOrderTask.Id;
    var isPartial = ViewBag.IsPartial;
}

<div class="purchase-orders-container">
    <a data-toggle="collapse" href="#purchase-orders" aria-expanded="false" aria-controls="purchase-orders" class="purchase-order-button">
        <strong>@panelHeading</strong>
    </a>
    <div class="panel panel-default collapse" id="purchase-orders">
        <div class="panel-body">
            @Html.ActionLink("New Purchase Order", "PurchaseOrder", new { id = 0, taskId = taskId }, new { @class = $"btn btn-default new-purchase-order-btn {(cantCreatePO ? "hidden" : string.Empty)}", id = "newOrder" })
            @if (!Model.IsNullOrEmpty() && !cantCreatePO)
            {
            <hr/>
            }
            <ul class="list-group">
                @foreach (var order in Model)
                {
                    <li class="col-sm-12 list-group-item" id=@order.PoNumber>
                        @Html.ActionLink($"PO - {order.PoNumber}", "PurchaseOrder", new { id = order.Id , taskId = taskId}, new { @class = "order", id="poLink"+order.Id })
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
@section scripts {
    @if (!isPartial)
    {
        <script>
                $(app.workorders.initPurchaseOrders);
        </script>
    }
}

@if (isPartial)
{
    <script>
            $(app.workorders.initPurchaseOrders);
    </script>
}