﻿@model SiteViewModel<PurchaseOrder>

@{
    var model = Model.ViewModel;
    var storeId = model.PaintStoreLocation.IsNull() ? default(long?) : model.PaintStoreLocation.StoreId;
    var includeDeletedLocations = (model.Id != default(long));
    var isAdminOrEmployee = ViewData.ContainsKey("isAdminOrEmployee") ? (bool)ViewData["isAdminOrEmployee"] : Model.UserHelper.IsAdminOrEmployee();
    var disable = !isAdminOrEmployee || storeId == default(int);
}
<label class="required-field">Paint Store Location</label>
@Html.For(model).DropDownListFor(x => x.PaintStoreLocationId, Model.ViewHelper.GetStoreLocationsOption(model.PaintStoreLocationId,
    storeId, includeDeleted: includeDeletedLocations),
    ViewHelper.GetHtmlAttributes(disabled: disable, @class: "form-control can-be-disabled", id:"paintLocation"))
@Html.For(model).ValidationMessageFor(x => x.PaintStoreLocationId, "", new { @class = "text-danger" })
