﻿@model PurchaseOrder
<section>
    <h3>
        Purchase Order - @Model.PoNumber
        <i class="btn btn-default btn-sm glyphicon glyphicon-envelope pull-right email-purchaseOrder" id="@Model.Id" title="Click to Email Purchase Order"></i>
    </h3>
    
        <p><strong>Store: </strong>@Model.PaintStoreLocation.StoreAddress</p>
        <p><strong>Date: </strong>@Model.Date.ToShortDateString()</p>
        <p><strong>Builder: </strong>@Model.WorkOrder.Builder.Name</p>
        <p><strong>Community: </strong>@Model.WorkOrder.Community.Name</p>
        <p><strong>Lot: </strong>@Model.WorkOrder.Lot </p>
        <p><strong>Block: </strong>@Model.WorkOrder.Block</p>
        <p><strong>Address: </strong>@Model.WorkOrder.Address</p>
        <p><strong>Color Scheme: </strong>
         @if (Model.Task.TaskType == TaskType.Interior)
         {
            @Model.WorkOrder.JobInfo.InteriorColors.ColorCode
         }
         @if (Model.Task.TaskType == TaskType.Exterior)
         {
            @Model.WorkOrder.JobInfo.ExteriorColors.ColorCode
         }
        </p>
   
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Color</th>
                <th>Unit Price ($)</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PurchaseOrderItems)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Color</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Quantity</td>
                    <td>@item.Total</td>
                </tr>
            }
            <tr>
                <td colspan="4"><strong>Total</strong></td>
                <td>@Model.PurchaseOrderItems.Sum(x => x.Total)</td>
            </tr>
        </tbody>
    </table>
    <h6><strong>Instructions: </strong></h6>
    @Model.Instructions
    <div class="row">
        <br />
        <button type="button" class="btn btn-default" id="btn-cancel">Cancel</button>
    </div>
</section>