﻿@model IEnumerable<PurchaseOrder>

@{
    var subTotal = default(decimal);

    var grossTotal = Model.Sum(x => x.PurchaseOrderItems.Sum(y => y.Total));

    var groupedPOByTasks = Model.GroupBy(x => x.Task.Name)
                                .OrderBy(y => y.Key).ToList();
}

<div class="wo-step-screen po" data-node="purchaseOrders">
    <div class="po-headings">
        <h3 class="pull-left"><strong>Orders</strong></h3>
        @if (grossTotal > 0)
        {
        <h3 class="pull-right"><strong>Total: @grossTotal.ToString("C")</strong></h3>
        }
    </div>
    <div class="po-body">
        @if (Model.IsNullOrEmpty())
        {
            <p><small>No purchase order for this work order</small></p>
        }

        @if (Model.Any(x => !x.PurchaseOrderItems.IsNullOrEmpty()))
        {
            <br />

            foreach (var task in groupedPOByTasks)
            {
                <h4>@task.Key</h4>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>PO Number</th>
                            <th>Task Name</th>
                            <th>Supply Type</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var po in task)
                        {
                            subTotal += po.Total;

                            foreach (var item in po.PurchaseOrderItems)
                            {
                                <tr>
                                    <td>@po.PoNumber</td>
                                    <td>@item.Name</td>
                                    <td>@item.SupplyType</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.UnitPrice</td>
                                    <td>@item.Total</td>
                                </tr>
                            }
                        }
                        <tr>
                            <th colspan="5">Total</th>
                            <th>@subTotal.ToString("C")</th>
                            @{
                                subTotal -= @subTotal;
                            }
                        </tr>
                    </tbody>
                </table>
                <br />
            }
        }
        <button class="btn btn-primary" id="btn-continue">Continue</button>
    </div>
</div>