﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1 transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Image Painting Notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 10px 10px 10px 10px; font-family: Verdana, 'Trebuchet MS', Aria; font-size: 14px; line-height: 25px;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 10px 0 10px 0;">
                            <table>
                                <tr>
                                    <td>
                                        <a href="@ViewBag.AppBaseUrl">
                                            <img src="@ViewBag.AppBaseUrl/images/site-logo.jpg" height="72" width="154" alt="Image Painting Logo" style="display: block; margin: 0 5px auto 0; float: left; text-decoration: none; padding: 5px 5px 5px 5px; border-style: solid; border-color: #555555; border-width: 1px;" />
                                        </a>
                                    </td>
                                    <td style="font-family: verdana">
                                        <p style="line-height: 10px; font-size: 12px; padding:5px 5px 5px 5px; margin-bottom: 0; margin-top:0;">
                                            <a href="@ViewBag.AppBaseUrl" style="color: #1866e2; text-decoration: none;">
                                                <b>Image Painting Inc. of Florida</b>
                                            </a>
                                        </p>
                                        <p style="line-height: 10px; font-size: 10px; padding:5px 5px 5px 5px;margin-bottom: 0; margin-top:0;">24814 State Road 54, Lutz FL 33559</p>
                                        <p style="line-height: 10px; font-size: 10px; padding:5px 5px 5px 5px;margin-bottom: 0; margin-top:0;">Phone: (813) 909-4891</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 10px 0 50px 0;">
                            @RenderBody()
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="font-size: 12px; padding: 10px 0 0 0; margin: 10px 0 0 0; border-top: 1px solid #000000">
                            This email was automatically generated by the Image Painting online system. For any questions or concerns about this email, please contact Cody, Danny or Lenny. Do not reply directly to this email.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>