﻿@model ImagePainting.Site.Domain.Models.UserEmailModel
@{ Layout = "emailLayout"; }

<p style="color: #1866e2; font-size:20px; line-height: 25px; padding: 5px 0 10px 0;">
    <b>Password Reset</b>
</p>
   
<div style="font-size:14px">
    <p style="padding: 10px 0 10px 0; line-height: 25px; margin-bottom: 0; margin-top:0;">
        @Model.User.FirstName,
    </p>
    <p style="padding: 10px 0 10px 0; line-height: 25px; margin-bottom: 0; margin-top:0;">
        To reset your password, please click <a href="@Model.Url">here.</a>
    </p>
    <p style="padding: 10px 0 0 0; line-height: 25px; margin-bottom: 0; margin-top:0;">
        Thanks,
    </p>
    <p style="padding: 0 0 0 0; line-height: 25px; margin-bottom: 0; margin-top:0;">
        Image Painting System.
    </p>
</div>