﻿@model ImagePainting.Site.Domain.Models.FreeCrewScheduleMailModel
@{ Layout = "emailLayout"; }

<p>@Model.CrewName,</p>

<p>You don't have any task assigned for, @Model.taskDate. Please complete any task you are working on.</p>

<p style="color: #1866e2 ; font-size:20px; line-height: 25px;">Notes</p>
<p style="padding: 0 0 20px 0; font-size:14px; line-height: 20px; margin-bottom: 0; margin-top:0;">@Model.Note</p>