﻿@model ImagePainting.Site.Domain.Models.ProjectionEmailModel
@{ Layout = "emailLayout"; }

<p style="color: #1866e2 ; font-size:20px; line-height: 25px; padding: 5px 0 10px 0;">
    <b>Revenue Projection for "@Model.WorkOrderName"</b>
</p>

<p style="padding-top:20px; font-size:14px">
    <b>Total Revenue Projection:</b> @Model.Projection.GrandTotal.ToString("C")
</p>

<p style="padding-top:20px; font-size:14px">
    <b>Base House</b>
</p>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;table-layout:fixed; font-size:12px;">
    <thead>
        <tr bgcolor="#f5f5f5" align="left" style="border-bottom:1px solid  #dddddd;">
            <th style="padding: 5px 5px 5px 0px;">Item</th>
            <th style="width: 100px;">Per SQFT</th>
            <th style="width: 100px;">Quantity</th>
            <th style="width: 120px;">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projection.CostItems)
        {
            <tr align="left" style="border-bottom:1px solid  #dddddd;">
                <td style="padding: 5px 5px 5px 0px;">@item.Name</td>
                <td>@item.BuilderCost.ToString("C")</td>
                <td>@Model.Projection.TotalHouseSqft.ToString("#,###")</td>
                <td>@item.CalculateTotalRevenue(Model.Projection.TotalHouseSqft).ToString("C")</td>
            </tr>
        }
        <tr align="left">
            <th colspan="3" style="padding: 5px 5px 5px 0px;">Base SubTotal</th>
            <th>@Model.Projection.BaseTotal.ToString("C")</th>
        </tr>
    </tbody>
</table>

@if (Model.Projection.ExtraItems != null && Model.Projection.ExtraItems.Count() > 0)
{       
    <p style="padding-top:20px; font-size:14px;">
        <b>Job Extras</b>
    </p>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; table-layout:fixed; font-size:12px;">
        <thead>
            <tr bgcolor="#f5f5f5" align="left" style="border-bottom:1px solid  #dddddd;">
                <th style="padding: 5px 5px 5px 0px;">Item</th>
                <th style="width: 100px;">Unit Price</th>
                <th style="width: 100px;">Quantity</th>
                <th style="width: 120px;">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Projection.ExtraItems)
            {

                <tr align="left" style="border-bottom:1px solid  #dddddd;">
                    <td style="padding: 5px 5px 5px 0px;">@item.Name</td>
                    <td>@item.BuilderCost.ToString("C")</td>
                    <td>@item.Quantity.ToString("#,###")</td>
                    <td>@item.TotalRevenue.ToString("C")</td>
                </tr>
            }

            <tr align="left">
                <th colspan="3" style="padding: 5px 5px 5px 0px;">Extra Total</th>
                <th>@Model.Projection.ExtrasTotal.ToString("C")</th>
            </tr>
        </tbody>
    </table>

}