﻿@model ImagePainting.Site.Domain.Models.PurchaseOrderEmailModel
@using ImagePainting.Site.Common.Models.Enums;
@{ Layout = "emailLayout"; }

<p style="color: #1866e2 ; font-size:20px; line-height: 25px; padding: 5px 0 10px 0;">
    <b> PO Number - @Model.PurchaseOrder.PoNumber</b>
</p>

<div style="font-size:14px">
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Store: </b>@Model.PurchaseOrder.PaintStoreLocation.StoreAddress</p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Date: </b>@Model.PurchaseOrder.Date.ToShortDateString()</p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Builder: </b>@Model.WorkOrder.Builder.Name</p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Community: </b>@Model.WorkOrder.Community.Name</p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Lot: </b>@Model.WorkOrder.Lot </p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Block: </b>@Model.WorkOrder.Block</p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Address: </b>@Model.PurchaseOrder.Address</p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Work Order: </b>@Model.WorkOrder.Name</p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Task: </b>@Model.PurchaseOrder.Task.Name</p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Color Scheme: </b> @Model.ColorScheme</p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Total House Sqft: </b> @((int)Model.WorkOrder.JobInfo.TotalSize)</p>
</div>
<br/>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; font-size:12px;">
    <thead>
        <tr bgcolor="#f5f5f5" align="left" style="border-bottom:1px solid  #dddddd;">
            <th style="padding: 5px 5px 5px 0px;">Item</th>
            <th>Supply Type</th>
            <th>Color</th>
            <th>Unit Price ($)</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PurchaseOrder.PurchaseOrderItems)
        {

            <tr align="left" style="border-bottom:1px solid  #dddddd;">
                <td style="padding: 5px 5px 5px 0px;">@item.Name</td>
                <td>@item.SupplyType</td>
                <td>@item.Color</td>
                <td>@item.UnitPrice</td>
                <td>@item.Quantity</td>
                <td>@item.Total.ToString("C")</td>
            </tr>
        }

        <tr align="left">
            <th colspan="5" style="padding: 5px 5px 5px 0px;"><b>Total</b></th>
            <th>@Model.PurchaseOrder.PurchaseOrderItems.Sum(x => x.Total).ToString("C")</th>
        </tr>
    </tbody>
</table>
@if (!string.IsNullOrWhiteSpace(Model.PurchaseOrder.DeliveryInstructions))
{
    <br />
    <p>
        <b style="color: #1866e2 !important; font-size:20px;">Delivery Instructions: @Model.PurchaseOrder.DeliveryInstructions </b>
    </p>
}
@if (!string.IsNullOrWhiteSpace(Model.PurchaseOrder.Instructions))
{
<div style="font-size:14px">
    <h4><b>Instructions: </b></h4>
    @Model.PurchaseOrder.Instructions
</div>
}