﻿@model ImagePainting.Site.Domain.Models.WorkOrderCompletionMailModel
@{ Layout = "emailLayout"; }

<p style="color: #1866e2 ; font-size:20px; line-height: 25px; padding: 5px 0 20px 0; margin-bottom: 0; margin-top:0;">
    <b>Task Completion for @Model.WorkOrderName</b>
</p>

<div style="font-size:14px">
    <p style="padding: 10px 0 10px 0; line-height: 20px; margin-bottom: 0; margin-top:0;">
        The following task has just been completed.
    </p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;">
        <b>Task: </b> <a href="@Model.TaskUrl">@Model.TaskName</a>
    </p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;">
        <b>Work Order: </b> <a href="@Model.WorkOrderUrl">@Model.WorkOrderName</a>
    </p>
    <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;">
        <b>Crew: </b> @Model.CrewName
    </p>
    <p style="padding: 10px 0 10px 0; line-height: 20px; margin-bottom: 0; margin-top:0;">
        <b>Time Completed:</b> @Model.Completed
    </p>
    <p style="padding: 20px 0 0 0; margin-bottom: 0; margin-top:0;">
        Thanks, <br>
        Image Painting System.
    </p>
</div>