﻿@model IEnumerable<ImagePainting.Site.Domain.Models.WorkOrderScheduleMailModel>
@{ Layout = "emailLayout"; }

<p style="color: #1866e2 ; font-size:20px; line-height: 25px; padding: 5px 0 10px 0;">
    <b>Task(s) for @Model.First().CrewName</b>
</p>

@foreach (var item in Model)
{
    <div style="font-size:14px">
        
        <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Work Order:</b> @item.WorkOrderName</p>
        <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Address:</b> @item.WorkOrderAddress</p>
        <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Builder:</b> @item.BuilderName</p>
        <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Community:</b> @item.CommunityName</p>
        <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Lot#: </b> @item.Lot</p>
        <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Block#:</b> @item.Block</p>
        <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Task:</b> <a href="@item.TaskUrl"> @item.TaskName</a></p>
        <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Task Scheduled For:</b> @item.ScheduleDate</p>

        @if (!string.IsNullOrWhiteSpace(item.ColorSchemeType))
        {
            <p style="padding: 10px 0 0 0; line-height: 20px; margin-bottom: 0; margin-top:0;"><b>Color Scheme:</b> @item.ColorSchemeName</p>
        }
    </div>

    <br/>

    if (item.Colors != null)
    {
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; table-layout:fixed; font-size:12px;">
            <thead>
                <tr  align="left" style="border-bottom:1px solid  #dddddd;">
                    <th style="padding: 5px 5px 5px 0px;">@item.ColorSchemeType Colors</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (KeyValuePair<string,string> colorItem in item.Colors)
                {
                    <tr align="left" style="border-bottom:1px solid  #dddddd;">
                       <td style="padding: 5px 5px 5px 0px;">@colorItem.Key</td>
                        <td>@colorItem.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <hr />
    <br />
}
@if (Model.First().Note != null)
{
    <p style="color: #1866e2 ; font-size:20px; line-height: 25px;">Notes</p>
    <p style="padding: 0 0 20px 0; font-size:14px; line-height: 20px; margin-bottom: 0; margin-top:0;">@Model.First().Note</p>
    <hr />
}

<div style="font-size: 14px;">
    <h6 style="padding: 0; line-height: 26px; margin-bottom: 0; margin-top:0;">MUST PERFORM TASK ON ASSIGNED DATE... LATE IS UNACCEPTABLE. IMMEDIATELY NOTIFY IMAGE PAINTING DIRECTLY IF YOU ARE GOING TO BE LATE TO A TASK.</h6>
    <p style="padding: 10px 0 0 0; line-height: 26px; margin-bottom: 0; margin-top:0;"><b>1. COMMUNICATE WITH CODY, DANNY OR LENNY IF THERE ARE ANY SCHEDULING CONFLICTS. THIS MUST BE COMMUNICATED THE SAME DAY YOU RECEIVE YOUR SCHEDULE.</b></p>
    <p style="padding: 10px 0 0 0; line-height: 26px; margin-bottom: 0; margin-top:0;"><b>2. LET CODY KNOW IF THERE NEEDS TO BE ANY CHANGES THE SAME DAY YOU GET YOUR SCHEDULE.</b></p>
    <p style="padding: 10px 0 0 0; line-height: 26px; margin-bottom: 0; margin-top:0;"><b>3. CHECK PAINT PURCHASE ORDERS IN THE SYSTEM TO SEE IF THE PAINT IS BEING DELIVERED OR IF YOU NEED TO PICK UP AT THE STORE.</b></p>
    <p style="padding: 10px 0 0 0; line-height: 26px; margin-bottom: 0; margin-top:0;"><b>4. COMMUNICATE WITH THE IMAGE PAINTING COMMUNITY SUPERVISOR IF YOU NEED MORE PAINT BEFORE THE START OF A SCHEDULED TASK.</b></p>
    <p style="padding: 10px 0 0 0; line-height: 26px; margin-bottom: 0; margin-top:0;"><b>5. HARD HATS ARE TO BE ON EVERY HEAD.</b></p>
    <p style="padding: 10px 0 0 0; line-height: 26px; margin-bottom: 0; margin-top:0;"><b>6. 100% OSHA COMPLIANCE IS A DAILY REQUIREMENT!</b></p>
    <p style="padding: 10px 0 0 0; line-height: 26px; margin-bottom: 0; margin-top:0;"><b>7. SECURE PAINT AFTER TASK.</b></p>
    <p style="padding: 10px 0 0 0; line-height: 26px; margin-bottom: 0; margin-top:0;"><b>8. THE TASK IS NOT COMPLETE UNTIL YOU CHECK IT COMPLETE IN THE IMAGE PAINTING SYSTEM</b></p>
    <p style="padding: 10px 0 0 0; line-height: 26px; margin-bottom: 0; margin-top:0;"><b>Thanks,</b></p>
    <p style="padding: 10px 0 0 0; line-height: 26px; margin-bottom: 0; margin-top:0;"><b>IMAGE PAINTING OF FLORIDA, INC</b></p>
</div>
<!--End Email Content-->
