﻿@model ImagePainting.Site.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    ViewBag.AccountActive = "active";
}

<div class="jumbotron child">
    <h1>@ViewBag.Title</h1>
</div>

<section class="container body-content">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label required-field" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword, "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label required-field" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @maxlength = 100 })
                @Html.ValidationMessageFor(m => m.NewPassword, "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label required-field" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @maxlength = 100 })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @PageHelpers.CancelButton("Index", "Home")
                <input type="submit" value="Change password" class="btn btn-primary" />
            </div>
        </div>
    }
</section>
