﻿@model SiteViewModel<List<Store>>

@{ 
    ViewBag.Title = "Paint Stores";
    ViewBag.SetupActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
    var model = Model.ViewModel;
}
 
<div class="jumbotron child">
    <h1>Paint Stores</h1>
</div>

<section class="container body-content">
    @if (isAdmin)
    {
        <div class="row col-md-12">
            @Html.ActionLink("Add Store", "Store", null, new { @class = "btn btn-primary pull-right", style = "margin-bottom:15px" })
        </div>
    }
    

    <div class="panel-group row col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var store in model)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href=@($"#collapse{store.Id}") aria-expanded="true" aria-controls=@($"#collapse{store.Id}")>
                            @store.StoreName
                        </a>
                    </h4>
                </div>
                <div id=@($"collapse{store.Id}") class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body table-responsive">
                        <table class="table data-table">
                            <thead>
                                <tr>
                                    <th>Location ID</th>
                                    <th>Address</th>
                                    <th>Contact Name</th>
                                    <th>Contact Phone Number</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var location in store.Locations)
                                {
                                    <tr class="hideable-container">
                                       <td>
                                          @if (!location.LocationId.IsNull())
                                          {
                                            @Html.ActionLink($"{location.LocationId}", "Store", new { id = store.Id, locationId = location.Id })
                                          }
                                       </td>
                                        <td>@Html.ActionLink($"{location.StoreAddress}, {location.StoreCity}, {location.StoreZipCode}", "Store", new { id = store.Id, locationId = location.Id })</td>
                                        <td>@location.StoreContactName</td>
                                        <td><a href=@($"tel:+1{location.StoreContactPhone}")>@location.StoreContactPhone</a></td>
                                        <td>@location.StoreContactEmail</td>
                                        <td>
                                            <button class="btn btn-xs btn-danger pull-right hideable"
                                                    data-execute="true"
                                                    data-url="@Url.Action("DeleteLocation", "PaintStores")"
                                                    data-data="@((new {id = location.Id}).ToJson())"
                                                    data-confirmmessage='Do you want to delete "@location.StoreAddress" location from @store.StoreName store?'
                                                    data-confirmtitle="Delete Store Location?"
                                                    data-redirect="@Url.Action("Index", "PaintStores")">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (isAdmin)
                        {

                            <div class="pull-right">

                                <button class="btn btn-danger"
                                        data-execute="true"
                                        data-url="@Url.Action("DeleteStore", "PaintStores")"
                                        data-data="@((new {id = store.Id}).ToJson())"
                                        data-confirmmessage='Builder Supplies and Unsent Purchase Orders to "@store.StoreName" will also be deleted. Continue?'
                                        data-confirmtitle="Delete Store?"
                                        data-redirect="@Url.Action("Index", "PaintStores")">
                                    Delete
                                </button>


                                @Html.ActionLink("Add Location", "Store", new { id = store.Id }, new { @class = "btn btn-default" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        
        </div>
       
</section>