﻿@model SiteViewModel<PaintStoreViewModel>
@{ 
    ViewBag.Title = "PaintStore";
    ViewBag.SetupActive = "active";
    var isAdmin = Model.UserHelper.IsUserAdmin();
    var model = Model.ViewModel;
}

<div class="jumbotron child">
    <h1>@(model.LocationId == default(int) ? "Paint Store Location" : $"Paint Store Location - {model.LocationId}")</h1>
</div>

<section class="container body-content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @(Html.For(model).HiddenFor(x => x.StoreId))
        @(Html.For(model).HiddenFor(x => x.LocationId))

        <div class="row col-md-12">
            <label class="check">
                @(Html.For(model).CheckBoxFor(x => x.Active,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, formControl: false))) Active
                <span class="animated-checkbox"><i class="animated-checkbox-icon glyphicon glyphicon-ok"></i></span>
            </label>
        </div>
        
        <div class="row">
            <div class="col-md-6 form-group">
                
                @(Html.For(model).LabelFor(x => x.StoreName, new { @class = "required-field" }))
                @(Html.For(model).TextBoxFor(x => x.StoreName,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 64)))
                @(Html.For(model).ValidationMessageFor(x => x.StoreName, "", new { @class = "text-danger" }))
            </div>

            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.StoreLocationId))
                @(Html.For(model).TextBoxFor(x => x.StoreLocationId,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 50)))
                @(Html.For(model).ValidationMessageFor(x => x.StoreLocationId, "", new { @class = "text-danger" }))
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.StoreAddress, new { @class = "required-field" }))
                @(Html.For(model).TextBoxFor(x => x.StoreAddress,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 64)))
                @(Html.For(model).ValidationMessageFor(x => x.StoreAddress, "", new { @class = "text-danger" }))
            </div>
            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.StoreCity, new { @class = "required-field" }))
                @(Html.For(model).TextBoxFor(x => x.StoreCity,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 64)))
                @(Html.For(model).ValidationMessageFor(x => x.StoreCity, "", new { @class = "text-danger" }))
            </div>
       </div>

        <div class="row">
            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.StoreZipCode, new { @class = "required-field" }))
                @(Html.For(model).TextBoxFor(x => x.StoreZipCode,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 64)))
                @(Html.For(model).ValidationMessageFor(x => x.StoreZipCode, "", new { @class = "text-danger" }))
            </div>
            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.StoreContactEmail, new { @class = "required-field" }))
                @(Html.For(model).TextBoxFor(x => x.StoreContactEmail,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 64, type: "email")))
                @(Html.For(model).ValidationMessageFor(x => x.StoreContactEmail, "", new { @class = "text-danger" }))
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.StoreContactName))
                @(Html.For(model).TextBoxFor(x => x.StoreContactName,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 64)))
            </div>
            <div class="col-md-6 form-group">
                @(Html.For(model).LabelFor(x => x.StoreContactPhone))
                @(Html.For(model).TextBoxFor(x => x.StoreContactPhone,ViewHelper.GetHtmlAttributes(disabled: !isAdmin, maxLength: 64, dataMask: "(000) 000-0000")))
                @(Html.For(model).ValidationMessageFor(x => x.StoreContactPhone, "", new { @class = "text-danger" }))
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                @PageHelpers.CancelButton("Index", "PaintStores")

                @if (isAdmin)
                {
                    if (model.LocationId != default(int))
                    {
                        <button class="btn btn-danger"
                                data-execute="true"
                                data-url="@Url.Action("DeleteLocation", "PaintStores")"
                                data-data="@((new {id = model.LocationId}).ToJson())"
                                data-confirmmessage='Do you want to delete "@(model.StoreAddress)"?'
                                data-confirmtitle="Delete Store Location?"
                                data-redirect="@Url.Action("Index", "PaintStores")">
                            Delete
                        </button>
                    }
                <input type="submit" value="Save" class="btn btn-primary" />

                }
            </div>
        </div>
    }
</section>